[2018-12-02 22:41] hlapp commented on #722
Turns out the errors started on Dec 1, 2018, which is when NCBI started enforcing API limits. So it can probably be assumed that this always broken, and the difference is that it is showing only now.

To add to the original write-up, in actuality not even with a single point in the code through which all calls run would be able to prevent exceeding the rate limit. For example, tests might be run i

[2018-12-02 23:30] hlapp commented on #722
I also notice that `httr::RETRY()` recognizes out of the box the combination of the `retry-after` header and HTTP status 429. So this could be made to work generically without additional code by simply using `httr::RETRY()`, if the code hadn't been switched previously to use `crul` instead of `httr`.

BTW also found where `retry_until_it_works()` is defined. (Why Github search doesn't find it is a

[2018-12-03 17:34] sckott commented on #722
waits were added because we attempted to not exceed limits on behalf of the user, which NCBI suggested years back.

it would have been useful if you told me what taxize function you are talking about?

I gave up on `httr` because for many years they were unresponsive to bug reports/etc. - i make a lot of web request pkgs, so decided to make my own pkg (`crul`) that I control

Does NCBI return thes

[2018-12-03 22:22] hlapp commented on #722
It is `get_uid()`. This is what `RNeXML::taxize_nexml()` calls.

I see, I wasn't aware of that5

Yes they do, actually. (Perhaps only since Dec 1, I did not test prior to that.) The retry method I propose in ropensci/crul#95 actually handles NCBI eutils automatically due to that.

[2018-12-04 22:23] sckott commented on #722
Okay, i'll have a look at the `crul` PR

[2018-12-05 20:27] sckott opened #724 "namespace calls to use_* in messages"
when using taxize from another package, it'd be helpful to namespace the functions pointed out so users don't have to guess. so do `taxize::use_entrez()` below instead of `use_entrez()`

[code]

[2018-12-06 18:38] sckott commented on #724
fixed in #725

[2018-12-06 18:38] #724 closed

[2018-12-12 14:12] jiacona commented on #598
Hi @sckott, I'm the lead developer for POWO and while we haven't officially published our API for public consumption yet, version 2 of the API should be stable. I think we will mostly be recommending people use our published libraries to interact with it (see https://github.com/RBGKew/pykew) so you can refer to pykew as the canonical way to interact with the API. It doesn't yet implement all the f

[2018-12-12 19:00] sckott commented on #598
thanks for the ping @jiacona

I'll have a play soon on a branch and will let you know if I have any questions. Some immediate questions are:

- is there rate limiting?
- is there any way to know about API changes?

[2018-12-13 11:40] jiacona commented on #598
Great, thanks for the reply.

We don't have much traffic at the moment so there is currently no rate limiting. However, it would be great if you could be conscientious with it. I have built rate limiting pykew which you can emulate. Also, if you need to use paging, please use the cursor based method -- also used in pykew.

Unfortunately I don't have a great answer for knowing about future API chan

[2018-12-13 17:33] jiacona commented on #598
It is: https://github.com/RBGKew/powop

[2018-12-15 02:59] sckott commented on #598
started work on branch `kew-api` https://github.com/ropensci/taxize/tree/kew-api - fxns `pow_search()`, `pow_lookup()`, `get_pow()`, and as an option in `classification()`

[2018-12-16 13:53] paternogbc commented on #681
I had the exact same problem. Thanks!

[2018-12-16 15:57] paternogbc opened #726 "Error: curl::curl_fetch_memory(x$url$url, handle = x$url$handle)"
Helo, I am getting an error every time I try to run `get_uid` or `get_taxa` for a long list of species.

[code]
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-12-16 18:18] sckott commented on #726
can you give a reproducible example that fails?

[2019-01-14 16:13] fischhoff opened #727 "Error using downstream to get bacterial species"
Hello! Thank you for creating this package. I'm running into an issue getting bacterial species with downstream. I get results when I use downstream to access "phyla" (and "order" and "family"), but not with "species". I've looked at related issues but didn't see a solution in one of those.

<details> <summary><strong>Session Info</strong></summary>
R version 3.4.4 (2018-03-15)
Platform: x86_64-ap

[2019-01-14 17:31] sckott commented on #727
thanks for the report @fischhoff - i hope you don't mind I edited your issue just to collapse the session info to be able to focus on your question, and I put the code in an R code block

looking at it now

[2019-01-16 20:15] sckott commented on #727
Drilling down, sorting out a few things, but still not fixed yet. Will let you know when this is fixed.

In the meantime, do you know about `taxizedb`? It's probably a better fit for queries like these that go so far down the taxonomic tree, e.g.,

[code]

took only about 30 seconds or so

[2019-01-16 20:34] fischhoff commented on #727
Hi @sckott Thanks for proposing this solution! This worked.
I had actually tried to use taxizedb before but with "Bacteria".
b <- downstream("Bacteria", db = "ncbi", downto="species", out_type = "summary")
 Error in name2taxid(x[is_named], db = "ncbi") :
Some of the input names are ambiguous, try setting out_type to 'summary'

Using the taxid (bacteria = 2) worked, though!

[2019-01-16 20:43] sckott commented on #727
glad it worked, and thanks for the bug report on `taxizedb`. i'll open an issue over there.

[2019-01-17 17:57] arendsee commented on #727
@fischhoff FYI, the reason `taxizedb` is complaining about "Bacteria" is because the name actually is ambiguous. "Bacteria" is also the name of a genus of walking sticks.

[code]

[2019-01-17 19:35] fischhoff commented on #727
Thanks for the explanation, @arendsee! There must have been a reason to call walking sticks "Bacteria", but it seems a confusing choice!

[2019-01-17 19:53] arendsee commented on #727
@fischhoff, it looks like the walking stick may have had the name first, actually. The Bacteria genus was named in [1825](https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=629395&lvl=3&lin=f&keep=1&srchmode=1&unlock). The word for the microbes was coined in [1847](https://www.etymonline.com/word/bacteria).

[2019-01-17 20:47] fischhoff commented on #727
@arendsee Cool!  And the etymology (Latin/Green for rod/stick) fits both. https://www.etymonline.com/word/bacteria

[2019-01-17 21:13] arendsee commented on #727
@fischhoff Yeah, good point.

[2019-01-23 22:19] sckott opened #728 "a test failing on CRAN, skip"

[2019-01-23 22:33] #728 closed

[2019-01-24 00:46] #726 closed

[2019-01-24 00:48] sckott commented on #697
i think this is done now

[2019-01-24 00:48] #697 closed

[2019-01-24 00:52] #683 closed

[2019-01-24 01:04] #718 closed

[2019-01-24 01:04] #727 closed

[2019-01-24 01:05] sckott commented on #727
@fischhoff should be working now

[2019-01-24 01:12] sckott opened #729 "vcr the low hanging easy test fruits"

[2019-01-24 09:59] benjaminschwetz opened #730 "downstream fails for Bacillus"
I tried to query all species under Bacillus from NCBI but got an error instead.
[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-01-24 15:20] sckott commented on #730
thanks for the report!  it should be fixed now, via related issue https://github.com/ropensci/taxize/issues/727

can you reinstall from here `remotes::install_github("ropensci/taxize")`, restart R, and try again

[2019-01-24 16:38] benjaminschwetz commented on #730
Yes, I've tested it and it works now. Thanks a lot @sckott. This was quick 👍

[2019-01-24 16:38] #730 closed

[2019-01-26 17:59] #590 closed

[2019-01-26 17:59] #729 closed

[2019-01-26 21:36] sckott opened #731 "_R_CHECK_LENGTH_1_LOGIC2_ R-devel problems"
* `bold_search` - https://github.com/ropensci/bold/issues/57
* `` -

[2019-01-29 00:31] sckott commented on #731
fixed in bold, need dev bold version, but not waiting to get new version to cran first

[2019-01-29 00:31] #731 closed

[2019-02-04 13:04] andzandz11 commented on #681
I had the same problem. I cannot supply via function call although the manual suggets it is possible.

[2019-02-04 17:49] #544 closed

[2019-02-04 23:37] sckott commented on #681
where does it say this? to what function?

[2019-02-05 23:42] sckott opened #732 "Maybe change fxns that have prompts: if not interactive, don't prompt"

[2019-02-05 23:51] sckott opened #733 "Collate usage in papers/repos to glean what we can do better"
- article: https://peerj.com/articles/4662/ code: https://dfzljdn9uc3pi.cloudfront.net/2018/4662/1/RADseq_microbiome_code.R
- article: https://www.pnas.org/content/115/51/13027/ code: https://github.com/AnahiEspindola/PelletierEtAlPNAS/blob/9b1f363dba3baddd31c084738d6bff18534edda8/SpatialMorpho/PrepareDatasets.R
- article: https://onlinelibrary.wiley.com/doi/abs/10.1111/geb.12820 code: https://fig

[2019-02-12 20:22] ahhurlbert opened #734 "`classification()`: allow for exact matches of taxon name"
I use `classification` in bulk name cleaning, and would like to minimize the interactive feature as much as possible. Currently, let's say I search for 'Melospiza' from ITIS:
[code]

In this case, an interactive session opens because of uncertainty in whether I meant another taxon entirely that happened to have the string 'melospiza' in its name, the genus itself, or any number of species or subsp

[2019-02-12 22:41] sckott commented on #734
thanks @ahhurlbert

see also related issue https://github.com/ropensci/taxize/issues/631

[2019-02-13 01:28] sckott commented on #734
@ahhurlbert try again after reinstall `remotes::install_github("ropensci/taxize")`, and reloading sesssion

now I get

[code]

the actual changes were in the `get_*` functions which do that name negotiation

[2019-02-13 02:04] ahhurlbert commented on #734
Thank you! This seems to have resolved the problem as expected for *most* of the names I've checked (several dozen), but two that still have the original problem are 'Columba' and 'Heterodon'.

[2019-02-13 05:04] sckott commented on #734
thanks, will look

[2019-02-13 09:41] PrincessPi314 opened #735 "iucn_summary API key"
When I use the iucn_summary function with my IUCN API key I get the error:

Retrieving data for taxon 'Lutra lutra'

Error: need an API key for Red List data

The strange thing is the key works when I use the functions from the rredlist package or in the function iucn_id() .....

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-02-13 15:09] sckott commented on #735
Can you please share your `sessionInfo()` (or `devtools::session_info()`)

[2019-02-13 15:14] sckott commented on #734
Looks like `get_tsn('Columba', accepted=TRUE)` and `get_tsn('Heterodon', accepted=TRUE)` work

[2019-02-13 15:14] sckott commented on #734
both of those egs have a valid and invalid entry for each name

[2019-02-13 15:32] PrincessPi314 commented on #735
Session info ---------------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.0 (2017-04-21)
 system   x86_64, darwin15.6.0
 ui       RStudio (1.0.143)
 language (EN)
 collate  en_US.UTF-8
 tz       Europe/Copenhagen
 date     2019-02-13

Packages -----------------------------------------------------------------------------------------

[2019-02-13 18:48] ahhurlbert commented on #734
Great! `classification('Columba', db = 'itis', accepted = TRUE)` works perfectly! Thanks

[2019-02-13 20:45] sckott commented on #734
note that not all `get_*` fxns have the same parameters though. e.g., `accepted` is in some but not others, but as long as you are just using itis, then you're good

[2019-02-13 20:57] sckott commented on #735
@PrincessPi314 would you be willing to update? At least to the current CRAN version `v0.9.5`

It's fixed in the current version on CRAn

[2019-02-14 00:59] sckott opened #736 "New approach to get_* iterating?"
Thinking of the following:

## prompt

on a prompt, use `cli` pkg to make a nicer on the eyes prompt, e.g.,

[code]

![screen shot 2019-02-13 at 4 32 10 pm](https://user-images.githubusercontent.com/577668/52753789-f56db980-2fac-11e9-83fe-68bfae500938.png)

And if possible, when after giving data.frame of results in the prompt, remove it from the console to clean up

Asked about this here https://

[2019-02-14 01:04] #734 closed

[2019-02-14 08:01] PrincessPi314 commented on #735
I updated taxize, but the problem remains the same:

Retrieving data for taxon 'Lutra lutra'
Error: need an API key for Red List data

[1] 12419

Session info:

Session info -------------------------------------------------------------------------
 setting  value
 version  R version 3.4.0 (2017-04-21)
 system   x86_64, darwin15.6.0
 ui       RStudio (1.0.143)
 language (EN)
 collate  en_US.UTF-8

[2019-02-14 20:10] sckott commented on #735
Did you reload R after installing the new version?

[2019-02-15 00:30] sckott commented on #736
## progress bars

Trying but to no avail. I think this will be marked as not gonna happen. 🛑

[2019-02-15 01:08] sckott commented on #736
work on this on branch https://github.com/ropensci/taxize/compare/getstar-saving-state

to try the experimental new stuff:

[code]

[2019-02-15 08:40] PrincessPi314 commented on #735
Yes, I did but its still not working. I get a warning when loading the taxize library:
Warning message:
package ‘taxize’ was built under R version 3.4.4
i guess i should update R...

[2019-02-15 17:56] sckott commented on #735
It wouldn't hurt to get the latest version of R. Let me know what happens

[2019-02-18 14:51] PrincessPi314 commented on #735
Just ran the function on my colleagues computer who has the latest version of R, the latest version of taxize and is using a different IUCN API key and she has the same problem....
Not sure what else can be done...

Her session info:

─ Session info ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 setting  value
 version  R v

[2019-02-18 17:14] bienflorencia opened #737 "update The Reptile Database"
[code]

[2019-02-18 18:26] sckott commented on #737
Can you clarify? We don't include that database in this package.

[2019-02-18 20:47] sckott opened #738 "Amphiweb?"
https://amphibiaweb.org/taxonomy/index.html

[2019-02-18 22:03] sckott commented on #735
@PrincessPi314 can you reinstall `remotes::install_github("ropensci/taxize")` and try again pleas, should be fixed now

[2019-02-19 15:40] bienflorencia commented on #737
I did put it a little confussing, sorry for that. My first issue report and maybe is something I got wrong.

When running gnr_datasources() the id number 173 is The Reptile Database. When checking some names, I was getting different results from what was in the website of The Reptile Database. I checked the link "https://resolver.globalnames.org/data_sources.json" of the fuction gnr_datasources()

[2019-02-20 13:26] PrincessPi314 commented on #735
It works! Thank you so much!!!!!!

[2019-02-20 13:26] #735 closed

[2019-02-20 17:49] sckott commented on #735
great, glad it works now

[2019-02-20 18:01] sckott commented on #737
thanks for the clarification.

Global Names Resolver does indeed have older version of data than are available directly from the data sources. The trade off is that you get data from many sources through GNR, but they are not always up to date.

I will add more to the documentation for this fxn about age of data to make it clear

[2019-02-20 19:48] bienflorencia commented on #737
Yes, GNR is good to check for alternatives. Sadly, they don't retrieve the newest versions of the sources.
Indeed, it may be useful you could include that in the documentation.
Thanks for your time! (and patience)

[2019-02-21 01:42] sckott commented on #598
changes in b4d5800 and 4370d43

[2019-02-21 01:44] #598 closed

[2019-02-21 01:48] sckott commented on #598
install latest

[code]

see functions `?get_pow`, `classification.pow`, `pow_search`, and `pow_lookup`

[2019-02-21 02:44] #737 closed

[2019-02-22 15:21] #480 closed

[2019-02-22 19:36] #662 closed

[2019-02-22 20:04] sckott opened #740 "bug in `get_wormsid()`: failing when direct match found, but found > 1"
[code]

[2019-02-22 20:22] sckott opened #741 "bug in `get_*` fxns: rows checking needs fixing"

[2019-02-22 20:25] #702 closed

[2019-02-22 20:25] #740 closed

[2019-02-22 20:25] #741 closed

[2019-02-22 20:43] sckott commented on #631
the two remaining `get_boldid` and `get_tolid` we'll fix if the use cases appear that address this problem. closing for now

[2019-02-22 20:43] #631 closed

[2019-02-22 21:26] sckott opened #742 "various eol fixes"
- uri's given back need updating
- `rank` and `datasource` are not documented
- `getsourceshortnames` internal fxn has very very few of the possible data sources. may need to use a way of generating a short name automatically - removing this, goign back to long names

[2019-02-22 21:37] #742 closed

[2019-02-23 00:01] sckott opened #743 "`get_colid`: we need to paginate if possible to get all results"

[2019-02-23 02:26] sckott opened #744 "`as.colid.character` need to distinguish between COL ids as UUID and names as character"

[2019-02-23 06:55] sckott commented on #744
nevermind, didn't design `as.colid` to handle name strings

[2019-02-23 06:55] #744 closed

[2019-02-23 16:54] #743 closed

[2019-02-26 02:22] sckott opened #745 "fill out tests for direct match behavior in get_* fxns"
building on #631

[2019-02-27 10:19] jiacona commented on #598
Just to let you know, we have been getting some abuse of the API that meant I needed to implement rate limiting. Hopefully this won't impact legitimate use of the API, but if you want to handle it you can watch for 429 responses and wait a second before retrying.

[2019-02-27 16:57] sckott commented on #598
thanks @jiacona what are the rate limits? Are there per sec, per min, per hour, per 24 hour rates?

[2019-02-28 11:02] jiacona commented on #598
At the moment it is limited to 5 requests per second. We may have to revise in the future, but this should catch the current offending traffic and hopefully not impact anyone else.
________________________________
From: Scott Chamberlain <notifications@github.com>
Sent: 27 February 2019 16:57
To: ropensci/taxize
Cc: John Iacona; Mention
Subject: Re: [ropensci/taxize] Kew's plants of the world (#59

[2019-02-28 19:05] sckott commented on #598
Okay, thanks

[2019-03-06 15:30] binkySallly opened #747 "cannot install in windows"
Hello,

  I can't install taxize in wondows. Three of the dependencies are not binary:

Des versions binaires sont disponibles mais les versions des sources sont plus récentes:
         binary source needs_compilation
curl        2.5    3.3              TRUE
solrium   0.4.0  1.0.2             FALSE
jsonlite    1.4    1.6              TRUE
tibble    1.3.0  2.0.1              TRUE
crul      0.3.4  0

[2019-03-06 17:30] sckott commented on #747
thanks for your report @binkySallly

R 3.2.2 is a very old version of R. Are you willing to upgrade R?  I think that would be a good idea. Then `taxize` installation should work good.

[2019-03-06 17:59] binkySallly commented on #747
Thank you !!
:-)

[2019-03-06 17:59] #747 closed

[2019-03-08 12:36] matteodelucchi commented on #726
I got the same error with:
`> classification(4097, db="ncbi")`
resulting in:
`Error in curl::curl_fetch_memory(x$url$url, handle = x$url$handle) :
  Error in the HTTP2 framing layer`

However the error doesn't  always appear:
When I try with an other id:
`> classification(4072, db="ncbi")`
it works.

When I wait for a bit and try it again with the first id, it works...

The error is not depending

[2019-03-08 18:45] sckott commented on #726
thanks @matteodelucchi - session info should also at least include the version of the package in question (taxize)

seems from https://github.com/jeroen/curl/issues/156 that ideally its a server fix, but we don't control that, so possibly this https://github.com/jeroen/curl/issues/156#issuecomment-410241974 where you can set a curl option, with taxize that would be e.g., `classification(4072, db="

[2019-03-09 11:59] matteodelucchi commented on #726
I use
`packageVersion("taxize")`
[1] ‘0.9.6’

When I disable http/2 it seems to work!
Thank you for your help!

[2019-03-11 21:04] #658 closed

[2019-03-22 05:53] joelnitta commented on #726
I posted a comment at https://github.com/ropensci/rentrez/issues/127 that I think is relevant to this issue.

tldr: you also might want to try `httr::set_config(httr::config(http_version = 0))` before using `classification()` if the above fix doesn't work.

[2019-03-22 16:47] sckott opened #749 "eol: no api key with new api (unless Cypher)"
update docs in pkg to remove api key needed for EOL, check to make sure that's true

[2019-03-27 14:55] sckott opened #750 "World Bird List?"
https://www.worldbirdnames.org/
https://www.worldbirdnames.org/ioc-lists/master-list-2/
xml: https://www.worldbirdnames.org/master_ioc-names_xml.xml

[2019-03-29 21:16] sckott commented on #508
notes on taxa integration:

- is there any way from a `Taxa` object to get all ids, or all ranks, etc. across all `Taxon`'s within it
- ...

[2019-03-29 21:34] zachary-foster commented on #508
yes, on the `eval` branch `taxon_ids`, `taxon_names`, and `taxon_ranks` are character-based S3 getters/setters. `obj$ids`, `obj$ranks`, and `obj$names` are R6 object-based getters/setters (active bindings).

[2019-03-29 21:52] sckott commented on #508
ok, thanks

[2019-04-10 01:48] sckott commented on #736
more changes in 798c54385074dc33e9f1a5edb7f2b1a23b7f3114 (forgot issue ping)

[2019-04-12 12:12] Rekyt opened #752 "French Taxonomical Reference: TaxRef"
Hi, the French Taxonomical Reference has a nice REST API detailed here https://taxref.mnhn.fr/taxref-web/api/doc and we're currently building the [`taxref`](https://github.com/Rekyt/rtaxref) package to make the data easily accessible.

We were thinking that it would be a good addition to `taxize` sources.
I'm planning to submit a PR to `taxize` with specific `get_taxref()` functions that would use

[2019-04-12 18:38] sckott commented on #752
sounds good @Rekyt

note that some changes are coming to `get_*` functions, not sure when i'll merge it into master and send to cran, hopefully soon though

See https://github.com/ropensci/taxize/issues/736#issuecomment-463867073

-----

also affecting `get_*` functions, farther down the road though, is the integration of `taxa` pkg to give back it's data classes https://github.com/ropensci/taxize

[2019-05-02 21:32] dwinter commented on #726
Hi all, if this is still an issue for anyone I think the latest version of `rentrez` (v1.2.2 bouncing around CRAN mirrors now) will have sorted this problem. It's possible some of the work-arounds people have used will produce warning messages, because `rentrez` is setting the `http_version` option to match the NCBI sever (and `warning` if this overwrites another config)

[2019-05-02 21:34] sckott commented on #726
thanks @dwinter

[2019-05-08 20:22] sckott opened #754 "fix encoding errors in fixtures"

[2019-05-08 21:01] #754 closed

[2019-05-12 20:40] dougwyu opened #755 "Natrix natrix, "col", Error in doc_parse_raw(x, encoding = encoding, base_url = base_url, as_html = as_html, : CData section not finished"
Throws an error
`mismatch_natrix <- classification("Natrix natrix", db="col", return_id=FALSE, rows=1)`

[code]

Doesn't throw an error
`mismatch_natrix <- classification("Natrix natrix", db="itis", return_id=FALSE, rows=1)`

[2019-05-13 18:43] sckott commented on #755
please include session info as requested

[2019-05-14 20:48] sckott opened #756 "special response parsing needed for COL"
from #755

COL at least in some cases returns error messages within the response body, BUT does not give the appropriate http status code

[code]

[code]

[2019-05-18 10:29] dougwyu commented on #755
R 3.6.0
taxize 0.9.7

other species that throw the same error:
`classification("Hemidactylus adensis", db="col", return_id=FALSE, rows=1)`
`classification("Hemidactylus awashensis", db="col", return_id=FALSE, rows=1)`

[2019-05-20 17:43] sckott commented on #755
it's an issue with `xml2` - opened an issue there https://github.com/r-lib/xml2/issues/256

[2019-05-20 19:16] dougwyu commented on #755
https://en.m.wiktionary.org/wiki/široký

Sent from my iPhone
On 20 May 2019, 18:43 +0100, Scott Chamberlain <notifications@github.com>, wrote:

[2019-05-20 23:54] #736 closed

[2019-05-22 01:54] ocstringham opened #758 "gbif_downstream failing on some families and orders"
When using gbif_downstream, some keys of higher taxa (family, order, etc) throw an error when going downto species.

For example for Crocodylia (Crocodile order; GBIF key = 704), this works:

[code]
But these don't:
[code]
And give this error:
[code]

I'm not sure what the error means/how to fix it.

[2019-05-22 21:53] dougwyu opened #759 "timeout with downstream() to ITIS"
When I run the following, i get a timeout error.

`taxon_list<-downstream(get_tsn("Tetrapoda"),db="itis",downto="species")`

`get_tsn("Tetrapoda")` works fine

<details> <summary><strong>Session Info</strong></summary>

[code]

</details>

[2019-05-24 19:57] sckott commented on #759
thanks, checking. note that this should take a long time since it's coming from a high taxon, so likely that there was just a random timeout given lots and lots of requests

[2019-05-24 21:05] sckott commented on #759
one option is to try `taxizedb::downstream`, but your only option there is ncbi

[2019-05-25 00:31] sckott commented on #759
I could not replicate your problem. I expect that it was just an intermittent problem on the ITIS end of things.

[2019-05-25 06:01] dougwyu commented on #759
hmm, i've replicated this multiple times.  it might be that i'm in the UK. i'll try on other systems

[2019-05-25 16:40] sckott commented on #759
next time it errors run `traceback()` after the error so we can see where the error is coming from

[2019-05-26 06:01] dougwyu commented on #759
it worked!  it just needs to have a fast internet connection, and even then, it took 8 hours

[2019-05-26 06:02] #759 closed

[2019-05-28 19:04] sckott commented on #759
if you are okay with ncbi data, give taxizeb a try, its much faster.

[2019-05-29 17:41] sckott commented on #758
thanks for the report @ocstringham and sorry for the delay!

please can you share the output of `sessionInfo()` please

it's probably a rank name we haven't seen before is my guess, but we'll see

[2019-05-29 18:28] #758 closed

[2019-05-29 18:28] sckott commented on #758
try again after reinstalling

[2019-05-30 00:00] ocstringham commented on #758
Thanks for your responses and help! I reinstalled taxize but still get the same error for multiple taxa. For example, the Tortoise family, Testudinidae (GBIF ID = 9618): `gbif_downstream(key =9618, downto = 'species')`

Gives the same error: `Error in vapply(x$rank, function(z) which_rank(z), 1) :
  values must be length 1,
 but FUN(X[[51]]) result is length 0`

Here is my sessioninfo
`> sessionIn

[2019-05-30 16:35] sckott commented on #758
did you restart R after installing?

[2019-05-31 00:22] ocstringham commented on #758
It works. I didn't realize I needed to install the devo version (duh me!). Thanks @sckott for your help and maintaining taxize - I use it ton and appreciate it a lot!

[2019-05-31 00:38] sckott commented on #758
great, glad you sorted it out.

thx for the kind words - so glad it's useful

[2019-05-31 04:36] #755 closed

[2019-05-31 04:36] sckott commented on #756
fix via 49523d75c26216294a64bb3354496e00898fffaa

[2019-05-31 04:36] #756 closed

[2019-05-31 04:36] sckott commented on #755
@dougwyu reinstall, reload R, and try again, should work now

[2019-05-31 07:29] dougwyu commented on #755
I installed the development version
`remotes::install_github("ropensci/taxize")`

and these work now:
`taxize::classification("Natrix natrix", db="col", return_id=FALSE, rows=1)`
`taxize::classification("Hemidactylus adensis", db="col", return_id=FALSE, rows=1)`
`taxize::classification("Hemidactylus awashensis", db="col", return_id=FALSE, rows=1)`

thanks!

[2019-06-14 20:44] sckott opened #760 "worrms changes"
`id2name` and `worms_downsteam` use `worrms::wm_record_()` - which is now marked as deprecated. `wm_record()` now can do >1 id input - switch to using `wm_record()` within these fxns

[2019-06-26 18:42] #760 closed

[2019-07-01 23:48] sckott opened #761 "bug in get_nbnid: returning non-taxon entities in addition to taxa"
via @zachary-foster

[2019-07-01 23:59] #761 closed

[2019-07-02 00:09] sckott opened #762 "bug in many as.x fxns: problems related to tax_GET helper fxn"

[2019-07-02 19:16] #762 closed

[2019-07-11 22:06] zachary-foster opened #763 "`synonyms` return type for COL when no synonyms found"
Hi @sckott, I was using the `synonyms` function for my research (very useful by the way) and noticed some odd behavior when using COL as the db:

[code]

It returns a list with an empty `rank`, instead of `NA` or `list()` like the other databases.
I fixed it in my local version of `taxize` (cloned today), so that it returns `NA`, but is that the right output if the the query is found but there are

[2019-07-12 05:00] ocstringham opened #764 "get_id with multiple results: no prompt but return all rows with status and matchtype?"
I would like to obtain all rows in the get_*id function. For, example

`temp = get_gbifid(sciname = 'Ctenosaura palearis', ask = TRUE)` gives the prompt

And I must select one row and it only returns the one row I select. If I change ask to `ask = FALSE`, then it returns an `NA` because there is more than one result.

Is it possible to add an additional parameter that returns all results? And also

[2019-07-12 09:51] sckott commented on #764
thanks for your question @ocstringham

have you tried the underscore methods? e.g., try `get_gbifid_(sciname = 'Ctenosaura palearis')`

[2019-07-17 18:23] sckott commented on #763
thanks @zachary-foster

Ideally the result from the fxn should be consistent (`NA`) across db options. So yeah, if you could send PR for that, that'd be great.

Not sure what you're asking here, can you clarify?

[2019-07-17 20:06] zachary-foster commented on #763
Ok, I will send a PR.

I mean in cases like:

[code]

where 'Aphanomyces euteiches' exists in the database, but there are no synonyms, vs

[code]
In my ideal world, in the first case, there would be a zero-length output in the format that is normally returned for things with synonyms, but in the latter case  `NA` would make sense. Users might want to treat each case differently, although they coul

[2019-07-17 20:06] zachary-foster commented on #763
oops clicked wrong button

[2019-07-17 21:58] sckott commented on #763
hmm, i see now. I think it's more important to return fewer different output types. So a data.frame for found synonyms, or if no synonyms, then NA. I think it makes more sense for users to first use a `get_*` fxn then pass to other fxns (synonyms, children, etc.) anyway, but i imagine most don't do that :) Maybe we could put in the attributes whether the taxon was not found OR was found but no syn

[2019-07-17 22:45] zachary-foster commented on #763
Yea, minimal output types is good. I was thinking same output type, but no length, so if the taxon is in the database but not found, it would return a data.frame with 0 rows and the same columns as when there are synonyms. A potential issue with this is that the API might not return information to indicate what column should be present if there are no synonyms and which columns each database will

[2019-07-18 00:28] #763 closed

[2019-07-18 00:37] sckott commented on #763
We're already not consistent it turns out. e.g,

[code]

So the name was found in ITIS, but no synonyms found.

So maybe we should return zero row data.frames when the name is found, but no syn data found and NA when the name not found.

Synonyms is kind of a mess since the data returned varies so widely, so hard to sort out a way to give common data fields back.

[2019-07-18 02:39] zachary-foster commented on #763
Yea, I noticed that too when I was messing with different databases. To make them return the same columns would throw out a bunch of useful info for some databases.

[2019-07-18 19:18] sckott commented on #763
okay, will fix this to be consistent

[2019-07-18 23:48] sckott commented on #763
@zachary-foster  okay, outpus should be consistent now.

- always NA for name not found
- always zero row data.frame w/o names when name found but no sysnonyms found

[2019-07-18 23:53] zachary-foster commented on #763
Nice! That sounds good

[2019-07-19 19:02] sckott opened #766 "switch eubon to new API version"
new version at https://cybertaxonomy.eu/eu-bon/utis/1.3/

[2019-07-23 00:42] ocstringham commented on #764
Oh, that is excellent. Yes, that works perfectly. I was looking in the manual but didn't see the underscore function. Thanks @sckott :)

[2019-07-23 01:22] sckott commented on #764
great, glad it works

[2019-07-23 01:22] #764 closed

[2019-07-25 05:08] matutosi opened #767 "Bug in class2tree ?"
<details> <summary><strong>Session Info</strong></summary>

[code]

</details>

I'm having trouble in function class2tree.

[code]

[2019-07-25 16:17] sckott opened #768 "replace control characters in COL xml before parsing it"
via #755

see https://github.com/r-lib/xml2/issues/256#issuecomment-515058750

[2019-07-25 16:42] #768 closed

[2019-07-25 17:16] sckott commented on #767
thanks for the report @matutosi

@gpli Any thoughts on this? It seems the error is happening in these lines https://github.com/ropensci/taxize/blob/master/R/class2tree.R#L100-L102 where the `sapply` call leads to a vector of all `FALSE`, and then the `which` statement leads to `character(0)`; the `which(...)[1]` gives an `NA`; and finally the subset at `sub_df[,...]` leads to the error seen above.

[2019-07-26 07:52] gpli commented on #767
The error seems to be caused by that ITIS database does not have a root node like NCBI, so I set node name to NA if can't find.

[2019-07-26 16:44] #767 closed

[2019-07-26 16:44] sckott commented on #767
@matutosi reinstall from here `remotes::install_github("ropensci/taxize")`, should work now

[2019-07-26 22:04] matutosi commented on #767
Thanks, @sckott.
It works !

[2019-07-26 22:06] sckott commented on #767
thx 2 @gpli for the fix

[2019-07-31 18:10] p-schaefer opened #771 "curl_fetch_memory failed to match connection hostname"
I'm having an issue with `gnr_resolve` for instance:

`gnr_resolve("Simuliidae")`

  schannel: CertGetNameString() failed to match connection hostname (resolver.globalnames.org) against server certificate names

I'm using R 3.6.1 and taxize 0.9.8.9134

[2019-07-31 19:40] sckott commented on #771
thanks for the issue

is it a persistent problem? if you do the request again does it still happen?  That error definitely seems like a problem on their end, and probably is temporary

[2019-07-31 20:02] p-schaefer commented on #771
So far yes. I agree it sounds like a problem with GNR, but am wondering if their API may have changed.

[2019-07-31 20:08] sckott commented on #771
It's not happening for me though, so it may be a factor of the network you're on. Do you know if you're behind a proxy or if the place you're at blocks certain ports. If you can get on a VPN I'd try the request on that to see if you get a different result

[2019-08-01 22:42] jeroen commented on #771
This was a bug in curl. If you reinstall curl it should be fixed :)

[2019-08-01 22:42] jeroen opened #772 "Give articles names"
See pkgdown site: https://docs.ropensci.org/taxize/articles/

[2019-08-02 12:34] p-schaefer commented on #771
That didn't fix it unfortunately. I tried reinstalling curl and crul. It also works for me at home, so its likely a problem with the network I'm on at work. What ports need to be open?

`sessionInfo()`

Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

Random number generation:
 RNG:     Mersenne-Twister
 Normal:  Inversio

[2019-08-02 14:07] jeroen commented on #771
Hmmm you are not using httr, right?

[2019-08-02 14:12] p-schaefer commented on #771
No, cf `sessionInfo()` above.

[2019-08-02 14:16] jeroen commented on #771
Ah I see the problem now, `crul` has the same bug as httr. @sckott you need to remove the default `cainfo` option in `crul` as done here: https://github.com/r-lib/httr/pull/603

[2019-08-02 16:19] sckott commented on #771
@p-schaefer install dev `crul` `remotes::install_github("ropensci/crul")` and reload and try again - should be pushing crul to CRAN today

[2019-08-02 16:45] p-schaefer commented on #771
Works now. Thanks!

[2019-08-02 16:45] #771 closed

[2019-08-13 02:13] joelnitta opened #773 "`ranktoreturn` in `ipni_search()` doesn't do anything"
`ranktoreturn` in `ipni_search()` seems to have no effect. I would like to only get names at the species level (not varieties), but names at all ranks are returned.

[code]

<sup>Created on 2019-08-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-08-13 16:57] sckott commented on #773
thanks for the issue @joelnitta

having a look now

[2019-08-13 17:38] sckott commented on #773
should be fixed, reinstall and let me know if it works

[2019-08-13 17:38] #773 closed

[2019-08-13 18:50] #766 closed

[2019-08-14 07:42] joelnitta commented on #773
Yep, that did it. Thanks!

[2019-09-10 08:54] pozsgaig opened #775 "classification() with EOL gives an Internal Server Error (HTTP 500)"
[code]

<details> <summary><strong>Session Info</strong></summary>

[code]

</details>

[2019-09-10 16:39] sckott commented on #775
thanks for the issue @pozsgaig

That EOL ID does not exist. IT's a little confusing because there's 2 different kinds of ids with EOL: "page ids" and "eol ids"

`classification()` expects you to pass it eol ids for `db = "eol"` - i'll clarify that in the documentation

[2019-09-10 16:56] #775 closed

[2019-09-10 17:46] sckott opened #776 "maybe use cli pkg's status bar thingy for progress"
https://github.com/r-lib/cli#the-status-bar

[2019-10-01 19:15] Phylloxera opened #777 "Salmonella enterica children and no rank"
This might be related to issue #660. Salmonella enterica has a lot of no rank children (e.g. 594, 550538, 685040, 909947, 1192561, 1299262) as well as subspecies (e.g. 59201) but downstream() does not return them, children() returns them selectively, and "subspecies" is not an option for downto = . Example commands:
`downstream("Salmonella enterica", downto = "no rank", db = "ncbi")` #returns noth

[2019-10-01 21:19] sckott commented on #777
👋  thanks for the question!  Having a look.

[2019-10-01 23:08] sckott commented on #777
@Phylloxera can you reinstall `remotes::install_github("ropensci/taxize@ncbi-children")` and try again?  it should work now, but let me know if it's what you expect.

fixed regex that was mean to drop names ending with `sp.` (so specific epithet not known) - but was also dropping taxa with `subsp.` because the regex wasn't specific enough

[2019-10-04 23:35] sastoudt opened #778 "`safely` execute functions like `sci2comm` and `comm2sci`"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

When trying to get scientific names for a vector of common names (or vice versa), one bad request ruins the whole function call.

[code]
Could the `purrr::safely` function be wrapped into the function calls to avoid this behavior? Or if you don't want to mess with the core functionality, providing an example of this wor

[2019-10-05 04:39] sckott commented on #778
thanks for this @sastoudt  having a look

[2019-10-05 04:48] sckott commented on #778
Those were good suggestions, but i swapped out the stop on nothing found line of code for just returning an empty result. Can you reinstall and try again?

[2019-10-05 17:01] sastoudt commented on #778
Thanks for taking a look so quickly! I re-installed and am getting an error (but a new one):

[code]

[2019-10-07 15:49] Phylloxera commented on #777
Thanks for looking into it. It looks like it did something progressive.
`taxize::downstream("Salmonella enterica", downto = "no rank", db = "ncbi")` and
`taxize::downstream(28901, downto = "no rank", db = "ncbi")` # both return: 'Error in lapply(X = X, FUN = FUN, ...) : object 'rank_ref' not found'
`taxize::children("Salmonella enterica", db = 'ncbi')` #returns the expected result: 7 subspecies an

[2019-10-09 18:18] sckott commented on #778
First, it's a good idea to get your own Entrez key. I dont think that's the issue here though.

Did you make sure to restart your R session after installing the new version?  Sorry to ask, but many people do not think to do this.

[2019-10-09 20:27] sckott commented on #778
great, glad it worked!

i'll have a look at sci2comm

[2019-10-11 19:35] sckott commented on #777
thanks @Phylloxera having a look

[2019-10-11 21:09] sckott commented on #777
The first 'not found' issue has been fixed, reinstall and restart to get it.

[2019-10-11 21:33] sckott commented on #777
Second issue should be fixed now, reinstall/restart

[2019-10-11 23:51] sckott commented on #508
@zachary-foster looking at taxa integration again, where are you at on the `eval` and `vectorize` branches, and how do those two branches relate to one another?  i can't remember now exactly what I needed for this taxa/taxize integration to work, but thought id start with seeing where you are for pusingh to CRAN so I can build on something that won't change a huge amount

[2019-10-12 00:06] #777 closed

[2019-10-12 01:25] zachary-foster commented on #508
Hi @sckott, I just got back to working on it this the last few weeks.  I have a pretty good idea now of how things should work, but I need to finish changing the code so that all of the new vector-based classes can accept names, and make the `taxon` class support synonyms. In another week or so I should have most of the classes relevant to `taxize` done and I don't expect there to be any large cha

[2019-10-12 18:02] sckott commented on #508
Thanks for the update and those notes, will have a good look at thhose. Any idea when those versions of vctrs and tibble you need will be on CRAN?

[2019-10-13 15:48] #778 closed

[2019-10-14 19:23] zachary-foster commented on #508
I dont know when they will be on CRAN, but there seem to be a lot of work going on for `vctrs`, so I expect they will update it often.

[2019-10-14 19:40] sckott commented on #508
okay, for the next milestone https://github.com/ropensci/taxize/milestone/20 want to release v1, and for obvious reasons want to make sure stuff is stable in the taxa things we depend on here before releasing that

[2019-10-22 21:22] afredstonhermann opened #779 "getting tidy df from species list"
Thanks for developing this great resource. I have a long list of species and I'm trying to turn it into a tidy dataframe with columns for each taxonomic level, like in [this example](https://github.com/ropensci/worrms/issues/4).

I tried following that code exactly, but it gives an error because some of the UIDs don't find a match in ITIS:
[code]

So I tried deleting the list entries in the output

[2019-10-22 23:03] sckott opened #780 "fail well when user passes IDs from different source as requested with `db` param"
via #779

applies i think to all functions that take a classed input (of ids typically) and also a `db` parameter specifying the source

e.g., this works

[code]

but is not doing what the user thinks they are doing. Here, it ignores the `db` value input, dispatching on `classification.uid` because the input is of class `uid`.

We should instead stop with message saying that input ids have to matc

[2019-10-22 23:16] sckott commented on #779
thanks for your question! in the future please include your R session info (after loading taxize, so we get the taxize version)

a few things:

- we could fail better to help users more, opened an issue for that - basically, you shouldn't mix data sources, so since you got ids from NCBI (uids), you cant query ITIS for data with NCBI ids. In your case you applied na.omit to the output of get_uid, r

[2019-10-22 23:42] afredstonhermann commented on #779
Thanks so much for the fast reply and for explaining that the source of the problem was the database discrepancy--and sorry for forgetting session info. I didn't realize that get_uid was unique to NCBI and incompatible with other databases. Your solution works perfectly and I also just discovered that I can give Latin names directly to `classification(spplist, db="itis")` and it will work. Thanks

[2019-10-23 22:59] sckott commented on #779
great, glad it works. yes, you can give names directly to `classification`. which uses `get_*` functions under the hood, so `get_` behavior applies when passing names into `classification`

[2019-10-30 20:54] #779 closed

[2019-11-07 15:41] jordancasey opened #783 "Error with classification()"
When I run the classification() function, I get an error, approximately 20% of the time:

Error in curl::curl_fetch_memory(x$url$url, handle = x$url$handle) :
  Error in the HTTP2 framing layer

I tried to fix this using:

httr::set_config(httr::config(http_version = 0))

I also tried to specify NCBI:

classif <- classification(t, db="ncbi")

None of those fixes work.  Any thoughts on how to fix t

[2019-11-07 16:29] Rekyt commented on #772
Hi @sckott :wave:
I think I can submit a PR dealing with that, be before I do that I have to askr is there a particular reason why all vignettes header look like this:
https://github.com/ropensci/taxize/blob/027a572ce9d8218387caac179f67c0656228c30b/vignettes/taxize_case_study.Rmd#L1-L5
Compared to "regular" vignettes with YAML header:
https://github.com/ropensci/crul/blob/1d340710303529582dec1c65e

[2019-11-07 17:06] sckott commented on #772
the first style is how vignettes used to be, before rmarkdown pkg arrived. its a bit complicated.

- for cran and users that have taxize installed: don't want any failures due to bad http requests, so i'd like vignettes pre-built so that they are still useable.
- for https://docs.ropensci.org/taxize/: its okay for the vignettes to build from scratch for this as we can try again if there's any bad

[2019-11-07 22:43] sckott commented on #783
thanks for the report @jordancasey !

that wouldn't work because the underlying http package is https://github.com/ropensci/crul - you can achieve the same thing e.g., like `classification("Teleostei", db = "ncbi", http_version = 0)`

it may have been fixed in the latest version of curl LINK, but for now the only thing we can try is opting out of http/2, try

`classification("Teleostei", db = "ncb

[2019-11-08 09:08] Rekyt commented on #772
Alright! What we've done in rromeo for the README and that could be applicable to vignettes is to have vcr cassettes to read. The cassettes could expire after a certain time for example.

[2019-11-08 10:34] jordancasey commented on #783
Hi @sckott - thanks for your reply!

I've tried to force http/1, which works sometimes, but other times it still reverts to http/2 and fails.

I'm trying to use taxize to automate filling in the taxonomy of a list of 16,000 taxa, which is why it's problematic when it fails sometimes.

When I try to use http_version = 0L, the failed output is:

══  1 queries  ═══════════════

Retrieving data for ta

[2019-11-08 18:07] sckott commented on #783
(hope you don't mind, i edited your reply to make it easier to see the code chunks; and I replaced your api key with `secret` - you don't have to, but it's a good idea to get a new API key as the one you shared here is on the open internet now :( )

i'm guessing 1.1 isn't a valid value to pass to `http_version`, but don't know for sure. more comments soon

[2019-11-08 18:25] sckott commented on #772
have you had any problems on cran with vcr with vignettes? haven't tried it myself yet.

I'd be interested to see how it looks here

[2019-11-08 18:29] sckott commented on #783
On a related note, with recent versions of taxize, the `get_*()` functions, which you are using internally in `classification()` when you pass in a name instead of a taxon ID, now keep track of the queries and allow you to start off where you stopped if there is an error (as long as R doesn't crash). See `?taxon-state` in R when taxize is loaded. You could approach it as using `get_uid` (if you're

[2019-11-08 18:31] sckott commented on #783
@jordancasey Try `http_version = 2L` - that should force to http/1.1 - let me know if that works

[2019-11-09 16:06] sckott opened #784 "there's two tax_rank.default methods, remove one"

[2019-11-09 16:10] sckott commented on #780
fxns to change:

- [x] children
- [x] classification
- [x] comm2sci
- [x] sci2comm
- [x] downstream
- [ ] id2name
- [ ] resolve
- [ ] synonyms
- [ ] upstream

not doing

- lowest_common (`db` hard set internally within .class methods)
- tax_rank (`db` only used when character input, so no mismatch detectable)

[2019-11-09 16:30] sckott commented on #780
- [ ] add tests

[2019-11-09 16:36] sckott commented on #604
taxizedb has its own downstream fxn, closing

[2019-11-09 16:36] #604 closed

[2019-11-09 16:39] sckott commented on #732
nah, unless people bring this up, closing

[2019-11-09 16:39] #732 closed

[2019-11-13 14:55] jordancasey commented on #783
Hi @sckott - thanks for editing my code & api key (oops!)

When I use http_version = 2L, it works sometimes, but like before, sometimes it reverts to http/2 and fails. This is the first time that it successfully forces http/1.1 sometimes, so at least there's progress in the right direction.

Output when it works:
[code]

Output when it fails:
[code]

However, I did manage to run my script on a col

[2019-11-13 18:58] sckott commented on #783
thanks @jordancasey - glad there's progress.

I'm considering hard-coding forcing to http 1.1 for NCBI requests throughout the package. I'll ping you soon

[2019-11-13 20:10] #780 closed

[2019-11-13 21:50] #783 closed

[2019-11-13 21:50] sckott commented on #783
it's hard coded now to always do http 1.1 requests for all ncbi requests across the pkg, let me know if you still have problems

[2019-11-13 22:24] #784 closed

[2019-11-14 01:36] #719 closed

[2019-11-14 11:00] jordancasey commented on #783
Hi Scott, Thanks for continuing to work on this. I've updated to v0.9.91:

[code]

Unfortunately, it sometimes still reverts to http/2 (I've also run this without specifying http_version with the same results). Here's a successful run followed by a failed run:

[code]

[2019-11-14 16:15] JulietteLgls opened #785 "Why does col_search sometimes work and sometimes not, in function or not"
Hello,

I have a list of species (about 2000) that I want to verify : synonyms, spelling, recent names etc. of which here is a subset :
[code]
I search corresponding names in the COL (Catalogue of Life) database with the following function :
[code]
The problem is:
Yesterday I tried the code and everything went fine but this morning while I did change anything, I got this error :
[code]
I tried the

[2019-11-14 18:40] sckott commented on #783
hmm, the user agent string shows that you are still using taxize `v0.9.9` - did you restart your R session? what does `packageVersion("taxize")` give you

[2019-11-14 18:56] sckott commented on #785
thanks for your report @JulietteLgls - please include your R session info with taxize loaded as requested.

It looks like that NROW error is coming from your function above, but ultimately comes from no results from `col_search`. I've tried `col_search`, and it looks like they must have recently introduced rate limiting, that is, only allowing a certain number of requests per time period. Unfortun

[2019-11-14 19:02] jordancasey commented on #783
indeed, R just needed a proper restart. It's working perfectly now! Thanks, Scott!

[2019-11-14 19:04] sckott commented on #783
great, glad it works. to be clear, `http_version=2L` is already in the ncbi requests, so you don't need to pass it in anymore

[2019-11-14 23:55] sckott opened #786 "COL fixes"
- they started doing rate limiting, documented that in docs and adjusted tests for that
- json not avail. in 2014 years and back, so only returning xml_docuemnt objects now in those cases
- reworked error handling a bit as they return an `error_message` field, even though there's a 200 status code

[2019-11-14 23:55] sckott commented on #786
done in 44dee5f9

[2019-11-14 23:55] #786 closed

[2019-11-15 09:04] JulietteLgls commented on #785
Yes it defenitly comes from col_search. Of that I'm sure.
Do you know any manner to bypass the rate limit?
My R session info is
[code]

[2019-11-15 09:18] JulietteLgls commented on #785
Also I checked on the COL website and they mention a change of API by the end of this year. Might it be the problem?

[2019-11-15 17:54] sckott commented on #785
I'm looking into the new API - and may need to make changes here for that, but I haven't heard back yet. the new API is completely different from the current one.

I just sent the new version `v0.9.91` to CRAN, binaries will be avail. soon. Looks like you have it from your session info.

We cannot get around the rate limits. I've also asked them for more info on the rate limits, but no response so

[2019-11-18 12:50] JulietteLgls commented on #785
Thanks for your help I'll try the sys.sleep!

[2019-11-18 13:33] JulietteLgls commented on #785
Thanks for the idea but actually I don't think its a matter of rate limit because I tried to run the same code on another computer and get the same error. In addition I never get the "429 too many requests" error.
Nevertheless, i tried you suggestion of Sys.sleep with no better results...

[2019-11-18 23:13] sckott commented on #785
What code did you try and what are the errors

[2019-11-19 08:40] JulietteLgls commented on #785
Hey, finally, I tried
[code]
then call col_search_sleep in my function
[code]
Applied check_sp_name to my vector, it took almost all night and every thing went right!!!
Thank you so much!

[2019-11-19 17:47] sckott commented on #785
glad it works, although slowly

[2019-11-24 18:00] jabard89 opened #787 "NCBI HTTP 400 error"
Hello,
Love this package, thank you very much! I have previously used it with no problems, but now when I try and use NCBI I get an error.
`classification(1001832,db='ncbi')`
`Error: Bad Request (HTTP 400)`
Other databases (at least COL) seem to work fine.

Any thoughts on what changed?
-Jared

<details> <summary><strong>Session Info</strong></summary>

[code]

</details>

[2019-11-25 16:34] sckott commented on #787
Thanks for your kind comments @jabard89

That was probably an intermittent error. Can you try again now? It worked for me right now

[2019-11-25 19:45] jabard89 commented on #787
Hmm, I can run the command from ubuntu, but when I try and run it on windows I still get the same error.

[2019-11-25 19:55] sckott commented on #787
Run this:

[code]

And paste in what you see in the console - **BUT (very important)** if you see `entrez/eutils/efetch.fcgi?db=taxonomy&ID=1001832&api_key=somestring` in the output make sure to remove the `somestring` string before you share it here

[2019-11-25 20:03] jabard89 commented on #787
Ugh, I apologize. The issue was that I had an error in my entrez key (realized this after i added my entrez key to my ubuntu R session and it stopped working). Thanks again for your super prompt help!
Best,
Jared

[2019-11-25 20:03] #787 closed

[2019-11-25 20:17] sckott commented on #787
no worries, glad its sorted out

[2019-11-25 20:18] sckott commented on #787
no worries, glad its sorted out

[2019-11-26 23:48] sckott opened #788 "COL plus - get working for when COL is replaced"
* repo: https://github.com/Sp2000/colplus/
* docs: https://sp2000.github.io/colplus/api/api.html

[2019-12-10 01:33] ocstringham opened #789 "GBIF grab the type of synonym (ie "heterotypic synonyms")"
It is possible to get the type of synonym supplied by GBIF using _taxize_? This is the field called "taxonomicStatus" provided by the GBIF API (see code below). In some cases, it reveals that the name is a heterotypic synonym and this is useful to me.

[code]

[2019-12-10 02:56] sckott commented on #789
thanks for your question @ocstringham

i think this is what you want:

[code]

does that do what you want?

[2019-12-11 04:03] ocstringham commented on #789
Thanks @sckott - that works for me!

For anyone who wants the results of `*_name_usage` in a df use this code:

[code]

[2019-12-12 21:43] sckott opened #790 "expose marine_only and fuzzy params for get_worrmsid"
query for the `Apedinella` genus gives only two taxa of rank species

[code]

[2019-12-12 22:04] #790 closed

[2019-12-12 22:23] sckott opened #791 "dontrun taxon state egs, or replace any http requests"
on `r-release-linux-x86_64`

[code]

[2019-12-12 23:09] sckott commented on #789
thanks @ocstringham  - I forgot to note that my eg above is using rgbif. `gbif_name_usage` is an out of date copy of `rgbif::name_usage` - so if you want functionality of `gbif_name_usage` probably best to use `rgbif::name_usage`

[2019-12-12 23:09] #789 closed

[2019-12-12 23:30] #791 closed

[2019-12-15 23:07] martinslucasp commented on #594
Hi all,

I am having the same problem, but with the synonyms function. When I try to access the "itis" database, the function returns HTTP 404 (this does not happen with the other databases and it was not happening to itis until four days ago).

synonyms("Aceros waldeni", db="itis")
Retrieving data for taxon 'Aceros waldeni'
Error: Not Found (HTTP 404)
Obs: I used Aceros waldeni as an example, but

[2019-12-26 12:28] kamapu opened #792 "Object loaded on attach"
I was experiencing some weird behavior in the package [`taxlist`](https://cran.r-project.org/package=taxlist) and realized, it is coming from `taxize` (I'm importing the function `tnrs()` into `taxlist`): Each time I load the package in an R-Session, the objects (data frames) **apg_families**, **apg_orders**, **rank_ref**, and **theplantlist** get automatically loaded in the workspace. The same ha

[2019-12-30 16:32] sckott commented on #792
they were added to onload recently https://github.com/ropensci/taxize/issues/777 so that one can call taxize functions that require those datasets without having to load the package first, e.g., `taxize::fxn()`

[2019-12-30 18:03] sckott opened #793 "update docs for new roxygen2 version"

[2019-12-30 18:57] #793 closed

[2020-01-07 05:48] kamapu commented on #792
OK, I found this behavior a bit annoying and not really desirable in `taxlist`. Is it there a way to suppress it in packages using `taxize` as dependency?

[2020-01-09 17:09] sckott commented on #792
What problem is it causing? I don't see any datasets, objects, etc. in your pkg of the same name.

[2020-01-10 07:29] kamapu commented on #792
It's not really a problem, but the objects appear once I load `taxlist` in an R-session using `library()`, just because `taxlist` depends on `taxize` (function `tnrs()` is imported in the package).

When I noticed the behavior, I spend days to find out, where those data are coming from, since it was not evident that they are not in the source of `taxlist`. On the other side, we use to work with su

[2020-01-10 10:36] kamapu commented on #792
I'm wondering if I can use `rm(apg_families, apg_orders, rank_ref, theplantlist)` in the function `.onAttach()` defined in **R/StartMessage.R** at the source of `taxlist`.

[2020-01-10 16:56] sckott commented on #792
That sounds like a good solution.

[2020-01-14 02:31] sckott commented on #788
work is on branch `col-plus`

[2020-01-14 20:23] sckott commented on #788
moved to a new pkg https://github.com/ropensci/colpluz

[2020-01-14 20:23] #788 closed

[2020-01-16 15:40] jhammock commented on #749
Thanks, @sckott . If anyone is waiting for confirmation, it is true. No key is required for the APIs currently in use by taxize.

[2020-01-16 16:28] sckott commented on #749
thanks @jhammock - but Cypher does require a key, correct?

[2020-01-16 17:40] jhammock commented on #749
Yes, for the moment. If it is incorporated into taxize, instructions for cypher service access are [here](https://github.com/EOL/eol_website/blob/master/doc/api.md#getting-a-token).

[2020-01-16 18:06] sckott commented on #749
cypher's not used here, but it is in the traits pkg

[2020-01-26 15:44] kamapu commented on #792
Unfortunately this solution didn't worked.

I know, it may sound too strict, but those objects are still disturbing me during some sessions, for instance when you work with one object but you have five in your workspace or when you name an object in a similar way and then confuse them...

An alternative could be to locate those data frames in an .RData file at **inst/extdata** at the package sourc

[2020-01-26 16:02] EDiLD commented on #792
Would calling the datasets used in the functions with prefixed namespace, e.g. `taxize::rank_ref` fix the problem?

[2020-01-28 17:04] sckott commented on #792
@EDiLD good idea, but that doesn't work.

[2020-01-29 11:04] kamapu commented on #792
What about my suggestion?

[2020-02-01 16:29] sckott opened #794 "gnparser fxn(s)"
e.g., https://parser.globalnames.org/api?q=Aus+bus|Aus+bus+D.+%26+M.,+1870

[2020-02-01 16:32] sckott opened #795 "crans bullshit 22 non-default pkgs"
remove roxygen2,
can probably drop plyr, reshape2, stringr

[2020-02-07 03:51] #795 closed

[2020-02-07 19:46] #794 closed

[2020-02-07 19:52] sckott commented on #678
should I close this issue @zachary-foster or do you think you'll get around to this soon?

[2020-02-07 19:54] #785 closed

[2020-02-07 21:08] #772 closed

[2020-02-10 18:34] zachary-foster commented on #678
Hi @sckott, oh yea, I forgot about this. I will look into it today and get back to you.

[2020-02-10 18:34] sckott commented on #678
thx

[2020-02-10 22:30] sckott opened #796 "remove COL"
the rate limiting is not worth dealing with

[2020-02-11 00:45] #796 closed

[2020-02-11 05:35] sckott opened #797 "bug in classification.tpsid"
[code]

[2020-02-11 19:28] sckott opened #799 "check for any http -> https upgrades"
go through package and check if any APIs now using https

[2020-02-11 20:00] #797 closed

[2020-02-18 17:17] andzandz11 commented on #796
I have a bunch of scripts from early 2019 that completely build on CoL and are now kinda unusable. I can not find any information about the rate limit on the Col Webpage, they say that by end 2019 a new API should be in place. I am a little confused about the actual rate limit. Can you provide more information?

[2020-02-18 22:13] sckott commented on #796
thanks for your question @andzandz11

One of the problems that lead me to remove col functions was the lack of documentation - they do not have any documentation on the rate limits. If you wanted to use the old COL service, you could just use an older taxize version than the newest and put Sys.sleep calls in between subsequent COL requests, but I've no idea how long you need to wait between reques

[2020-02-19 17:30] sckott opened #800 "ncbi_children should accept id's as numeric and character"
a bit silly that this works

[code]

but this doesn't

[code]

[2020-02-27 16:09] sckott commented on #792
I don't want to change the setup for loading the datasets

[2020-02-28 14:21] kamapu commented on #792
WHAT!?

You say, I may have found the solution, but you just don't like to make any change?

Honestly, I don't get the logic of having every ones workspaces loading data, that are not needed because someone need it but does not like to load the package (???).

On the other side, I have never experienced this behavior in any package, especially because it is caused by a package that is not loaded i

[2020-02-28 14:24] kamapu commented on #792
Here, another solution:
You could call the objects:
`.apg_families`,  `.apg_orders`, `.rank_ref`, and `.theplantlist`, and they won't be visible...

[2020-03-04 17:46] p-neves opened #801 "class2tree: Error in rank2Index[[subList[i - j]]] : wrong arguments for subsetting an environment"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi:

I'm having problems using the class2tree function. I get the classification object from gbif using my species list, but when I try to use the class2tree function, I get the error:

Error in rank2Index[[subList[i - j]]] :
  wrong arguments for subsetting an environment

I've tried this function a couple of weeks ago

[2020-03-04 19:25] sckott commented on #801
thanks for the issue, having a look

[2020-03-04 19:30] p-neves commented on #801
thanks. Please let me know if you need (my) sample data

[2020-03-04 20:03] sckott opened #802 "`classification.gbifid` failing because GBIF changed order of results"
via #801

[2020-03-04 20:08] #801 closed

[2020-03-04 20:08] sckott commented on #801
@p-neves try again after reinstalling and restarting R. should work now. was a problem in `classification.gbif`, GBIF changed the order of the fields in the results

[2020-03-04 20:39] p-neves commented on #801
It works! Thank a lot.

[2020-03-05 19:16] padpadpadpad opened #803 "use_eol() unneeded now"
Hi

Once again thank you for the package.

Just thought I would highlight that the eol database does not need a token key anymore. I used `use_eol()` after trying to use `comm2sci('black brant', db = 'eol')`.

I could not find how to request a key so emailed and received a reply "That relies on our “Classic” APIs, which do not require a token".

Let me know how I can help if I can
Cheers
Dan

[2020-03-06 01:16] #678 closed

[2020-03-06 16:08] sckott opened #804 "tax_rank with ncbi is all messsed up"
that ain't right

[code]

[2020-03-06 16:43] sckott commented on #804
caused by change in PR #798

[2020-03-06 16:53] #804 closed

[2020-03-06 17:36] #800 closed

[2020-03-06 17:41] sckott commented on #803
thanks for the report - see also #749

[2020-03-06 18:32] #749 closed

[2020-03-06 18:32] #803 closed

[2020-03-06 18:32] sckott commented on #803
use_eol is now defunct, removed all requirement for a key for eol fxns

[2020-03-06 19:36] #799 closed

[2020-03-10 16:32] sariya commented on #695
I'd like to volunteer, any starting points? But, I've never contributed to opensource projects before. For sure, I'd have difficult time to understand work-flow of connections in the beginning.

[2020-03-11 16:08] #792 closed

[2020-03-13 08:25] kamapu commented on #792
Thanks, now I'm happy :)

[2020-03-17 16:41] sckott opened #806 "fix taxize_options docs"
https://github.com/ropensci/taxize/blob/master/R/progressor.R#L8 `taxon_state_messages` parameter currently is confusing/wrong. Setting `taxon_state_messages=TRUE` actually suppresses taxon state messages, whereas the docs make it sound like the opposite would be true

[2020-03-17 21:51] sunray1 opened #807 "Downstream rank duplicates"
Recently I've been trying to get taxonomic information for a variety of taxa and I've noticed that taxize gets 'stuck' and eventually times out when there are different downstream taxonomic ranks with the same names.

For example, using the family 'Pieridae':

[code]

will not run because there is a subgenus and a genus (the genus containing the subgenus) called "Euchloe".

Running
[code]

returns

[2020-03-17 22:31] sckott commented on #807
thanks for your question @sunray1

i can replicate the issue. I'll have a look

[2020-03-17 23:16] sckott commented on #807
please try again after restarting R, then reinstalling like `remotes::install_github("ropensci/taxize")`

ncbi was doing a weird thing where when searching on the two subgenera within _Euchloe_, it always returned the subgenera themsleves and the species below them, and repeated it so it was stuck indefinitely. should work now

[2020-03-17 23:39] sunray1 commented on #807
Wonderful thank you so much!!

[2020-03-18 00:25] #807 closed

[2020-03-18 01:08] sckott commented on #807
glad it works. let me know if what it returns is not correct

[2020-03-20 00:09] #806 closed

[2020-03-20 00:49] sckott opened #808 "get_eolid failing on example that used to work"
[code]

[2020-03-20 15:11] #808 closed

[2020-03-25 03:49] ocstringham opened #809 "classification doesn't return subspecies for GBIF"
When I input a GBIF ID for a subspecies (example: https://www.gbif.org/species/6162875) in the classification function, it doesn't return anything about the subspecies. Is there a way to return the subspecies name and GBIF ID?

[code]

[2020-03-25 07:34] olliewearn opened #810 "Fail gracefully if species scientific name contains "/""
Hi, here in Indochina we commonly use the scientific name "Muntiacus rooseveltorum/truongsonensis" for a muntjac species of uncertain taxonomic status (possibly 1+ species, we don't yet know). M. rooseveltorum and M. truongsonensis are listed separately on the IUCN Red List, but this is widely thought to be an incomplete or erroneous representation of reality.

I imagine there might be other cases

[2020-03-25 18:45] sckott commented on #810
thanks @olliewearn - can you share your actual session info though, the session info above seems to be empty. Also share what `taxize` function or functions you are talking about

[2020-03-25 18:46] sckott commented on #809
what version of `taxize` do you have?

[2020-03-25 19:11] sckott opened #811 "classification.gbifid messes up sorting of results"
must have been introduced in last version changes. add tests to make sure doesn't happen again

[2020-03-25 21:10] #811 closed

[2020-03-25 21:10] #809 closed

[2020-03-25 21:10] sckott commented on #809
@ocstringham reinstall and try again, should work now

[2020-03-26 00:10] ocstringham commented on #809
Yes, it shows the subspecies now. Thanks @sckott !!!

[2020-03-26 00:12] sckott commented on #809
great, glad it works

[2020-03-26 02:02] olliewearn commented on #810
Ah, sorry. I've edited my comment above to include the session info.

I got the error when I ran this:
iucn_summary("Muntiacus rooseveltorum/truongsonensis")

Thanks

[2020-03-26 21:44] sckott commented on #810
thanks - i looked into it. in a way the error you got in my mind is the correct error: the taxon was not found after searching IUCN. If I got to the IUCN red list website and search with that taxon name with the slash, there are no results. thus, it makes sense that we get no results here as well.

You can always "escape" characters like the slash, e.g.,

[code]

which doesn't cause the 404 error,

[2020-03-27 09:12] olliewearn commented on #810
I should've explained the context a bit better. I'm running iucn_summary over a list of 1000+ species (I imagine these kinds of bulk queries are common). I would've hoped that iucn_summary() would fail gracefully (i.e. give a Warning, not an Error) in any cases where it doesn't get a hit. It does this for species without slashes in the name, but doesn't for names with slashes.

==  1 queries  ====

[2020-03-28 00:29] #810 closed

[2020-03-28 00:29] sckott commented on #810
@olliewearn should work now, reinstall and try again

[2020-03-30 20:57] sckott opened #812 "synonyms: add POWO"

[2020-03-30 21:56] #812 closed

[2020-04-06 00:51] dfalster opened #813 "Australian Plant Names Index (APNI), Australian Plant Census (APC) and Australian National Species List (NSL)"
Thanks for the great package. Wondering about the possibility of connecting taxis to these Australian taxonomic resources, which are all accessible via a good APIs, as part of the Australian National Species List (NSL) infrastructure.

There are two main services, available via https://biodiversity.org.au/nsl/services/,

- The Australian Plant Census (APC) provides a nationally-accepted taxonomy
-

[2020-04-06 20:59] sckott commented on #813
Actually, I played with the API a little bit but I don't see any real search capbability. For example, you can search on the website for APNI names here https://biodiversity.org.au/nsl/services/APNI but with the API I don't see any way to do the same thing. There's this https://biodiversity.org.au/nsl/docs/main.html#taxon-search API route, but it only appears to be get one name

[code]

wheres on

[2020-04-07 06:28] dfalster commented on #813
Hi @sckott

Thanks so much for taking a look so promptly. Really appreciate it. We're looking for a tool to query the APC and APNI programmatically. I suspect if we got this going it would be used widely within Australia, not only by my group :).

You're right, I can't see how to do search a list of taxa in the docs. (But note, I don't really know what I'm looking for either, as APIs are not somet

[2020-04-07 22:35] sckott commented on #813
thanks, having a look

[2020-04-07 23:29] sckott commented on #813
been working on some utility functions, `install.packages("ropensci/taxize@australian")`, then see `?apni` - Making progress.

- the `acceptable_names` function seems to do a good job of fuzzy searching, which we need
- the `apni_classification` allows us to get the taxonomic classifcation for a taxon id, which we need
- I still haven't found a way to get children as you demonstrated in the browse

[2020-04-08 00:27] dfalster commented on #813
Fantastic. Just tried it out, looking useful already!

So if I understand right, the two main features missing from the API are

1. Ability to search a list of names, e.g.

[code]
Can we solve this one by vectorising on the taxize side?

2. Ability to access children?
If we take acacia as an example, the id is 51311124, so https://biodiversity.org.au/nsl/services/rest/taxon/apni/51311124 is the we

[2020-04-08 01:29] sckott commented on #813
yes, can vectorize the fxns, just hadn't gotten to that yet.

nice, I think that children solution should work, will try that

[2020-04-08 01:43] dfalster commented on #813
Another question, how does taxize handle searches when there are spelling mistakes?  I notice the APNI just returns  "no results".

![image](https://user-images.githubusercontent.com/3589590/78735278-bb6c2d80-798d-11ea-8687-306e8c064965.png)

This is a very common issue with taxonomic name searches. In the past I have used Taxonstand, which included an argument `max.distance`: *A number indicating

[2020-04-08 19:21] sckott commented on #813
taxize doesn't do anything automatically regarding spelling mistakes on the R side. i consider that a separate step for sure, distinct from searching one of the data sources. data sources vary widely in how they handle spelling. some do fuzzy search in which they account for possible spelling mistakes and return the closest matches, while some data sources do not fuzzy match and so return nothing

[2020-04-08 21:58] dfalster commented on #813
Thanks for explaining. Makes sense. I can sort something for some fuzzy matching locally.

I now have contact details for the folks behind the APC/APNI service, so can put you in contact or deliver questions there, as needed

[2020-04-09 19:51] sckott commented on #813
Good news about getting contacts. I'll work on this soon and see if there's any questions I have

[2020-04-09 23:08] dfalster commented on #813
When asked whether we should link to APC, APNI or both, [Anna Monro](https://www.anbg.gov.au/cpbr/staff/monro-anna-2007.html) provided this description (pasted here with her permission):

* In APNI we endeavour to capture all the names ever applied to the Australian flora in the botanical literature, for both native and naturalised plants. This includes things like phrase names, hybrid formulae, a

[2020-04-10 04:52] pmcneil commented on #813
For fuzzy search you can use the suggestions API on APNI and APC. It is mean for suggestions as you type and is case insensitive. It does not help spelling mistakes.
We are here on github https://github.com/bio-org-au BTW so you can contact us there too and see what the API code actually does. :-)

[2020-04-10 23:40] sckott commented on #813
@pmcneil regardint the results of this request https://biodiversity.org.au/nsl/services/rest/taxon/apni/51311124.json - I'm interested in pulling out data for each child of the target taxon, here's the first one as a list in R:

[code]

Seems that I'd need to further parse those html strings to get names and other data out. Is there a different route or content type that I can request that has tha

[2020-04-12 23:48] pmcneil commented on #813
This is linked data, so follow the links. The https://id.biodiversity.org.au/name/apni/165295 link will get you name data. If you ask for it in XML, JSON or just HTML you'll get that as a result. See https://biodiversity.org.au/nsl/docs/main.html#name for example.
The display HTML is there to provide a quick way of displaying quite complex results. The embedded name HTML is marked up to a) make it

[2020-04-13 21:18] sckott commented on #813
Thanks @pmcneil  for the explanations. I still don't quite grok all the different identifiers. Is there any documentation on the identifiers?

[2020-04-14 05:44] chrisbitmead commented on #813
All the existing documentation is at https://biodiversity.org.au/nsl/docs/main.html

There's probably not much to know about identifiers. Just remember, everything that starts with https://id.biodiversity.org.au is an identifier, identifiers are a "black box" that identifies something or other, and you can find what it identifies by going to that URL. (and if you add .json to the URL, or pass appl

[2020-04-14 15:00] sckott opened #814 "cran email: tol_resolve test error"
errors on 7 platforms, https://cranchecks.info/pkgs/taxize

submit by 4/28

[code]

[2020-04-14 15:12] sckott commented on #814
TOL is down https://opentreeoflife.github.io/hack/

Come back to this in a week - hopefully they'll be back by then

[2020-04-15 02:04] pmcneil commented on #813
@chrisbitmead The identifiers refer to specific objects/things e.g. name, reference, author, "instance" etc.

The instance is in many ways a taxon, though the taxon link is to where an accepted instance sits in the accepted classification (APC). while we do have documentation it may not be adequate. I believe Anne is going to respond to your queries too, but I hope the above makes a some sense?

[2020-04-17 09:47] azizka opened #815 "Leipzig Catalogue of Vascular plants as additional reference for plant synonymy."
Hi Scott,

There is an competing reference list for plant synonymy, which I helped some colleagues to put together as an R package (https://github.com/idiv-biodiversity/LCVP) updating the plant list and expanding it by c. 180,000 taxa names.

It would be great if the list could be included into taxize as a data  source. Do you see any chance for that? I am happy to help with the implementation.

C

[2020-04-17 20:57] #814 closed

[2020-04-17 21:11] sckott commented on #815
hi - thanks for your message @azizka

Can you be more specific?  Do you envision taxize importing `LCVP` or `lcvplants`?  Or do you intend that the data itself from LCVP will be in this package?  And what do you think is the intended use?  Do you want to do here what your https://github.com/idiv-biodiversity/lcvplants package does?  If you envision `LCVP` or `lcvplants` being an Import here, they

[2020-04-20 17:18] sckott opened #816 "re-instate tol_resolve test when new rotl on cran"
https://github.com/ropensci/rotl/issues/126

lines https://github.com/ropensci/taxize/blob/master/tests/testthat/test-tol_resolve.R#L51-L57

[2020-04-20 19:02] sckott opened #817 "bold children and downstream fxns?"
via https://github.com/ropensci/bold/issues/60

[2020-04-20 19:07] sckott commented on #817
still need to add tests

[2020-04-20 19:07] sckott commented on #817
`remotes::install_github("ropensci/taxize")` - see `?bold_children`, `?children`, `?bold_downstream`, `?downstream`

[2020-04-21 19:11] sckott commented on #817
@devonorourke let me know your thoughts on these functions

[2020-04-22 12:16] devonorourke commented on #817
It's been a while since I've had to tackle this kind of problem - can you remind me how the proposed changes would impact my workflow? [This was the original R script](https://github.com/devonorourke/tidybug/blob/master/scripts/R_scripts/bold_datapull_arths.R) I ran to get everything that did all the manual scraping.
Thanks for the help

[2020-04-22 14:05] azizka commented on #815
Hi,

Yes, we were thinking to import LCVP and use it as datasource to do the synonym resolution for plants in taxize (so basically what LCVP is doing now).  We have hussled with the package size for quite a while, but not found a good solution.

[2020-04-22 15:03] sckott commented on #815
that would work. Ideally we can integrate LCVP into the high level functions https://docs.ropensci.org/taxize/articles/infotable.html

For the data: Github was just an example. I'd try to make sure the data is hosted somewhere that's reliable and always available; avoid university websites, personal websites, etc. - So github, zenodo, gitlab, etc. If the data is hosted online, you could have a fun

[2020-04-23 16:43] sckott commented on #817
You started off the bold repo issue https://github.com/ropensci/bold/issues/60#issue-413596794 with usage of `taxize::downstream()` from ncbi. With these changes, you can now use bold instead if you like in `downstream()`.

[2020-04-23 22:41] #817 closed

[2020-04-23 22:51] sckott commented on #817
still want any  feedback on these new functions, but need to push a new version to cran now

[2020-04-24 11:28] maelle commented on #723
I like the idea but wonder whether something like sci_ver_id could be annoying since it is long.

Some naive thoughts.

An alternative would be to have as many parameters as possible input: sci for sci names and ver for vernacular names within the same function (and you could only provide one of them, Not both a value for sci and a value for ver within a function call). Then the first argument cou

[2020-04-24 14:54] sckott commented on #723
thanks @maelle !

You're right that `sci_ver_id` is quite long. Maybe just going with `name` for scientific or vernacular name and `id` when an identifier is expected, but if name or id can be given, then you'd need a 3rd option (i guess just `x`?)

No, only one or the other.

It could, but the search results are beyond my control - and I don't want to throw more messages, though that's a good ide

[2020-04-24 15:11] sckott commented on #813
Thanks @chrisbitmead and @pmcneil for the clarifications

I've not been able to work on this for a few weeks, i'll get back to this soon

[2020-04-27 13:33] maelle commented on #723
I don't understand this, can you explain to me what the input is in this case?

[2020-04-27 16:14] sckott commented on #723
some functions can accept a taxonomic id or name - so `name` wouldn't be appropriate for that parameter and neither would `id`

[2020-04-28 15:52] adriangeerre opened #818 "class2tree error (doubt, potential bug)"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hello, first of all, thank you for an amazing package. I am experiencing an issue with the 'class2tree' function of taxize (v0.9.94 and v0.9.95). I am working with a list of species that are transformed with 'classification' and finally modified into a tree. However, sometimes, I found the error:

Error in if (currentIn

[2020-04-28 16:53] sckott commented on #818
Thanks for the report @adriangeerre - i can reproduce it.

@trvinh can you help on this. the problem appears to be happening here https://github.com/ropensci/taxize/blob/master/R/class2tree.R#L290 I'm not familiar enough with the code in that fxn to help quickly.

[2020-04-28 16:58] sckott opened #819 "Add a lot more tests for class2tree and it's internal fxns"
@trvinh Given how complex `class2tree()` function is, I think we need a lot more tests for `class2tree()` itself, but also for the internal helper fxns used therein. Do you have time to work on this soon?

there is somewhat good coverage of the class2tree file https://codecov.io/gh/ropensci/taxize/src/664f3ff63465f04362b8ab6e1f8cfaef69880cb3/R/class2tree.R but given how many lines of code there ar

[2020-04-29 07:35] trvinh commented on #819
Yes, I will work on that soon.

[2020-04-29 07:45] trvinh commented on #818
@adriangeerre I will check that and get back to you soon

[2020-04-29 15:55] trvinh commented on #819
Hi @sckott , I've already implemented more tests for the internal functions of the `class2tree`. I couldn't, however, split any helper functions out of them. I found no independent or duplicated code blocks that can be written as helper functions :(
The issue #818 was a bug in the algorithm, which can not be covered by checking the in/output. I have fixed that with the PR #820

[2020-04-29 21:12] sckott commented on #818
thanks @trvinh

[2020-05-02 00:43] sckott commented on #819
Thanks @trvinh  - so you think there's sufficient code coverage now?

[2020-05-04 05:39] msweetlove opened #821 "error with worms_downstream for higher taxa"
I have a similar problem with worms_downstream as I read in issue 758 for the gif_downstream function:

When using worms_downstream to get the genera and intermediate taxa of a higher taxon (e.g. phylum, kingdom), I get an error.

For example for Fungi (urn:lsid:marinespecies.org:taxname:4):

gives the following error:

Error in vapply(x$rank, function(z) which_rank(z), 1) :
  values must be lengt

[2020-05-04 11:19] trvinh commented on #819
Hi @sckott , I hope so. We are using the functions with different taxon sets since the last update until Adrian found a bug #818 . Currently I cannot find anything that needs to be tested.

[2020-05-05 00:05] #818 closed

[2020-05-05 00:20] sckott commented on #819
okay, thanks!

[2020-05-05 00:20] #819 closed

[2020-05-05 17:26] adriangeerre commented on #818
I have install the package from Github and retry. It work. Thank to all for the effort and the quick correction.

[2020-05-05 17:29] sckott commented on #818
@adriangeerre  glad it works , thanks for the fix @trvinh

[2020-05-05 17:30] sckott commented on #821
thanks for the issue @msweetlove

it is indeed a rank name we haven't dealt with

`phylum (division)`

[2020-05-05 18:25] trvinh commented on #818
also thanks for the bug report @adriangeerre :-)

[2020-05-05 18:55] #821 closed

[2020-05-05 18:56] sckott commented on #821
@msweetlove  Please try again after reinstalling like `remotes::install_github("ropensci/taxize")`, should work now

[2020-05-15 20:02] sckott opened #823 "new nature serve API version"
see https://github.com/ropensci/natserv/issues/21

waiting on new natserv version to get to cran

[2020-05-15 20:59] #823 closed

[2020-05-23 17:35] cgallut opened #824 "Rank error with worms_downstream"
Hi,
I encountered the same problem as in issue #821 with the following command:
[code]
It yields this error:
Error in vapply(x$rank, function(z) which_rank(z), 1) :
  les valeurs doivent être d'une longueur 1,
 mais FUN(X[[14]]) a une longueur 0

I retrieved all children from AphiaID 123165 and it seems that the problem comes from the rank
id = 155 , rank = "supertribe" which appears to be missing

[2020-05-27 00:36] sckott opened #825 "classification.gbifid is now returning duplicate last taxon"
I think at some point GBIF did not return the taxon queried in the results, but perhaps they do now. ideally there's not a duplicated taxon in the output

[code]

[2020-05-27 00:42] sckott commented on #824
thanks very much for the report!  surely many others have this issue, so many people will benefit from this.

fix coming

[2020-05-27 00:44] #824 closed

[2020-05-27 00:44] sckott commented on #824
try again after reinstalling `remotes::install_github("ropensci/taxize")`

[2020-05-29 22:35] pecard opened #826 "taxonomic databases update"
The taxonomic databases seem to be provided by globalnames.org. Some of the reference tables are not up to date. Is it something that can be easily adjusted or added manually?

[2020-05-30 22:08] sckott commented on #826
The only data provided by global names is through the functions prefixed with `gnr` or `gni`, see https://github.com/ropensci/taxize#currently-implemented-in-taxize for a summary of data sources and functions they map to.

I don't run global names, so I can't update any data. @dimus  would be the one to talk to - Dmitry, is there info somewhere on when data sources are/will be updated?

[2020-05-31 00:04] dimus commented on #826
@sckott I am going to finish updating data sources next week (hopefully). It depends on CoL now. CoL team is planning to release a new version next week. After that major datasets will be updated. @pecard, I did not update some datasets for a while either because they are too small and nobody asked for their update, or because I only had access to them once, and lost it now. What are you looking f

[2020-06-01 17:58] sckott commented on #826
thanks @dimus !

[2020-06-03 18:05] pecard commented on #826
looking for harmonizing data for vertebrates. I'm not being able to find a workflow to deal with data from different sources. I have data from eBird, gbif, different national (PT) atlas and a single reference list for vertebrates. There are several reference lists on taxize seems to be outdated (IUCN, eBird, Reptile DataBase).

[2020-06-03 19:38] #825 closed

[2020-06-03 21:57] sckott opened #827 "update APG datasets to v14"
http://www.mobot.org/MOBOT/research/APweb/

[2020-06-03 23:28] #827 closed

[2020-06-05 15:13] cgallut opened #828 "lowest_common fails with merged NCBI taxid"
Hi,

As an example the following command fails:
[code]
and returns this error:

Error in x[1, 1] : incorrect number of dimensions.

A search for 668400[uid] on NCI taxonomy returns the following:
Entry Merged. Taxid 668400 was merged into taxid 668482 on June 2, 2020.

Would it be possible that lowest_common() gets the new taxid and returns the lowest common with it? It then could issue a warning

[2020-06-08 23:46] sckott commented on #828
thanks, i'll have a look

[2020-06-09 00:08] #828 closed

[2020-06-09 00:11] sckott commented on #828
should work now. I don't think NCBI tells us that the taxon is merged - but I did fix something in `classification()` which fixes this use case in `lowest_common`

[2020-06-09 00:21] #723 closed

[2020-06-17 15:48] sunray1 opened #830 "Unseen rank name"
Hi,

I'm having a problem when trying to get the downstream names from GenBank for 'Magnoliopsida'. Looking at similar issues, it's looking like it's just a rank name that hasn't been seen before.

Code:
[code]
Error:
[code]
If I could get some help here, that'd be great! Note: this is a particularly large taxa and took a few hours and retries to get to this error.

[2020-06-17 20:20] sckott commented on #830
Thanks for your question @sunray1  I'll have a look

Indeed, that would take a while, going to species from Magnoliopsida.

[2020-06-18 00:20] sckott commented on #830
note to self:

[code]

[2020-06-18 18:34] sckott commented on #830
@sunray1 I'm still sorting out what rank name is causing the issue. For big queries like this you may want to try [taxizedb](https://docs.ropensci.org/taxizedb/) - which has a `downstream()` function matching the one in this package, but is much much faster once you have downloaded the NCBI or ITIS database,

[code]

[code]

[2020-06-18 23:07] sckott commented on #830
Tracked down the rank that caused the error: `series`

There are others though - looking at the dump of NCBI taxonomy dat:

- biotype
- forma specialis
- isolate
- pathogroup
- series
- serogroup
- serotype
- strain

Not sure where to put some of these in the reference rank dataset `rank_ref`. Asking around

[2020-06-22 14:37] sunray1 commented on #830
Cool thanks!

No rush on this, just figured I'd let you know.

[2020-06-29 16:45] sckott opened #831 "worms_downstream: improve docs"
so users know that they can use parameters passed down to `worrms::wm_children`

[2020-06-29 16:46] #831 closed

[2020-06-29 16:47] sckott commented on #826
@dimus Did you update datasets yet?

[2020-06-29 19:38] dimus commented on #826
@sckott yes, both resolver.globalnames.org and index.globanames.org are updated 3 days ago

[2020-06-29 19:40] dimus commented on #826
the following datasets are updated

2020 May-June
[x] 1   CoL (once a year)

[x] 3   ITIS

[x] 4   NCBI

[x] 9   WoRMS

[x] 11  GBIF

[x] 12  EOL

[x] 167 IPNI

[x] 172 PaleoBioDB

[x] 179 OpenTreeTaxonomy (3.2)

[x] 181 IRMNG (once a year)

[x] 184 ASM Mammal Diversity Database

[x] 185 IOC World Bird List v10.1 is current

[x] 186 MCZbase

[x] 187 eBird/Clements

[x] 188 American Ornithological

[2020-06-29 22:51] sckott commented on #826
awesome, thanks @dimus

[2020-06-29 22:52] sckott commented on #826
@pecard databases updated, closing for now as this is not a taxize issue

[2020-06-29 22:52] #826 closed

[2020-06-30 18:26] sckott commented on #830
@sunray1 your example should work now after reinstalling like `remotes::install_github("ropensci/taxize")` - having said that you may want to use taxizedb instead for such very large queries - taxize is still fine for smaller queries

[2020-06-30 21:25] devonorourke commented on #817
Hey @sckott - I'm finally giving the new bold downstream functionality a go and it appears to be working. I had to make a tiny update to your example in the [readme](https://github.com/ropensci/bold/blob/master/README.md#large-data) section on pulling large data.

The initial list was created like this:
[code]

It's almost identical to the example/tutorial for pulling from NCBI, where all I'm doin

[2020-06-30 22:50] sckott commented on #817
@devonorourke  Thanks for trying it!

by this package, do you mean taxize or bold?  Not really either way. The way I usually recommend is for people to use `downstream()` or similar functions to split the target taxon into smaller taxonomic groups to query on because as you know BOLD does not handle very large queries well.

There is this page http://boldsystems.org/index.php/datarelease but looks

[2020-06-30 22:53] devonorourke commented on #817
Thanks again. Do you know anyone specific at BOLD that I might ask about
licensing? I wasn't sure how plugged in you are with that group.

Cheers

On Tue, Jun 30, 2020, 6:50 PM Scott Chamberlain <notifications@github.com>
wrote:

[2020-06-30 23:05] sckott commented on #817
last time I got a response was in 2017 from mmilton@boldsystems.org Megan Milton - there's some email address here http://boldsystems.org/index.php/Resources/ContactUs to try

[2020-07-02 02:14] devonorourke commented on #817
Thanks.
I ran into an issue in trying to get through the entire Arthropoda dataset in one fell swoop and it crashed. I then went back to my old ways of splitting that dataset into 5: Coleoptera, Diptera, Hymenoptera, Lepidoptera, and all other Insects. Then it crashed again! 😠 ... So now I'm splitting up the Dipterans into 4 groups (the 3 families with the most specimen, plus all others) and seein

[2020-07-02 17:45] sckott commented on #817
It may vary as well, e.g., if they're getting a lot of requests to their servers at once, the "too large" value may be larger at this point vs. when there are very few requests coming in. Unfortunately, we're stuck not knowing.

[code]

[2020-07-02 17:52] devonorourke commented on #817
Yeah, it's definitely not a fixed value.
I got all of the chordate dataset to work in one shot (>800k records on
BOLD's taxonomy page), but then it failed for the Coleopterans (~ 600k
records)... maybe I should only be downloading at 3am EST.

On Thu, Jul 2, 2020 at 1:46 PM Scott Chamberlain <notifications@github.com>
wrote:

--
Devon O'Rourke
Postdoctoral researcher, Northern Arizona University
L

[2020-07-02 17:57] sckott commented on #817
Oof, not consistent, wish I was wrong and that it was consistent

[2020-07-02 18:06] devonorourke commented on #817
Here's hoping I don't have to break it back any further than Family-level
bins. I'm now being forced to split up Dipterans into 4 groups,
Coleopterans into 5 groups, Hymenopterans into 5 groups...

I wrote to BOLD yesterday asking if they could make their entire dataset
available. I'm trying to *reduce* their server use by providing a dataset
that users can further refine for their own dataset nee

[2020-07-02 20:06] sckott commented on #817
you could do something like

[code]

It's pretty slow though, this takes a long time

[code]

A faster example to try:

[code]

[2020-07-02 20:12] sckott commented on #817
No. I don't have a good sense of what different data they have. GenBank web services are at least a little easier to use so thats something. In general it seems NCBI does provide bulk access to data, but i'm not sure if they do for all data types.

of course! happy to help

[2020-07-08 14:01] adrianamordente opened #832 "Obtaining specific taxonomic information for a specie list"

[2020-07-08 14:05] adrianamordente commented on #832
Hi! I have a vector with a species list I’d like to obtain phylum, order, family, genus for, using the tax_name function however I cannot seem to obtain any of the information required! Any info in the right direction is much appreciated! Thanks! :)

[2020-07-08 14:53] sckott commented on #832
thanks for your question, try this:

[code]

[2020-07-16 00:57] #832 closed

[2020-07-16 01:14] sckott opened #833 "rank_ref: may need specific lookups per data source"
noticed via user email question about `worms_downstream` ...

- WORMS uses `section` and `subsection` ranks between `order` and `family`, like `Kingdom Phylum Subphylum Superclass Class Subclass Superorder Order Suborder Infraorder Section Subsection Superfamily Family Subfamily Genus Species `
- other sources I've seen (NCBI for one) uses at least for some taxa `section` and `subsection` between

[2020-07-19 01:22] cparsania opened #834 "taxize::downstream() results for db = "ncbi" differ from online NCBI."
Hi,

I want to know all the `phylum` given under the kingdom Fungi. The command I run below gave me just 2 phyla. However, when I cross-check with NCBI taxonomy, I can easily find few more such as   Zoopagomycota and Chytridiomycota which are not returned by function downstream.

I wonder why this is so different than what I see online.

--

[code]

<sup>Created on 2020-07-19 by the [reprex packag

[2020-07-20 14:13] trvinh opened #835 "new rank of NCBI taxonomy"
Hi,

I recognised that NCBI taxonomy has a new systematic rank called *"clade"*, which used to be named as *"no rank"*. This could cause trouble for the `class2tree` function, since some of its sub-functions work only with *"no rank"*. However, when I used `classification` to get the taxonomy of a species, it still delivered *"no rank"* ranks.

[code]
As you can see in the NCBI taxonomy website fo

[2020-07-20 14:51] trvinh commented on #835
I think it is related to #830

[2020-07-20 21:08] sckott commented on #835
thanks @trvinh yes, related to #830

This is good timing since I'm thinking about a new `rank_ref` setup (see #833) triggered by the fact that `section`/`subsection` ranks are used in completely different parts of the classification tree for animals vs. plants. That is, we need to rework how we lookup the ordering of ranks based on the data source.

For the `classification()` example you give abov

[2020-07-21 08:33] trvinh commented on #835
Hi @sckott,

It could be as you said, that Entrez and the website are not consistent.

For the `class2tree()`, I can also add the new ranks to their positions according to the `rank_ref`. In case of *"section/subsection"* and *"clade"*, since they can be placed in different positions in the taxonomy string, I will treat them the same as *"no rank"*. Since I am using the rank names only as a tag fo

[2020-07-21 20:49] sckott commented on #834
thanks for the issue @cparsania

It may not be documented very well, but you can pass down the `ambiguous` parameter to [ncbi_downstream()](https://docs.ropensci.org/taxize/reference/ncbi_downstream), then to [ncbi_children()](https://docs.ropensci.org/taxize/reference/ncbi_children) which decides whether to include so-called ambiguous taxa or not.

[code]

that should give 9 rows. is that the out

[2020-07-22 08:29] dongzhang0725 commented on #833
Could you please give me a method to add section/subsection in rank_ref between order/family?

[2020-07-22 09:12] dongzhang0725 commented on #833
I tried to use the following code to insert section/subsection:
[code]
However, I can't get any result from your code:
[code]
Am I wrong?

[2020-07-22 16:17] sckott commented on #833
Note: The above change won't be the final solution I use because we still need this to work in cases where section/subsection are between genus/species.

I'm not sure why that didn't work. I'll push a branch soon with a fix you can try

[2020-07-22 23:57] sckott commented on #835
using `rank_ref` in the following functions:

- worms_downstream
- ncbi_downstream
- itis_downstream
- gbif_downstream
- bold_downstream
- classification
- tax_name

[2020-07-23 00:53] dongzhang0725 commented on #833
Thank you, maybe you can add a parameter for user to specify whether section/subsection are between genus/species or between order/family.

[2020-07-23 16:56] sckott commented on #833
@dongzhang0725 reinstall `remotes::install_github("ropensci/taxize@rank-ref-changes)` and try again. On trying the example I actually got more than the additional 25 families, let me know if you get what you expect now

[2020-07-23 17:02] sckott commented on #835
i've emailed NCBI about this, but who knows if i'll get a response

[2020-07-23 18:47] trvinh commented on #835
Great! Let hope that they will give an answer so that we can plan how to modify the code :) Anyway, if it is needed, I think I already have an idea how to adapt it to the `class2tree` function.

[2020-07-24 10:37] cparsania commented on #834
Thanks for your reply. It worked as you mentioned. May I know what does `ambiguous = TRUE` means?

[2020-07-27 22:36] sckott commented on #834
See https://docs.ropensci.org/taxize/reference/ncbi_children.html#arguments

[2020-07-27 22:46] sckott commented on #835
@trvinh  I got a reply. they said the the esummary entrez method does give the clade designation for our eg taxon - compare these

https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&ID=7776
https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=taxonomy&ID=7776

And said

So perhaps this will be resolved soon, but not yet.

[2020-07-29 07:02] trvinh commented on #835
ok, let see when they solve this inconsistency. The current `class2tree` function still works correctly. Please let me know if you got anything new from NCBI, so that I can adapt the function accordingly.
Or, if you want to be in the safe side, I will modify `class2tree` based on the current `rank_ref`, so it will be ready even if the `classification` fn can output the new taxonomy ranks later.
So

[2020-07-29 20:29] sckott commented on #835
I've replied to the NCBI email thread asking when that update will happen

[2020-07-31 08:02] dongzhang0725 commented on #833
Hi, sckott,

I am sorry for the late reply, the new branch works perfectly, thank you for your help.

[2020-07-31 15:30] sckott commented on #833
great, did you get more families than you expected though?

[2020-08-04 03:04] samueltsw opened #836 "get_pow_ : Too Many Requests (HTTP 429)"
Hi,

A few days ago, I was able to pull data from POWO using get_pow_ by inputting a vector of scientific names.
`powo_data <- get_pow_(unlist(test_data_unique), messages = FALSE)`

However, there are errors even I am just trying to pull one scientific name. It seems to be related to the rate limits mentioned in [https://github.com/ropensci/taxize/issues/598](https://github.com/ropensci/taxize/iss

[2020-08-04 19:29] sckott commented on #836
Thanks for the issue @samueltsw Yes, its related to that issue - and see https://github.com/ropensci/taxize/issues/598#issuecomment-468231302 - i'll add that information on rate limits to the docs.

your solution is the one i'd use too, sys.sleep between requests

note that they may change rate limits through time, so code that works now may work differently in the future (i.e., need to add more s

[2020-08-04 19:34] #836 closed

[2020-08-04 19:34] sckott commented on #834
still waiting on a reply from NCBI

[2020-08-26 23:45] #833 closed

[2020-08-26 23:46] #830 closed

[2020-08-26 23:47] #834 closed

[2020-08-27 11:38] dongzhang0725 commented on #833
Sorry, I thought I had replied, but it seems I am wrong. Yeah, I think I get all the families in Crustacea this time. Thank you! It's a great tool.

[2020-08-28 05:48] ocstringham opened #837 "gbif_downstream return extant species"
I was wondering if there is a way to remove extinct species and only keep extant species when using `gbif_downstream`?

For example, Camelidae (gbif ID 5716) has only seven extant species but `gbif_downstream` returns 165 species.

Example code: `camels = gbif_downstream(5716, downto = 'species')`

[2020-08-28 19:26] kpitz opened #838 "Error with class2tree"
Hello,

I have an issue with the function class2tree where for some species queries it gives me the error:
"Error in if (currentIndex <= tmpEnv[[subList[i - 1]]]) { : argument is of length zero"

Following this tutorial(https://ropensci.org/blog/2014/02/19/taxize-update/), I'm able to get a tree without error for the following:
[code]

But when I substitute taxa which I wish to plot (mostly marine

[2020-08-31 15:10] sckott commented on #833
great, glad it works

[2020-08-31 15:25] sckott commented on #838
ping @trvinh

[2020-08-31 15:26] sckott commented on #835
@trvinh i think the change has been made - compare the two links in the above comment https://github.com/ropensci/taxize/issues/835#issuecomment-664676578 - and I think the change, as you expected, is causing issues in `class2tree` - see #838

[2020-08-31 15:39] sckott commented on #838
thanks for the report @kpitz I can replicate the problem. we'll hopefully sort this out soon

[2020-08-31 16:01] trvinh commented on #838
@sckott I think it is the issue with the new ranks, that we discussed before.
@kpitz I will work with this issue early tomorrow. If it was because of what we’ve thought, it will be solved quickly.

[2020-08-31 16:14] sckott commented on #838
thanks @trvinh

[2020-09-01 15:40] #835 closed

[2020-09-01 15:40] #838 closed

[2020-09-01 15:40] sckott commented on #838
@kpitz try again after reinstalling `remotes::install_github("ropensci/taxize")`

[2020-09-01 22:18] sckott commented on #837
thanks for your question @ocstringham - having a look

[2020-09-01 22:40] sckott commented on #837
We use the `/species/5716/children/` API route, e.g, https://api.gbif.org/v1/species/5716/children to get data for this function. It does not allow query parameters for extinction status, AND does not return data for that status.

Another route `/species/search/`, e.g,. https://api.gbif.org/v1/species/search?q=Camelidae&limit=20&isExtinct=false does allow filtering by extinct status and returns th

[2020-09-02 05:04] ocstringham commented on #837
OK, thank you for the update! Looking forward to hearing back.

[2020-09-05 01:03] TaehyungKwon opened #840 "class2tree memory allocate error"
Dear all,

I'm currently having trouble using taxize class2tree function to generate taxonomy tree.
I installed taxize using conda, and it's running under R 3.6.3.
class2tree function keeps expanding the allocated memory (~100Gb) and finally ended with memory allocation error.

Error in order(full_rank_name_df$index) :
  Failed to allocate working memory for xtmp. Requested 1119790 * 8 bytes

R Sc

[2020-09-05 01:06] sckott commented on #840
thanks for opening the issue @TaehyungKwon - @trvinh can you have a look when you get a chance?

[2020-09-05 09:53] trvinh commented on #840
Hi @TaehyungKwon , can you provide me the list of your taxa? I checked your code with my 296 taxa but couldn't reproduce the problem.
[code]
Best,
Vinh

[2020-09-09 16:19] TaehyungKwon commented on #840
Hi @trvinh,

Yes, thank you.
Here's the link for my deduplicated species list "class.dedup".
https://drive.google.com/file/d/14yX2Hy9jlLIEz8weHMsOYvJ7lw43QPxW/view?usp=sharing
I am sorry that I forgot to mention that class2tree worked on my machine at first.
Meanwhile, I suspected that this is a compatibility issue with other R packages.
I tried to clean install on a new conda env with r-essential

[2020-09-10 01:36] TaehyungKwon commented on #840
I tried with other machines (3.6.3 on mac & 4.0.2 on windows) but it gives me the same error over and over again.

[2020-09-10 13:13] trvinh commented on #840
@TaehyungKwon some of your species have the new taxonomy ranks (see #835 #838). It causes some troubles for `class2tree`. When I tested your *class.dedup*, even with only the first 30 taxa, it couldn't finish. But it could run without any problem with the *new* `class2tree`. So, please reinstall the pkg with `remotes::install_github("ropensci/taxize")` and try again. It worked for me :)

[2020-09-10 21:39] TaehyungKwon commented on #840
It worked! Thanks!

[2020-09-11 05:10] #840 closed

[2020-09-16 22:12] diegodaem opened #841 "Error with taxosaurus.org ?"
Hello

I´m beginner so my question may be basic, although I could not find the answer on Google. I am trying to access through the tnrs function, but I get the following error:

library(taxize)

species = c ("Epidendrum arachnoides", "Epidendrum nocturnum", "Epidendrum ciliaris")

(name_query = tnrs(sci = species,
                   source = "iPlant_TNRS"))

Error in curl::curl_fetch_memory(x$url$

[2020-09-17 01:24] sckott opened #842 "make tnrs() fxn defunct"
due to much downtime

[2020-09-17 01:27] sckott commented on #841
That site is down right now. "connection time out" is a general way to indicate that a server is not responding within some time limit. considering dropping tnrs fxn, see #842

[2020-09-17 01:27] sckott commented on #842
#841 - see also #437

[2020-09-17 19:31] sckott opened #843 "revdepcheck: after job run, push to revdep folder in repo"
last revdepcheck https://github.com/ropensci/taxize/runs/1130306239?check_suite_focus=true

need to push to the repo to update the results - can clear all else out of the revdep folder

[2020-09-17 20:23] diegodaem commented on #841
Thank you very much @sckott

[2020-09-18 00:28] sckott commented on #813
to do"

- [ ] is there pagination? https://github.com/bio-org-au/nsl-documentation/issues/1
- [ ] `get_apni()` - main user facing fxn in taxize, not sure what to use, right. now thinking to use the suggest API because it can do fuzzy search and is fast to parse
- [ ] add support to `classification`
- [ ] add support to `children`
- [ ] vectorize functions where possible

[2020-09-18 23:27] sckott opened #844 "get_itis - finish off rank extraction step"
Right now using the new database downloaded rank info - need to allow falling back to using ritis to get that info

[2020-09-18 23:28] sckott commented on #508
closing - work on taxa-work - will open new issues as needed - getting close to finishing off

[2020-09-18 23:28] #508 closed

[2020-09-18 23:29] sckott commented on #645
if folks open issues about this we can follow up

[2020-09-18 23:29] #645 closed

[2020-09-18 23:31] sckott opened #845 "simplify get_* fxns?"
they're long complex functions, ideally factor out the similarities into separate fxns where possible. possibilities:

- parameter assertions at top
- taxon_state setup
- others...
- ...

[2020-09-18 23:40] sckott opened #846 "using txid objects downstream"
noam asked during chat, paraphrasing: what tasks would users do on a vector of >1 id that aren't done on individual ids. perhaps tasks like phylogenetic analyses, or community ecology analyses

anything to think about or do in this package?

[2020-09-23 16:04] #842 closed

[2020-09-23 16:04] sckott commented on #841
tnrs is defunct now (in the dev branch `taxa-work`)

[2020-09-23 16:04] #841 closed

[2020-09-28 20:59] oharac opened #847 "taxize::downstream() result is length 0 error using WoRMS"
Hi,

I'm finding this package to be really useful, but I'm running into a bug.  I am using `taxize::downstream` to access the WoRMS database to get all families related to a set of specific orders.  For nearly everything, it works fine, but for decapoda (1130) and amphipoda (1135) it returns this error:
[code]

EDIT: I see that this is similar to #821 and #824 - those were related to a problem wit

[2020-09-28 23:28] #847 closed

[2020-09-28 23:28] sckott commented on #847
Thanks - taxonomy is a deep dark hole from which many weird taxonomic ranks emerge from time to time. one of the taxa had the rank "epifamily" https://www.marinespecies.org/aphia.php?p=taxdetails&id=1459303

fixed, if you reinstall it should work

[2020-09-28 23:38] oharac commented on #847
awesome - thanks so much!  If I run into another odd rank in the next round
of searching I will post it here.

On Mon, Sep 28, 2020 at 4:28 PM Scott Chamberlain <notifications@github.com>
wrote:

[2020-09-28 23:42] sckott commented on #847
thanks

[2020-09-29 19:42] oharac opened #848 "taxize::downstream() result is incomplete?"
A new bug using `taxize` with the WoRMS database.  I noticed that many of the species for which I have traits data (independent of WoRMS) are not being found in the dataset I've created using `downstream()`.  It appears that the `downstream()` result is incomplete, missing species names for which `classification()` returns valid results.  EDIT: this seems to happen with `children()` as well.

Repr

[2020-09-30 19:59] oharac commented on #848
A little more digging using the WoRMS API directly reveals that the above issue of dropped taxa is actually two different problems.

### Problem 1: Truncated list of octopus spp:

The truncated list seems to be because the children API endpoint returns a max of 50 records.  But trying the `offset` option in taxize::downstream doesn't seem to be working (nor does `marine_only`, see below) - perhaps

[2020-09-30 20:31] oharac commented on #848
Update: the dropped marine species appear to be due to incorrect environment flags (`isMarine`, `isBrackish`, `isFreshwater`, `isTerrestrial`) in the WoRMS database for subclass Theria, class Sirenia, and class Rodentia (I believe also for class Didelphimorphia, those pesky marine possums). I emailed info@marinespecies.org to let them know - hopefully their end will be remedied soon.

[2020-09-30 22:34] sckott commented on #848
Thanks for the report @oharac

Thanks for reaching out to WORMS folks!

I added `...` in two places so that one can pass through `marine_only` parameter now. The offset parameter is a bit complicated. In `children()` we use a while loop to get all results, so the user shouldn't need to adjust offset.

In `downstream()` with db=worms, we then use `worms_downstream`, which uses the parameter name `s

[2020-09-30 23:37] oharac commented on #848
Thanks @sckott - until the WoRMS data is fixed, I'll try using the `marine_only` parameter to get all the mammals and then cut out non-marine branches manually.

I'll also give the `start` parameter a shot to build a `while` loop for the downstream calls... will that ensure intermediate steps also don't get truncated? e.g. if I call `downstream(familyname, downto = 'species', db = 'worms')` on a f

[2020-10-01 01:04] sckott commented on #848
`intermediate` parameter only governs whether the intermediate taxa before getting to the target rank in `downto` are returned to you or not. The parameter doesn't affect the main work of getting your target taxa.

Just committed, i changed internals of `children` and `downstream` when `db="worms"` to use a new internal fxn `worms_children_all` to get all results for any one query.

try e.g., `dow

[2020-10-01 03:53] oharac commented on #848
@sckott Your fixes seem to be working great, thanks so much.  However, now I'm seeing the same `isMarine = null` issue on the WoRMS side in Elasmobranchii as well, which (with default of `marine_only = TRUE`) is going to drop all but 7 species (out of 1200+) trying to go downstream from the class level (`children()` or `downstream()` in `taxize`), and finding this in such important taxa I can only

[2020-10-01 19:37] oharac commented on #847
I encountered this same error with the WoRMS database again, but seems to be for a different reason.  `taxize::downstream` for family Polynoidae (id 939) returns:

[code]

Knowing that prior issues were due to oddball ranks, so I checked the downstream ranks.  Here the problem is an `NA` rank, caused by a `null` rank listed in the output from the `AphiaChildrenByAphiaID` API endpoint.  The ones I'

[2020-10-01 21:35] sckott commented on #847
Thanks for the report.
Unfortunately, there's no way to handle missing ranks really, other than perhaps making additional http requests for every single name that does not have a rank, which seems like a mess and I'd rather avoid doing that.
For now, I'm changing (reinstall to get change) the code to change missing ranks for WORMS to "no rank" (which NCBI has a lot of), and then the existing code

[2020-10-03 17:13] oharac commented on #847
I emailed the WoRMS folks and their response was that they couldn't replicate the `null` rank thing - so checking today, I can't replicate it either - I guess it was an intermittent problem (though I could replicate it on the day I posted the issue).

[2020-10-05 20:41] morgan-sparks opened #849 "Distance matrix from classification amd class2tree"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
Just a quick question, not really a bug. I used the classfication() function for a list of species (includes insects, plants, molluscs, etc.) I have to download taxonomic hierarchy and then converted it to a tree using class2tree(). Works great! Obviously these are not true phylogenetic relationships, but I was curious h

[2020-10-05 21:28] sckott commented on #849
thx for your question @morgan-sparks  - @trvinh can you give some details?

It'd be worth adding a more detailed description to the function documentation too as it's pretty thin on what is being done within the function.

[2020-10-06 09:26] trvinh commented on #849
Hi @morgan-sparks ,
yes, you were right, the classification is basically based on the taxonomy hierarchy string. Given a list of species, first the function will collect all possible taxonomy ranks and their corresponding IDs for each species. Then, it will try to align the rank vectors, just like doing a sequence alignment (with each position is a taxonomy rank, instead of a nucleotide or an amin

[2020-10-06 13:28] pgcudahy opened #850 "Error getting all children of M tuberculosis complex"
<details> <summary><strong>Session info </strong></summary>

[code]
</details>

I'm trying to get all of the children taxon ids of Mycobacterium tuberculosis complex (uid = 77643) but the downstream command fails with

[code]
Any idea where I'm going wrong?

[2020-10-06 15:27] sckott commented on #849
thanks @trvinh - can you add some of that to the function documentation?

[2020-10-06 16:17] sckott commented on #850
thanks for the issue and for including your session info. i'll have a look

[2020-10-06 16:37] sckott commented on #847
Thanks for the follow up. Well glad it was an intermittent thing; hopefully it doesn't come back.

[2020-10-06 18:09] trvinh commented on #849
@sckott : yes, I can. But where should I add it to? Directly to the Rd block for each subfunction? But how can the users see that, since those functions are only internal?

[2020-10-06 18:14] sckott commented on #849
I was thinking in the documentation for the class2tree function https://github.com/ropensci/taxize/blob/master/R/class2tree.R#L1-L52 - perhaps in the `@details` section

you can also add docs to specific internal methods if you want, and then use `@keywords internal` so that the manual file isn't exported (Seen in the listing of docs pages), but the user can still get to it by doing `?fxn-name`

[2020-10-06 18:27] trvinh commented on #849
I will try :-)

[2020-10-06 18:28] sckott commented on #849
thank you!

[2020-10-09 16:35] #850 closed

[2020-10-09 16:35] sckott commented on #850
there was a bug in there that I fixed, but the main issue is that "no rank" is not a rank that can be used. It can be anywhere in the rank hierarchy, so can not be used in the context of `downstream()`.

for your case perhaps "strain" would work?

[code]

[code]

[2020-10-09 16:38] sckott opened #852 "new article: all about taxonomic ranks"
things to include:

- that NCBI in general is weird. e.g, "no rank"
- explain that "no rank", "unspecified", "unranked", and "clade" can't be used as a rank in `downstream()`, etc. because they have no rank placement in a hierarchy - they can be anywhere in the hierarchy - give an example ([e.g., this](https://github.com/ropensci/taxize/issues/850)) to perhaps instead use "strain" instead of "no r

[2020-10-14 11:48] eray-sahin opened #853 "upstream() error: "The provided db value was not recognised" for NCBI"
Hello,

I am trying to extract upper taxonomic level information for the taxa I have in genus level. For 'itis', the function upstream() works, but for some levels it produces incorrect results. When I attempted to use 'ncbi', I am getting the error;

Error: the provided db value was not recognised

Thank you for your help,

Eray

[2020-10-14 18:36] sckott commented on #853
thanks for your question. I don't remember if upstream ever supported ncbi. it used to support col but that was removed a while back. Not all functions in taxize support NCBI. the only db supported right now for upstream is itis.

i assume this is when using `db="itis"`?  please share those problems so i can help

[2020-10-15 09:27] eray-sahin commented on #853
Dear sckott,

Thank you for your help,

I can give two examples that may illustrate the problem I am having:

For genus 'Escherichia', the ITIS database gives that taxonomic info https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=280#null. For taxize;

==  1 queries  ===============

Retrieving data for taxon 'Escherichia'

√  Found:  Escherichia
==  Results  ==========

[2020-10-16 17:39] sckott commented on #853
You have not stated what the problem is? Please be specific.

[2020-10-16 17:52] eray-sahin commented on #853
Dear sckott,

While I was trying to use 'itis' database to find the phylum of the genus of my interest, it produces more than one result, and when I check ITIS database, there is only one respective phylum record.

For example, for genus 'Escherichia' the phylum is 'Proteobacteria' , but the output gives 25 results , and the correct one is the 20th in the list.

For another genus named 'Akkermensi

[2020-10-16 17:57] sckott commented on #853
Ah okay. `upstream()` is not meant for that use case. It's equivalent to `downstream()`, where each get all names up or downstream from the input name.

Try `tax_name(sci = "Escherichia", get = "phylum", db = "ncbi")`, see `?tax_name`

[2020-10-16 18:33] sckott opened #854 "re-integrate COL via colpluz"
https://github.com/ropensci/colpluz is nearly to CRAN, hopefully soon.

Working on branch `col-plus` - branched off of `taxa-work`.

Use dataset `3LR` https://github.com/CatalogueOfLife/general/issues/79#issuecomment-710238530 for `get_col` (right now named `get_colp`, change to `get_col` as the colp terminology is going away)

note: colpluz name may change https://github.com/ropensci/colpluz/issu

[2020-10-16 18:46] eray-sahin commented on #853
Thank you so much,

Best regards,

eray

[2020-10-16 18:49] #853 closed

[2020-10-19 01:28] oharac commented on #847
A new instance of the zero-length error in WoRMS `downstream`:

`downstream(345465, db = 'worms', downto = 'class', marine_only = FALSE)[[1]]`

In case this is a similar problem to those noted before, where odd taxonomic ranks would create this error, I checked the children of this sequentially to identify any unusual ranks.

* `children(345465, db = 'worms', marine_only = FALSE)[[1]]` returned a

[2020-10-19 23:53] sckott commented on #847
thanks! will have a look

[2020-10-20 20:37] sckott commented on #847
@oharac should be fixed now. the missing rank was **infraphylum**

[2020-10-21 00:09] #849 closed

[2020-10-21 00:11] sckott commented on #848
@oharac did you hear back on this yet?

[2020-10-21 00:24] sckott opened #855 "vignettes only on docs site"
rbuildignore

[2020-10-21 00:25] sckott commented on #855
done in 21c9c9f0540dce60cb598d02f4c6c402575082f3

[2020-10-21 00:25] #855 closed

[2020-10-21 01:44] oharac commented on #848
Nothing yet, and still encountering the same error.  I'll ping them again to see if there is an estimated timeframe.

[2020-10-21 15:26] #852 closed

[2020-10-21 15:33] sckott commented on #848
okay, thanks

[2020-10-21 18:13] sckott commented on #837
I found out that No, there' no way to filter extinct/extant status with the routes we're using for gbif_downstream. An alternative could be to add that data after, something like:

[code]

[2020-10-22 22:32] oharac commented on #848
Received an email from someone on the WoRMS data management team saying they have executed the fix for this issue this morning.  A quick check via their API page showed a promising result, though I have yet to do a more thorough investigation or try interfacing via the `taxize` package.  I'll get to that this evening and report back, hopefully with all positive news!

[2020-10-23 04:16] oharac commented on #848
The new WoRMS database fix seems to be playing nice with `taxize`, with spot checks on previously problematic taxa returning non-empty results.  Now instead of empty results, I'm getting _too many_ results - e.g., `downstream('elasmobranchii', db = 'worms', downto = 'species', marine_only = TRUE)[[1]]` returns 3300 elasmobranch species, though the true number should be closer to ~1250 - I assume m

[2020-10-24 18:25] oharac commented on #848
Confirmed a more reasonable number of valid elasmobranch spp (1240, instead of 3379) by comparing the status of each returned ID, looking only at those spp whose status is "accepted" (other possible statuses I see: "unaccepted", "alternate representation", "interim unpublished").  Here's a quick function to determine status (for any rank), accessing the WoRMS API `AphiaRecordsByAphiaIDs` endpoint:

[2020-10-26 03:46] ocstringham commented on #837
Thanks for the update @sckott. I appreciate the alternative way of adding in the  data after!

[2020-10-26 23:08] sckott commented on #837
hopefully that works for you

[2020-10-27 05:27] sckott commented on #848
Thanks for your work on this! Lots of people will appreciate this work i'm sure.

So are there any outstanding issues?

[2020-10-27 17:22] oharac commented on #848
Thanks for your work on this as well!  I am not seeing any particular issues remaining on this related to the WoRMS API or the `taxize` functionality.  I have found a few taxa that seem commonly used but do not show up in WoRMS - e.g. there is no record for family Aetobatidae, instead genus Aetobatus is found in Myliobatidae.  I would expect that to perhaps be "unaccepted" but not entirely absent.

[2020-10-28 18:10] sckott commented on #848
Okay, great. closing

[2020-10-28 18:10] #848 closed

[2020-10-28 18:12] sckott commented on #837
@ocstringham does that solution work for you, adding in the extinct status after?

[2020-10-28 18:18] #816 closed

[2020-10-29 00:20] ocstringham commented on #837
@sckott No, not yet. I'm running into issues where `taxize::gbif_downstream` is returning synonyms so then `rgbif::name_lookup` is not returning extinction status. I'll keep trying and get back to you. Thanks.

[2020-10-29 00:35] ocstringham commented on #837
@sckott It's actually that `rgbif::name_lookup` sometimes doesn't return an extinction status. For example: `test = name_lookup("Camelops navadanus")$data` doesn't have an extinction column. Any idea why this may be?

[2020-10-29 23:47] sckott commented on #837
No i don't know why `exinct` would be missing.

Asked a question in their forum https://discourse.gbif.org/t/why-would-extinct-be-missing-from-species-search/2366

[2020-10-30 18:22] sckott commented on #837
@ocstringham see the answer in the forum link above. When there is no extinct field they just don't know if it's extinct or not. I guess that sounds a bit silly but there it is. If you want to ask in that forum follow up questions go for it

[2020-11-02 00:06] ocstringham commented on #837
Got it, makes sense. In that case, yes I can now code to get extinction status using `rgbif::name_lookup`, given if no extinction is returned its status is unknown. Thanks!

[2020-11-02 18:55] sckott commented on #837
great, sounds good

[2020-11-02 18:55] #837 closed

[2020-11-06 08:41] nick-youngblut opened #856 "API rate limit exceeded"
I was just re-running code that I previously ran a couple of months ago without problems, and now I'm getting the following error:

[code]

The code being run is:

[code]

Changing the batch size doesn't help.

My `~/.Renviron` contains `ENTREZ_KEY='XXXXXXXXXXXXXXXXXXXXXX'`

SessionInfo

[code]

I don't understand the `does not exist in current working directory` part of the message. I tried copyi

[2020-11-06 08:49] nick-youngblut commented on #856
Updating to `taxize 0.9.99` did not fix the issue. I get the same error

[2020-11-06 08:52] nick-youngblut commented on #856
A reprex:

[code]

The following output is generated:

[code]

[2020-11-06 16:18] sckott commented on #856
Thanks for the issue.

The error is happening, as you can maybe see above in your traceback, the xml reading attempt. An error occurs because we get an NCBI timeout and the xml code expects XML, not a plain string, and since the xml code knows it's not xml i think it tries then to see if the string is a path to a file, and the file is not found, hence that error.

I've fixed the above so it errors

[2020-11-06 16:21] sckott commented on #856
The rate limiting you are hitting is in `get_uid`. If you already have NCBI taxon ids, then you can pass those to `classification` and take advantage of batch querying to avoid rate limits, but since you are passing in names, we first need to use `get_uid` to get the NCBI taxon ids. One workaround with the package as is:

[code]

[2020-11-06 16:22] sckott commented on #856
I may see if we can have a sleep setting in `get_uid`

[2020-11-06 16:23] nick-youngblut commented on #856
Thanks for making the quick update!

I got around the issue earlier today by batching myself:

[code]

I had to include a long sleep (8 sec) between batches to avoid an http request error.

[2020-11-06 16:44] sckott commented on #856
glad you got a solution

[2020-11-06 19:57] sckott commented on #856
just pushed another change. reinstall to get it.  you can now adjust ncbi sleep time between requests:

[code]

[2020-11-06 23:55] sckott commented on #854
Waiting to submit `rcol` pkg (name changed from `colpluz`) now as col API docs seem to be pretty unstable, each time I check params seem to have changed, waiting a while

[2020-11-11 03:16] sckott commented on #813
@dfalster `get_apni()` working now and all apni utility fxns vectorized.

children and classification not working yet.

problem with children i'm hitting is I don't see a way to get to the id needed for the page that has children from a name id., e..g, above you shared the link https://biodiversity.org.au/nsl/services/rest/taxon/apni/51311124 that has taxonomic children for Acacia. however, the na

[2020-11-11 05:21] chrisbitmead commented on #813
@sckott Does this help?...

https://biodiversity.org.au/nsl/services/rest/name/apni/56859/api/apc.json

[2020-11-11 19:13] sckott commented on #813
@chrisbitmead ah thanks, that will probably do it

[2020-11-11 19:31] dfalster commented on #813
Thanks for your continued work here @sckott !

[2020-11-11 23:01] sckott commented on #813
@dfalster when you get a chance to try this out: children and classification are now done as well.

[code]

[2020-11-17 00:34] dfalster commented on #813
Hi @sckott. Cool! seems to be mostly working. I can confirm that get_apni, apni_classification, apni_children, apni_search all work well.

The only issue I encountered is that `apni_family` does not return sensible results. E.g. The following is a search for Eucalyptus regnant, id = 101747, which should return "Myrtaceae":

[code]

The other BIG point to consider is that the Australian taxonomic s

[2020-11-17 00:59] #856 closed

[2020-11-17 02:12] sckott commented on #813
Thanks for having a look!

Okay, i'll

- [ ] have a look at family
- [ ] make a toggle for apc or apni

[2020-11-17 02:12] sckott opened #858 "get_* and as.* don't combine yet"
issue opened https://github.com/zachary-foster/taxa2/issues/1

[2020-11-18 17:35] #858 closed

[2020-11-20 01:10] sckott opened #860 "what to do with get_wiki() wrt new taxa based object"
This function doesn't behave like the others. There's no identifiers, just names, and there's additional fields (`wiki_site`, `wiki_lang`) that all other data sources do not have. Maybe a function to coerce to a taxa_taxon object after using `get_wiki`?

[2020-11-20 05:53] sckott opened #861 "what to do with get_eol() wrt new taxa based object"
This function isn't quite as bad as get_wiki in terms of weirdness, but it has multiple identifiers, page ids as well as taxon ids within page ids, and also providers associated with each ID. Maybe a function to coerce to a taxa_taxon object after using get_wiki? Or possibly just pass extra attributes through `taxa_taxon` - which users can still access but aren't shown

[2020-11-20 18:26] #861 closed

[2020-11-20 18:26] #860 closed

[2020-11-20 18:28] sckott commented on #845
good for now

[2020-11-20 18:28] #845 closed

[2020-11-20 20:34] sckott opened #862 "encourage opening issues: remove my email from man files, etc"

[2020-11-20 21:48] sckott commented on #813
@dfalster hmm, do we need the family function?  I don't think you asked for it as far as I can remember. I think I added it just cause the route is there, but you can easily get family with `classification(101747, db = "apni")`. Okay if I remove the `apni_family` function?

[2020-11-20 22:15] sckott commented on #813
@dfalster For APC vs. APNI, it doesn't seem like a simple thing we can allow users to switch between. Let's look at the API routes used in the functions we have so far:

- `apni_search`: uses `nsl/services/api/name/taxon-search/`. docs say its for APC only right now.
- `apni_suggest`: uses `nsl/services/suggest/acceptableName/`. docs have

whereas I'm using `acceptableName` (last part of route abo

[2020-12-07 23:17] hmorzaria opened #863 "Error: Bad Gateway (HTTP 502)"
I keep getting this Bad gateway error. A similar call with db='worms' works fine, so I assume there is some error with the itis API, but wanted to check I am not missing anything. I did notice using verbose=TRUE resolves quickly, otherwise the call hangs for a long time, before returing the bad gateway. I was testing individual calls, not in a function or loop (which does introduce a Sys.sleep)

[

[2020-12-07 23:29] sckott commented on #863
Thanks for the issue @hmorzaria !

Can you please share your `sessionInfo()` (or `sessioninfo::session_info()`)

[2020-12-07 23:41] hmorzaria commented on #863
R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.4 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.7.1
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.7.1

locale:
 [1] LC_CTYPE=C.UTF-8       LC_NUMERIC=C           LC_TIME=C.UTF-8        LC_COLLATE=C.UTF-8     LC_MONETARY=C.UTF-8
 [6] LC_MESSAGES=C.UTF-8    LC

[2020-12-08 02:11] sckott commented on #863
ITIS has been having some long-standing issues with their API that we use. They've been trying to resolve them, but apparently not yet. I've emailed them and will let you know.

[2020-12-08 22:50] hmorzaria commented on #863
I used package ritis::synonym_names and that works. I still get the same bad gateway response from taxize::synonyms

[2020-12-09 18:49] sckott commented on #813
@dfalster ☝🏽 any thoughts?

[2020-12-09 22:22] sckott commented on #863
Right. `ritis::synonym_names` is used internally for `taxize::synonyms`, so if one works the other should as well

Looks like its working again. is it for you?

[2020-12-10 16:27] azizka opened #864 "Error: object 'pow' not found"
Hi,

with the following code:

[code]
I get this error:

  object 'pow' not found

if this is related to the species not being on pow, could the function rather return a not found?

R Under development (unstable) (2020-10-12 r79333)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 17134)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_

[2020-12-10 17:44] #864 closed

[2020-12-10 17:44] sckott commented on #864
try again after reinstalling

[2020-12-14 17:59] cRonFer opened #865 "Error in names - db='tropicos'"
I am trying to get some species ids from tropicos and the following error appears. The same call works fine for db= 'pow' and others so it seems that something happens with tropicos db.

![error taxize-tropicos](https://user-images.githubusercontent.com/76005368/102117049-1d930180-3e3e-11eb-993d-34f03f49278b.JPG)

sessionInfo():

![image](https://user-images.githubusercontent.com/76005368/10211727

[2020-12-14 22:29] sckott commented on #865
Thanks for the report and including session info! Please in the future copy/paste the text from R instead of taking screen shots.

Please run that example again, but then after it errors run `traceback()`, then share the output of that here.

[2020-12-15 08:25] cRonFer commented on #865
Thanks! Here you have the traceback() call after the error:

7: getkey(key, "TROPICOS_KEY")
6: tp_search(sci = sci[i], key = key, ...)
5: get_tpsid(sci_com, ...)
4: foo(x, sci_com = sci_com, ...)
3: FUN(X[[i]], ...)
2: lapply(db, function(x) foo(x, sci_com = sci_com, ...))
1: get_ids("Aldina paulberryi", db = "tropicos", rows = NA)

[2020-12-15 22:18] #865 closed

[2020-12-15 22:18] sckott commented on #865
Should be fixed now. Please try again after reinstalling like `remotes::install_github("ropensci/taxize")`

[2021-01-19 22:16] sckott opened #866 "Extend functions for user specified data sources"
via https://github.com/ropensci/taxa/issues/208

E.g., one could define an s3 method for `classification()`

[code]

So that's easy. But, because data can come in so many different shapes and sizes and locations and everything - the logic will have to be all done by the user to get the classification data, put it in a data.frame, etc. So there's not really much benefit to extending classification

[2021-01-22 17:27] ctekellogg commented on #866
Sorry for the delay coming over to this thread! Would love to see if this is possible with the PR2 database. Let me know if there is anything I can do to give this a shot.

[2021-01-27 18:05] sckott commented on #866
thanks @ctekellogg - will let you know when I have something to test or questions

[2021-02-04 09:56] azizka opened #867 "retrival limit downstram/gbif_downstream, documentation"
Hi Scott,
I am teaching a course using taxize (still awesome, thanks!), we are trying to use `downstream`/`gbif_downstream` to get species names in different taxa from the GBIF backbone.

1. Would it be possible to add to the documentation of gbif_downstream, that there is a hard limit of 1000 names to be returned (See code below for Piper, which stops at 1000 names with epitheton f*)? We figured

[2021-02-04 19:35] sckott commented on #867
Thanks, having a look

[2021-02-05 00:58] #867 closed

[2021-02-05 01:02] sckott commented on #867
thanks, docs updated, see https://docs.ropensci.org/taxize/reference/gbif_downstream.html and https://docs.ropensci.org/taxize/reference/downstream.html

[2021-02-09 06:01] ocstringham opened #868 "get_gbifid is case senstitive"
I was not expecting `get_gbifid` to be case sensitive. Is this by design?

Example: `get_gbifid_("iguana")` returns no results but `get_gbifid_("Iguana")` returns the Genus Iguana.

[2021-02-09 18:22] sckott commented on #868
Thanks for the issue.

Its not `taxize` that's responsible for this, its GBIF

One option is to use `method = "lookup"` option, which uses the GBIF API route `/species/search` https://www.gbif.org/developer/species#searching rather than `/species/match` (the default option for `method`)

[code]

On the GBIF website it's not case sensitive, but they must use a different API route behind the scenes,

[2021-02-10 04:21] ocstringham commented on #868
Good to know, thank you for your response.

[2021-02-10 04:21] #868 closed

[2021-02-10 18:00] sckott commented on #868
Sorry I don't have a better solution. I'm sure it's frustrating. It might be easier to use `rgbif` directly, https://docs.ropensci.org/rgbif/reference/name_backbone.html or https://docs.ropensci.org/rgbif/reference/name_lookup.html  as I don't think we allow users to pass on any of the additional parameters that those API methods accept here

[2021-02-11 11:07] ocstringham commented on #868
Thanks! No it's not bad at all. Most of my code is set up with taxize so luckily in this case all I have to do is capitalize.

[2021-02-19 19:02] #862 closed

[2021-03-11 08:36] andzandz11 opened #869 "gbif downstream"
I am having trouble removing extinct plant families from this list:
`gbif_downstream(id=7707728, downto="family")`
I had to loop through the list using rgbif::name_lookup to get the desired information.
I am not sure this is how it is to be intended.
Is it maybe possible to exclude extinct plant taxa by default or by option to choose from? I don't think the vast majority of users is interested in

[2021-03-11 20:28] sckott commented on #869
Thanks for the issue. It's a complicated issue and will take a bit of time to drill down in to. Most likely the answer will be its not possible to simply pass a parameter - and that the only option will be to do what you're already doing. But we'll see.

[2021-03-23 10:14] pieterprovoost opened #870 "gni_parse() throws unexpected error for unknown names"
I'm getting the following error for names that cannot be parsed:

[code]

See http://gni.globalnames.org/parsers.json?names=Nu%20aakhu for the API response.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-04-26 18:58] KFeye opened #871 "Truncated taxonomy list"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hello!

I am using the following code (adjusted for privacy):
 df <- Blueplate3
df$species_taxid <- as.numeric(as.character(df$species_taxid))
df <- df[order(df$species_taxid),]
head(df)

taxonomy <- df[,c("species_taxid"), drop=FALSE]
head(taxonomy)
#upload data and add it to data.frame
taxonomy <- as.data.frame(taxono

[2021-05-03 19:36] sckott commented on #871
I assume this is a duplicate issue of the email you sent?

[2021-05-03 20:57] sckott commented on #870
thanks, will fix

[2021-05-03 21:29] #870 closed

[2021-05-03 21:29] sckott commented on #870
should be working now

[2021-05-05 14:48] KFeye commented on #871
Hey!  Yes.  We resolved it by removing the brackets from incoming NCBI
blast returns.  Thanks!

On Mon, May 3, 2021 at 2:36 PM Scott Chamberlain ***@***.***>
wrote:

[2021-05-05 15:52] #871 closed

[2021-05-05 21:23] vragh opened #872 "How to write class2tree tree to file?"
Apologies if this is a silly question, but how do I write the tree generated by `taxize::class2tree` to file? I'd like to save the tree in the Newick format if possible.

I can't seem to find a function in the package for this, and I'm not sure what kind of an object `classtree` is supposed to be (so I'm unsure what non-`taxize` functions I can use to write its contents out to a file).

[2021-05-06 09:56] vragh commented on #872
Just managed to figure it out. All I needed to do was write out the `objname$phylo` slot out to file using `ape::write.tree`.

[2021-05-06 09:56] #872 closed

[2021-05-06 19:46] sckott commented on #872
nice work! yep, thats it

[2021-05-13 13:27] alemi055 opened #873 "class2tree issue"
Hi, I have the same issue as mentioned here: https://github.com/ropensci/taxize/issues/838.
I have a large number of taxIDs (> 11,000), but I keep getting this error after classification:
`Error in if (currentIndex <= tmpEnv[[subList[i - 1]]]) { :
  argument is of length zero
Calls: <Anonymous> -> taxonomy_table_creator -> rank_indexing
Execution halted``

I tried reinstalling with `remotes::insta

[2021-05-13 15:12] trvinh commented on #873
Hi @alemi055
It’s not the problem of using small or large number of taxIDs. I think that one (or some) of the 11,000 taxIDs has an „unusual“ taxonomy hierarchy. If it is ok, could you send me the list of those IDs (either as a downloadable link or directly to my email tran@bio.uni-frankfurt.de)?
Best,
Vinh

[2021-05-15 17:41] trvinh commented on #873
hi @alemi055,
I have fixed the function. The rank indexing and taxonomy table creation steps works for your 11,000 taxa (just want to mention, some of them does not have a valid ncbi taxonomy IDs), but the last step of the `class2tree` function (clustering the taxonomy hierarchies for creating phylo tree) could not finish when I tested, it just took ... forever. May be because my computer is not p

[2021-05-16 18:54] alemi055 commented on #873
Hi Vinh,
Thank your for your reply!
We are actually modifying our analysis and don’t need to create trees with as many sequences. We figured that this would take too many computational resources (as shown with your tries).

Should I reinstall taxize from github, now that you have modified the “class2tree” function?

Thank you,
Audrée

De : Vinh Tran ***@***.***>
Envoyé : 15 mai 2021 13:42
À : rope

[2021-05-16 19:10] trvinh commented on #873
Hi,
You still need to wait for @sckott to accept my pull request, then you can reinstall it from github. I think it will not take long.
Best,
Vinh

[2021-05-19 13:52] transue opened #875 "Order of ranks not consistent with NCBI data"
In a recent download of taxonomy data from NCBI, I checked the relative rankings of ALL species and found that two ranks listed in ./inst/ignore/rank_ref_script.R seem out of place.  Details follow...

<details>
<summary><strong>Session Info</strong></summary>
Using the ranks provided in at this site: https://github.com/ropensci/taxize/issues/835 which appear to be derived from ./inst/ignore/rank_

[2021-05-19 13:53] transue commented on #875
I am contractor at the US EPA and can be contacted using my EPA email address: transue.tom@epa.gov . Thank you for providing this code base!  --Tom

[2021-05-19 20:49] trvinh commented on #875
Hi @transue

I agree with you that `isolate` is more specific than `strain`, but how does it related to `morph` and `subvariety` to be the most specific rank as you mentioned? I found no connection to `morph` and `subvariety` to any other ranks but `species`.

The same for `forma` and `formaspecialis`, they are both parents of `strain` and child of `varietas`. I found no species, where it has both

[2021-05-20 22:55] sckott commented on #869
@andzandz11  Looked at this again and there's no way I can see to get extinct status while also getting taxonomic children in one step. We could think about adding a parameter option to `gbif_downstream` to filter by extinct status. However, this would add time for sure. Would have to get all children as we do now, then after each step filter out an extinct taxa, which would require a call to name

[2021-05-21 10:25] andzandz11 commented on #869
Thank you for looking into this.

I can not possibly imagine why this should the the default behaviour of GBIF. Maybe I am not aware of the overall situation, but as far as I know the vast majority of users are not interested in extinct taxa. But maybe it's just my scientific bubble.

It would be easier for the user to have this directly implemented, but on the other hand all the tools needed are

[2021-05-23 08:21] Percud commented on #873
Hi @trvinh,

I have tired to install the to-be-committed version from your branch. However, class2tree still fails for particular taxa combinations:
 taxa <- c("Oryctolagus cuniculus", "Galeopterus variegatus", "Paramormyrops kingsleyae", "Sinocyclocheilus rhinocerous")
cl <- classification(taxa, db='ncbi')
class2tree(cl)
#Error in if (currentIndex <= tmpEnv[[subList[i - 1]]]) { :
#    argument is

[2021-05-23 09:11] trvinh commented on #873
Hi @Percud
may I asked, where did you get the "to-be-committed version"? I've just tested with your taxa, it worked fine
[code]
![image](https://user-images.githubusercontent.com/19269760/119254588-6a31f400-bbb7-11eb-923a-e73c075381f6.png)
Best,
Vinh

[2021-05-23 18:39] Percud commented on #873
Hi @trvinh,
I have installed it from your github (remotes::install_github("trvinh/taxize"). Your are right: after resuming the R session it worked with the example provided and also with my full set of 859 taxa. Thank you for your answer and please excuse the false alarm.
Best,
Riccardo

[2021-05-24 23:09] sckott commented on #869
You can also try open a discussion here https://discourse.gbif.org/ if you haven't yet.

It would be nice to have the option to filter by extinction status for sure - i agree extant taxa only seems like a good default setting

[2021-05-25 17:13] andzandz11 commented on #869
Thank you for the suggestion I will try that.
What is the API call you are using for gbif_downstream ?

[2021-05-26 00:00] #873 closed

[2021-05-27 16:41] r2j2ritson commented on #863
I am also using the itis api, but its giving me 'Error: Service Unavailable (HTTP 503)'. Could it be that they have the api down for repair?

[2021-05-27 16:53] sckott commented on #863
@r2j2ritson  That error indicates an ITIS problem. This just worked for me:

[code]

[2021-05-27 17:04] r2j2ritson commented on #863
Thanks @sckott , its working for me now.

[2021-05-27 17:11] sckott commented on #863
great

[2021-05-27 17:11] #863 closed

[2021-06-03 17:48] sckott opened #877 "vignette on how to contribute a new data source"
- do you make a new pkg and then taxize imports it OR add some code via a PR directly?
- instruction on how to hook into the high level functions (e.g., `downstream`, `children`, etc.)
- best practices on http requests, failure behavior
- what else?

[2021-06-03 18:16] sckott commented on #877
ping @mjwestgate

[2021-06-24 10:45] cclaver001 opened #878 "db="worms" not working for classification()"
Hello! First, congratulations for the taxize package. I use it a lot and I find it very useful. I am facing a problem when using the classification() function with the Worms database. It perfectly works with other datasets (ncbi, itis...). This function worked before as I am running an old script. I have searched on the internet but I didn't find any answer... Any help will be apreciated. Thanks i

[2021-06-24 14:42] bart-v commented on #878
This is a temporary issue, which happens now and then.
See https://github.com/ropensci/taxize/issues/847#issuecomment-703135145

Works just fine now

[code]

[2021-06-25 06:11] cclaver001 commented on #878
Oh, I see. Thank you for your help!

[2021-06-25 06:11] #878 closed

[2021-06-28 21:06] sckott commented on #878
thanks for the issue @cclaver001 and thanks for the explanation @bart-v

[2021-07-03 00:59] aczich opened #879 "API limit reached using comm2sci()"
I've having issues running the comm2sci() function. I realize that the API limit is set by NCBI, however I was reading that you introduced "waits" as a way around this for other functions I believe. I'm not sure if that's can be used with comm2sci() or what other work around I could use to resolve this issue. Thanks.

[2021-07-06 22:51] sckott opened #880 "drop iplant_resolve and resolve"
- drop `iplant_resolve`: new pkg for the service https://github.com/ojalaquellueva/TNRSapi and the API has changed anyway
- drop `resolve`: because it uses only iplant and gnr, and if only 1 option, then resolve doesn't need to exist, folks can just use gnr_resolve

[2021-07-06 23:47] #880 closed

[2021-07-06 23:51] sckott commented on #879
Thanks @aczich . First of all, do you have your API key set?  Second, what wait are you talking about specifically?

[2021-07-07 00:00] aczich commented on #879
@sckott, I'm not sure if I do have an API set. I would guess not. If I pass through a list of common names that is too long (~40-50+) I receive an error that says API rate limit exceeded after it runs through about ~40 names. This happens with all databases except for tropicos.

[2021-07-07 00:02] sckott commented on #879
Okay, see https://docs.ropensci.org/taxize/reference/taxize-authentication.html to get yourself and NCBI API key - that page has details about how to make sure you set up your key correctly as well

try again after doing that and report back

[2021-07-07 00:05] sckott commented on #875
is this issue resolved @trvinh ?

[2021-07-07 07:05] trvinh commented on #875
@sckott with the PR #876, yes.

[2021-07-07 16:06] sckott commented on #875
great, thx

[2021-07-07 16:06] #875 closed

[2021-07-13 12:40] bienflorencia commented on #863
Just for the record, I'm having the same ```Error: Bad Gateway (HTTP 502)``` message while using functions ```classification``` or ```get_tsn()```. I assume the problem is with ITIS's API as well, do you have the same error while using it?

I'm running this function [check_species_names_and_get_taxonomic_info](Data Cleaning and Standardisation Scripts/check_species_names_and_get_taxonomic_info.R).

[2021-07-16 17:43] IREdwards27 opened #881 "HTTP error using ITIS for classification"
I and another member in the lab I work in are using the command classification(n, db = 'itis', accepted = TRUE) to fill in taxonomic info for taxa in a database, and on and off through the last few days we've gotten the following error:

 Error: Bad Gateway (HTTP 502)

The book asks that HTTP 502 errors be reported to y'all so you can communicate with the data provider, so I wanted to provide deta

[2021-07-17 05:17] sckott commented on #881
it was probably a temporary error, try it again

[2021-07-19 14:19] sckott commented on #863
@bienflorencia  it was probably temporary down time for ITIS. can you try it again now?

[2021-08-04 15:02] pbpayal opened #882 "How to retrieve just the kingdom or super-kingdom for a particular species"
Hello,

I have a list of species names. They are bacteria, fungi, allergens etc. I need to stratify them into basic kingdom categories according to NCBI taxonomy. Is there a way to just extract that information using taxize?

Thanks,
Payal

[2021-08-04 17:41] zachary-foster commented on #882
How about this?

[code]

[2021-08-05 11:03] pbpayal commented on #882
Thanks. This works

[2021-08-05 11:03] #882 closed

[2021-08-21 03:12] oharac commented on #847
getting back into this project, ran across this error again
[code]
but I think for a new reason, this time trying to get classes in phylum _chordata_.  Reprex:

[code]
<sup>Created on 2021-08-20 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

Not sure exactly how `downstream()` works but assuming it does something like sequential calls to `children()`... In this case, it retu

[2021-09-29 17:51] r-scotti opened #884 "Can EPPO be added as 'taxize' data source?"
Hello.
We are almost ready with Ver. 2 of the ['ForIT' R package](https://CRAN.R-project.org/package=ForIT )
We updated the 'species' coding process using [EPPO database](https://gd.eppo.int/)
Having access to this DB trough 'taxize' would be a relevant enhancement for 'ForIT'.
Is it at all possible for you to include EPPO among the sources 'taxize' accesses?
If so when could it be possible?
Many

[2021-11-01 09:03] rogmei opened #885 "Downto error"
Hi, I really find the taxize package useful, but now I am encountering a bug that seems to be similar to those found in cases #847, #824 and #821. This is related to finding all species in the group Osteichthyes. Other groups like Agnatha and Chondrichthyes works fine. Libraries tidyverse, taxize and rentrez are loaded.

**Code snippet that fails is as follows:**
var_output_taxrank = "species"
var

[2021-11-02 05:33] zachary-foster commented on #885
Thanks for the info! This was caused by the rank "gigaclass" not being in the rank reference used to determine the relative order of taxonomic ranks from names. I have added the "gigaclass" to the rank ref and made a more informative error message for when this happens again.  You can try out the change by installing this version that will be pushed to CRAN soon hopefully, but note this version ha

[2021-11-02 05:44] zachary-foster commented on #847
Sorry for the delay. I have added the ranks and made the error message better.

You can try out the change by installing this version that will be pushed to CRAN soon hopefully, but note this version has many other changes and might break other code.

[code]

[2021-11-15 12:24] Rekyt opened #886 "Add Global Names Verifier as a source and deprecate Global Names Resolver"
Hi `taxize` maintainers,

`taxize` access Global Names services for taxonomic names resolution. Especially GlobalNames Index and GlobalNames Resolver. However, a more up-to-date version of the service (more efficient and faster) is now available with [GlobalNames Verifier](https://verifier.globalnames.org/) https://github.com/gnames/gnverifier. It would be nice if taxize could also provide access

[2021-12-13 18:45] nahuron commented on #881
i will echo the original poster issue, as I have had issues with itis specifically. It seems that on mondays AM (EST) the error is almost a guarantee... today being the same. is there anything further we can furnish to get into this?

[2021-12-13 19:00] zachary-foster commented on #881
That error (if it occurs only occasionally) looks like it is an issue with the ITIS server that we are unlikely to be able to address on our side. I just tried `classification(129313, db = 'itis')` and it worked. Does this happens for solid blocks of time or do specific queries fail while other around the same time succeed?

[2021-12-13 19:28] nahuron commented on #881
i periodically check if my queries with `ritis` as well as `taxize` work (mainly using `taxize::get_tsn_()`. Today, I have checked a number of times, and on this last check, my queries (including trying your `classification` example) have begun to work but were returning the error prior to 1300 EST. I think it is as you say @zachary-foster , it is probably something on the ITIS server side?

[2021-12-13 21:48] sckott commented on #881
yeah, in my experience, ITIS just has quite a bit of downtime, and that's the way the service is. If its super painful to have these errors, you could try various other ways of querying itis, eg., https://github.com/ropensci/taxizedb/ or https://github.com/ropensci/taxadb  or if you are a SQL person just download the database yourself https://www.itis.gov/downloads/index.html

[2021-12-24 18:30] sdgamboa opened #887 "Misplaced elements in output of taxize::classification for a vector containing a mix of valid/invalid NCBI taxids"
Hello, I'd like to report a bug that I found in the `taxize::classification` function when using it to get information for a vector containing a mix of valid and invalid IDs (NCBI database). In this scenario, the elements and names of the output list are misplaced. The function assigns the next result to invalid NCBIs instead of returning NA as is the case of the ` taxizedb::classification` functi

[2022-01-03 20:51] zachary-foster commented on #887
Thanks for the report! I am looking into it

[2022-01-17 22:23] zachary-foster commented on #887
Hello @sdgamboa,

I have fixed this issue on the current development branch for the next release. You can install it with the following code.

[code]

However this is a major release and it might break other code.

[code]

<sup>Created on 2022-01-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-02-03 17:16] eLeonBM opened #888 "Can't retrieve ids from get_wormsid"
Hello, I can't seem to get any of the "get_" functions to work when searching  with a scientific name (or a vector of scientific names) as the example below with the get_wormsid function:

[code]
[code]
it doesn't matter which species I try to search, it always returns No found values, but it used to work fine before.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2022-02-03 22:58] zachary-foster commented on #888
Hello,

It seems to work for me on the same version of `taxize`. See output below. Can you try again to make sure that it was not a temporary network issue?

[code]

<sup>Created on 2022-02-03 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-02-04 01:18] Fabbiologia commented on #888
Hello! It seems a problem related to windows maybe? I have the same issue in my PC. However, it works on my mac... (below)

library(taxize)

x <- taxize::get_wormsid('Gadus morhua')
#> ==  1 queries  ===============
#>
#> Retrieving data for taxon 'Gadus morhua'
#> x  Not Found:  Gadus morhua
#> ==  Results  =================
#>
#> * Total: 1
#> * Found: 0
#> * Not Found: 1

devtools::session_info

[2022-02-04 02:03] sdgamboa commented on #887
@zachary-foster, thank you!

[2022-02-04 02:03] #887 closed

[2022-03-08 23:46] jtmiller28 opened #889 "unclear why genus is being outputed in matched_name2 when two data sources do not include the species."
[code]

When I run gnr_resolve() there are some rows under matched_name2 that include only the genus and not the specificEpithet. I am unsure why this is, shouldn't the name be completely dropped when it isn't defined out to the specificEpithet level?
Example Output in Image Below:
![image](https://user-images.githubusercontent.com/82229873/157344843-949c383d-94ac-4ef1-ab4b-72a28ce3ce52.png)

Than

[2022-03-09 09:18] zachary-foster commented on #889
Thanks for the report, I will take a closer look soon. I reproduced the issue:

[code]

<sup>Created on 2022-03-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-03-09 19:01] zachary-foster commented on #889
It looks like it only shows the genus because there is no "Bombus cascadensis" in the database:

https://www.discoverlife.org/mp/20q?guide=Bee_genera

Apparently, that's what the GNR API returns in that case:

https://resolver.globalnames.org/name_resolvers.json?names=Bombus%20cascadensis&data_source_ids=202&resolve_once=true&best_match_only=true&preferred_data_sources=202

I am not sure it would

[2022-03-17 15:57] toczydlowski opened #890 "automatically pick a result when multiple hits returned? classification()"
I am trying to run classification() in a loop on a computing cluster to look up lineage info for a large list of species ish names.  Right now I am getting an error on the cluster that based on all of my debugging has to do with the entries that return multiple hits - and then pop up a prompt to enter the number for the hit you want to select.  Is it possible to have classification() automatically

[2022-03-17 16:14] sckott commented on #890
@zachary-foster maybe i'm not remembering but I think `rows` is what you want https://docs.ropensci.org/taxize/reference/classification.html#arguments - and then you can programmatically decide what to do with results

[2022-03-17 19:31] zachary-foster commented on #890
Yea, `rows` will allow you to select which result before the query. For example:

[code]

Although, you might be looking for a fungus and get a starfish : )

[2022-03-18 16:21] toczydlowski commented on #890
ah, thanks! yes this does what I want it to.  I think for now I'll go with rows = 1, knowing I might be getting some weird results by just blindly always picking first row.  there will be more hands-on QC in this case downstream so I think this fix will work. thanks team!

[2022-03-21 03:54] marymcelroy commented on #888
Hello - I have been having the same issue, and it's not working on my Mac. I cannot get either get_wormsid or classification(data, db='worms') to recognize any species rank entries, returning them as 'Not Found'. This only seems to be an issue with WoRMS, as I was able to query the same species successfully with GBIF and EOL. I am, however, able to query ranks above species with no problems using

[2022-03-22 22:09] zachary-foster commented on #888
I cant replicate the error on either the CRAN version or the Github development branch:

[code]

I don't have a Mac to test it on. Can you reinstall `taxize` and try again?

[2022-03-22 23:15] marymcelroy commented on #888
Hi @zachary-foster - thank you for commenting to help! I uninstalled and reinstalled taxize, and unfortunately I'm still having the same problem. I'm not so far behind on my R/OS updates that it should matter here I think - just doesn't make sense to me why other databases like gbif are working but worms is not, and why it's only the species rank queries that are not working...

Removing package f

[2022-03-22 23:38] zachary-foster commented on #888
Ok, thanks! I have replicated the error on a clean Windows install. I will try to figure out what is going on.

[2022-03-29 20:44] zachary-foster commented on #888
I have tracked down the error to a function in the `worrms` packages, which is used to communicate with the Worrms API. I have  made an [issue there](https://github.com/ropensci/worrms/issues/29) describing the problem. Once it is solved there, the problem should be resolved for taxize as well.

In the mean time, you can get around the issue by replacing the spaces with `+`:

[code]

[2022-04-09 23:10] EmilyMarkowitz-NOAA opened #891 "classification(sci_id = '[species name]', db = 'worms') not working"
I am getting "Not Found"'s when searching for WoRMS species IDs using species's scientific names. I tried this with a few other species from WoRMS and couldn't get the function to retrieve a species ID number for those species, either. Below I use the example from the `?taxize::classification` documentation. I also tried this code using the ITIS database and it worked fine. I suspect that the `tax

[2022-04-21 17:32] aspidoscelis opened #892 "tp_search() returns 'names' attribute length error"
Using tp_search() returns "Error in names(key_helpers) <- keynames[1:2] :  'names' attribute [2] must be the same length as the vector [1]". The behavior is consistent across multiple scientific names and name IDs. The same name ID queries made directly to the Tropicos API using GET() work as expected.

[code]
</details>

[2022-04-21 19:22] zachary-foster commented on #892
Thanks for the report!

I am currently getting:

[code]

I assume this is temporary. I will try to reproduce your error again later.

[2022-04-25 06:49] aspidoscelis commented on #892
Greetings, Zachary,

It started working for me without any further intervention on my part,
so I guess it was temporary. Thanks!

Regards,
Patrick

On 4/21/22 1:22 PM, Zachary Foster wrote:

[2022-04-25 13:40] #892 closed

[2022-05-11 16:09] dimus opened #893 "Migrating name reconciliation and resolution to https://github.com/gnames/gnames"
Hi @sckott I am getting close to making  a stable v1.0.0 for GNverifier (+ GNames, GNmatcher). Currently I have a v1.0.0-RC1, and,
if all goes well, I will release v1.0.0 (with, probably, /api/v1) in the last week of May 2022, or the first week of June.

This brings a question about https://resolver.globalnames.org. I know that Taxize uses its API, and it was serving us well so far.
However the pr

[2022-05-11 17:38] sckott commented on #893
Hi @dimus 👋🏽

I've moved on to a new job and @zachary-foster is the new maintainer. Zach, what do you think? You could move to the new API or if you want to limit taxize scope you could drop it. Up to you.

[2022-05-11 17:42] zachary-foster commented on #893
I will have to take a look and perhaps learn more about APIs in general, but I would like to keep this functionality in taxize.

[2022-05-11 18:05] dimus commented on #893
Congratulations on your new job @sckott!
@zachary-foster I did try my best to keep to keep API simple especially for GET: https://verifier.globalnames.org/api/v0/verifications/Monochamus%20galloprovincialis?data_sources=1%7C12%7C170&all_matches=true

[2022-06-04 21:55] salix-d commented on #890
I don't know why these filters aren't integrated but to have the genus of the right division you can do :
[code]

[2022-06-09 21:40] zachary-foster commented on #890
@salix-d Good observation. I will try to look into making that an option for `taxize::classification`

[2022-06-21 19:13] Lithobius commented on #888
I am still having this issue on an M1 mac.
I had a list of ~8000 taxa, higher level taxa came back successfully while species level taxa came back as NULL.

Replacing whitespace with "+" returned all levels of taxonomy successfully.

[2022-07-14 00:34] jtmiller28 commented on #889
That makes sense, I agree it is more on the user side for interpretation. Sorry for forgetting to close the issue! Thanks for clearing it up!

[2022-07-15 23:48] rewcook opened #894 "HTTP 404 error for get_tsn()"
I'm getting an HTTP 404 error when attempting to get the TSN's from ITIS.

It's only the `get_tsn_()` function. Other functions (e.g . `itis_getrecord`) work if I manually add the TSN.

[code]
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2022-07-16 13:47] IREdwards27 commented on #894
I'm having the same issue with get_tsn and classification. Classification works if the input is a TSN, but fails with the same 404 error if a taxon name is used. I tested it with Phrurotimpus alarius, Polistes fuscatus, Gorilla gorilla, and Elateridae.

[2022-07-18 18:33] jtmiller28 opened #895 "Error: Service Unavailable (HTTP 503) for gnr_datasources()"
Hello, there seems to be an issue with the function gnr_datasources() at the current moment. When I run the following it produces the Error: Service Unavailable (HTTP 503). My internet connection is stable, and this same line of code ran fine last week so I am not sure where the issue is. Thanks!

[code]

[code]
</details>

[2022-07-18 20:57] rewcook commented on #894
I know this isn't a 'taxize' solution, and if the package authors would like to remove this work-around please do!

[code]

[2022-07-21 10:27] Noa164 opened #896 "Error: {"error":"API rate limit exceeded","api-key":"85.250.39.10","count":"4","limit":"3"}"
when trying to use classification on 151 species names, I get "Error: {"error":"API rate limit exceeded","api-key":"85.250.39.10","count":"4","limit":"3"}".
It doesn't appear on other datasets I use the function on. It did appear on another dataset where I had 3490 species names.

<img width="693" alt="image" src="https://user-images.githubusercontent.com/87242141/180192334-ec4721d6-c746-4848-a7db

[2022-07-21 11:47] #896 closed

[2022-07-21 16:11] zachary-foster commented on #896
I noticed you closed the issue. Did you solve your problem?

[2022-07-21 17:27] Noa164 commented on #896
Yes thanks! I just didn't get an API key.

Noa Frydman

בתאריך יום ה׳, 21 ביולי 2022, 19:11, מאת Zachary Foster ‏<
***@***.***>:

[2022-08-29 20:53] dimus commented on #893
@zachary-foster, I moved GN tools to v1.0.0, the APIs are described here:

name verification: https://apidoc.globalnames.org/gnames

name finding: https://apidoc.globalnames.org/gnfinder

And the example I gave before is still working:

https://verifier.globalnames.org/api/v1/verifications/Monochamus%20galloprovincialis?data_sources=1%7C12%7C170&all_matches=true

I am planning to keep v1.0.0 to be

[2022-09-02 09:14] maelle opened #897 "Fix pkgdown configuration for reference"
Some topics are missing from the configuration file.

[code]

Note that for topics you do not want to include in the index you can create an "internal" section https://pkgdown.r-lib.org/reference/build_reference.html?q=internal#missing-topics

To check all topics are listed, after editing the configuration file you can run `pkgdown::check_pkgdown()`.

[2022-09-02 19:09] jtmiller28 commented on #895
Thanks! That explained it

[2022-09-02 19:09] #895 closed

[2022-09-06 06:09] maelle commented on #897
@zachary-foster

[2022-09-06 07:27] zachary-foster commented on #897
Thanks for the report! I just got back from vacation so I have not had a change to look at this yet.  I will look into this tomorrow.

[2022-09-06 18:30] zachary-foster commented on #897
Ok, should be fixed. I assume that pkgdown is being run automatically by ropensci to produce this?

https://docs.ropensci.org/taxize/reference/index.html

[2022-09-08 06:33] maelle commented on #897
Thank you!!

Yes, by R-universe: https://ropensci.org/blog/2021/09/03/runiverse-docs/

You can see the status in each commit status (screenshot below) and on the dashboard: https://ropensci.r-universe.dev/ui#builds

![image](https://user-images.githubusercontent.com/8360597/189051191-9c246d74-28a6-46c8-9474-a3f166cda0c5.png)

(By the way I see a GHA failure)

[2022-09-08 06:34] #897 closed

[2022-09-28 08:28] derek-corcoran-barrios opened #898 "How to add new datasets"
As part of the Sustainscapes Institute in Aarhus university, we would like to contribute with a dataset that includes danish species and Danish common names, would that be possible?

[2022-09-28 16:54] zachary-foster commented on #898
Thanks for the offer! Does this database have a website with an API?

[2022-09-30 11:04] TimWOceanSciences opened #899 "taxize package, gnr_resolve() , Error: Request Entity Too Large (HTTP 413)"
Hello

I have been successful in running gnr_resolve on  a data set with a few 100 rows to get matched names. However i'm getting the following error (Error: Request Entity Too Large (HTTP 413)) when running my bigger data set (79,298 rows), even with  'http="post"'. Is there any way I can easily overcome this? My data set will get larger and larger in the future so not being able to run large dat

[2022-10-12 12:36] mikeroswell opened #900 "How to resolve NatureServe and GBIF names"
Sort of a vague "how do we do this better?" question, but wondering how to use **taxize** to resolve differing taxonomies in NatureServe and GBIF, specifically when species names are 1:1 but maybe a genus was lumped or split in one taxonomy (looks like the cases I'm seeing, NatureServe is faster to adopt new conventions than ITIS and GBIF). I've written up a few examples here: [https://stackoverfl

[2022-10-13 22:56] zachary-foster commented on #900
Off the top of my head, I don't know of a way, but I have not looked closely at those two formats closely with that problem in mind. I have thought about the general problem of correlating different taxonomies in the past and never came up with a good solution. I will try to give it some more thought and get back to you if I come up with anything.

[2022-10-21 16:29] bomeara opened #901 "Classification fails randomly"
Running code like `tiny <- downstream('Demospongiae', db='ncbi', downto="species")` would fail randomly (ENTREZ key used); adding some debugging info to check, it would be at different taxa each time, but always whenever `res$raise_for_status()` would return `Error : Bad Request (HTTP 400)`. I'm about to submit a pull request that addresses this.

<details> <summary><strong>Session Info</strong></

[2022-10-28 14:28] bomeara commented on #901
PR merged to fix this

[2022-10-28 14:28] #901 closed

[2022-11-17 18:20] sckott opened #903 "Change to new cran checks badge URL"
@zachary-foster

👋🏽  I maintain the cran checks badges. Please change to the new cran checks badge URL (e.g., `https://badges.cranchecks.info/worst/taxize.svg`). Old badges at (e.g. `https://cranchecks.info/badges/worst/taxize`) will be **unavailable** as of Jan 1st 2023.

- Blog post announcing the change: https://recology.info/2022/06/cran-checks-badges/
- New badges repo: https://github.com/r-h