[2016-02-29 20:12] JoStaerk commented on #511
Sorry for being unclear, it seems to be only a problem for particular species:

Warning messages:
1: In FUN(X[[i]], ...) : Species 'Agelaius cyanopus' not found!
 Returning NA!
2: In FUN(X[[i]], ...) : Species 'Agelaius flavus' not found!
 Returning NA!
3: In FUN(X[[i]], ...) : Species 'Agelaius icterocephalus' not found!
 Returning NA!
4: In FUN(X[[i]], ...) : Species 'Agelaius ruficapillus' not

[2016-02-29 21:47] sckott commented on #511
Thanks for errors, what function was called, can you give an example with some taxa inputs

[2016-03-01 00:28] sckott commented on #505
@jimmyodonnell anything else that you want to do on this function?

some things we should do:

* see about adding methods for other data sources. we have itis, ncbi, and gbif. see about adding: eol, col, tropicos, nbn, bold
* write tests

[2016-03-01 15:26] JoStaerk commented on #511
Hi,
it seems to work now. There are just some species that cannot be found even though they are in CoL, e.g. when I run:
classification(c("Abeillia abeillei", "Acanthopagrus australis", "Acipenser medirostris", "Aetobatus flagellum"), db="col")

And as a minor issue, for some species only the epithet is returned instead of the complete species name, e.g.

Retrieving data for taxon 'Agkistrodon how

[2016-03-01 18:56] sckott commented on #511
Thanks for this, i'll have a  look and get back to you

[2016-03-01 20:26] jimmyodonnell commented on #505
I've never written tests (that I'm aware of), so I can't lead that effort but would love to learn the process. I can check for consistency with eol, col, tropicos, nbn, and bold

[2016-03-02 15:16] sckott commented on #505
There's a good chapter here http://r-pkgs.had.co.nz/tests.html on testing.

I'll write a few tests, and ping here, and feel free to add any more - hard to have too many tests (though one caveat is we don't want too many long running tests, an ideal test suite is comprehensive but quick)

[2016-03-02 18:16] jimmyodonnell commented on #505
Awesome; this chapter is great. I'll check out the first few and then try
to jump in.

[2016-03-02 18:50] sckott commented on #505
great, thanks

[2016-03-03 20:37] sckott commented on #511
@JoStaerk there's a bug introduced in `col_search` parsing because COL has another category I haven't seen `misapplied name` for the name status, fixing that now

[2016-03-03 21:25] sckott opened #512 "col_search needs additional parsing options"
surfaced from #511

`col_search()` failed when `misapplied name` was the `name_status` value, adding that now

[2016-03-03 22:01] sckott commented on #511
yeah, the XML COL returns only has the epithet alone without the genus name

[code]

[2016-03-03 22:41] #512 closed

[2016-03-03 22:42] sckott commented on #511
@JoStaerk try again after reinstalling from github, `devtools::install_github("ropensci/taxize")`

let me know if you get results you expect now

[2016-03-07 22:27] sckott opened #513 "Up the default limit for internal gbif fxn in get_gbifid"
cause default of 20 results in often not enough to choose from.

[2016-03-07 22:48] sckott opened #514 "clean up unused connections with names_list() method"

[2016-03-07 23:22] sckott opened #515 "ion down right now"
may be temporary, note to self to check in again soon

[2016-03-07 23:57] #486 closed

[2016-03-07 23:57] sckott commented on #486
@Alectoria try it now after reinstalling `devtools::install_github("ropensci/taxize")`

[2016-03-08 00:09] sckott commented on #513
bueno

[2016-03-08 00:09] #513 closed

[2016-03-08 00:36] #504 closed

[2016-03-08 01:13] sckott commented on #505
I'll add some tests, then I think we should let this fly for the version im pushing to CRAN hopefully today (https://github.com/ropensci/taxize/milestones/v0.7.4) - and we can add other data sources and tests for next version

[2016-03-08 08:29] Alectoria commented on #486
@sckott Thanks for implementing "user_supplied_name". Works like a charm.

[2016-03-08 14:49] sckott commented on #486
great, glad it works

[2016-03-08 18:11] sckott commented on #515
back up

[2016-03-08 18:11] #515 closed

[2016-03-08 18:57] sckott opened #516 "upstream and other fxns now broken, due to changes in lowercasing ranks"

[2016-03-08 19:06] sckott commented on #516
other rank related things need fixing - use lowercase throughout

[2016-03-08 21:36] #516 closed

[2016-03-08 23:53] jimmyodonnell commented on #505
Sounds like a great plan!

[2016-03-10 16:45] fmichonneau opened #517 "Add open tree of life as a data source"
Would it make sense to add the Open Tree of Life TNRS as a data source to taxize?

[2016-03-10 16:59] sckott commented on #517
good idea, don't know anything about it. can you point me to the docs? i imagine it's already in `rotl`?

[2016-03-10 17:10] fmichonneau commented on #517
Yes, it's already in `rotl`. The functions are prefixed with `tnrs_` and the relevant one for `taxize` is probably only `tnrs_match_names`. The documentation for the API endpoint is: https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs#match_names

Let me know if/how I can help!

[2016-03-10 20:00] sckott commented on #517
Cool, will ping you with questions :)

[2016-03-11 21:11] sckott commented on #517
@fmichonneau first draft of the function in, does it look okay?

[2016-03-11 21:17] fmichonneau commented on #517
Yes, that looks good. :+1:

  Thanks!

[2016-03-14 16:54] sckott opened #518 "ITIS now with Solr service"
* http://www.itis.gov/solr_documentation.html
* http://www.itis.gov/solr_examples.html

[2016-03-15 00:02] sckott commented on #508
nice, sounds good.

so for your purposes then every object needs to have the parent id?

[2016-03-15 00:06] sckott commented on #508
@zachary-foster i've started a sep. repo https://github.com/ropenscilabs/taxa so we can more freely explore taxon classes - we may not end up wanting to have a sep. pkg, but maybe we will.

[2016-03-15 00:27] zachary-foster commented on #508
Yes, or some other information from which a graph structure can be inferred. In my package, I keep taxon information in a data frame; one row per unique taxon id and its parent taxon id. Other columns store information relating to the taxon. This formats reduces the tree structure to a 2-dimensional table, making it much easier to manipulate in R. It is also not reliant on an explicit rank (e.g. g

[2016-03-15 17:12] sckott commented on #508
great, sounds good

[2016-03-15 17:32] sckott commented on #408
closing, moving to `ropenscilabs/taxizedb`

[2016-03-15 17:32] #408 closed

[2016-03-15 17:34] sckott commented on #399
closing, starting to work on sql stuff in new pkg `ropenscilabs/taxizedb` that will focus on interacting with SQL dbs - so we'll give up on replicating the functions here I think

[2016-03-15 17:34] #399 closed

[2016-03-15 17:35] sckott commented on #400
closing, working on `ropenscilabs/taxizedb`

[2016-03-15 17:35] #400 closed

[2016-03-15 17:36] sckott commented on #403
closing, working on `ropenscilabs/taxizedb`

[2016-03-15 17:36] #403 closed

[2016-03-15 17:36] sckott commented on #404
closing, working on `ropenscilabs/taxizedb`

[2016-03-15 17:36] #404 closed

[2016-03-15 17:36] sckott commented on #405
closing, working on `ropenscilabs/taxizedb`

[2016-03-15 17:36] #405 closed

[2016-03-22 00:21] sckott opened #520 "Add tests to address gnr_resolve issue sorted"
via #519

[2016-03-22 18:33] zachary-foster commented on #508
Hi @sckott, I am just getting back to this. This looks like a good way to go about making a class for a taxon id. I was originally talking about making a class of item (e.g. sequence) ids, rather than taxon ids, but the same idea could be adapted to item ids. I will brainstorm more about this on the `taxa` repository.

[2016-03-22 21:11] sckott commented on #508
Okay, sounds good

[2016-03-24 21:48] mpnelsen commented on #506
I'm also having trouble with JQ004924 (using taxize_0.7.4.9300):

[1] NA
attr(,"class")
[1] "uid"
attr(,"match")
[1] "not found"
attr(,"uri")
[1] NA
Warning message:
In func(unique_input, ...) : An error occured looking up taxon ID(s).

I think I'd tried this same accession a couple of weeks ago w/o problems, but it looks like the accession was updated on 22 Mar 2016.   http://www.ncbi.nlm.nih.gov

[2016-03-24 21:52] zachary-foster commented on #506
I have had issues like this too, where accessions that I know worked months ago no longer work. Very odd...

[2016-03-24 22:54] mpnelsen commented on #506
thanks, @zachary-foster - i see JQ347180 (the one you initially wrote about) works now - so i'll try the batch with my problematic accession again later.

[2016-03-25 02:33] mpnelsen commented on #506
...and...JQ004924 now works again.

[1] "4868"
attr(,"class")
[1] "uid"
attr(,"match")
[1] "found"
attr(,"uri")
[1] "http://www.ncbi.nlm.nih.gov/taxonomy/4868"

[2016-03-26 15:30] sckott opened #521 "bug in bold_search due to bold pkg problem"
will be fixed with ropensci/bold#27

[2016-03-29 22:12] sckott commented on #521
sorted

[2016-03-29 22:12] #521 closed

[2016-03-29 22:12] #520 closed

[2016-04-06 18:22] sckott opened #522 "iucn_summary fxn needs redlist key passed, woopsy"

[2016-04-06 18:31] #522 closed

[2016-04-28 04:36] zachary-foster opened #523 "get_colid warning"
Hi @sckott, is the warning below supposed to happen? It does not appear using `get_uid`. Thanks!

[code]

[2016-04-28 08:48] sckott commented on #523
@zachary-foster install again and see if that warning goes away - I actually got an error on that call, so i made a fix for that, hopefully fixes your warning

[2016-04-28 13:25] zachary-foster commented on #523
@sckott Ok, after `devtools::install_github("ropensci/taxize")`, the warning went away. I also ran into the error when I updated to the newest CRAN version. Thanks for the fast response!

[2016-04-28 13:27] sckott commented on #523
cool, glad it worked

[2016-04-28 13:27] #523 closed

[2016-04-28 18:11] tpaulson1 opened #524 "COI matches COII"
I'm trying to pull in COI sequences for Apis mellifera, and the best hit is actually a COII sequence:

`ncbi_byname(taxa="Apis mellifera",gene=c("COI"),seqrange = "1:5000")`

[code]

Looking at the [genbank file](http://www.ncbi.nlm.nih.gov/nuccore/HQ260378.1) it's clearly trnLeu-COII, not cytochrome oxidase I. My guess is that "COI" is matching "COII".

[2016-04-28 19:04] sckott commented on #524
Thanks for the issue. However, we have made the ncbi gene seq functions defunct in this package - see https://github.com/ropensci/taxize/blob/master/NEWS.md#deprecated-and-defunct - And those fxns are now in `traits` package - Can you open this issue in that repo https://github.com/ropensci/traits/issues  and we'll address it there.

[2016-04-28 19:04] #524 closed

[2016-05-06 14:21] sckott opened #525 "import ritis once on CRAN"

[2016-05-06 14:22] sckott commented on #496
closing in favor of #525

[2016-05-06 14:22] #496 closed

[2016-05-06 14:22] sckott commented on #518
closing in favor of #525 - which will have solr functions

[2016-05-06 14:22] #518 closed

[2016-05-06 14:24] sckott commented on #511
closing inactivity

[2016-05-06 14:24] #511 closed

[2016-05-09 16:10] sckott opened #526 "possibly drop tnrs"
down too often

[2016-05-09 22:59] sckott commented on #506
I've taken the API down - anyone have sol'n for this?

[2016-05-09 23:03] #409 closed

[2016-05-09 23:04] sckott commented on #333
likely never going to happen

[2016-05-09 23:04] #333 closed

[2016-05-09 23:10] sckott opened #527 "ION is completely down"
probably need to make fxns defunct

[2016-05-09 23:58] sckott commented on #527
hmm, back up, nevermind

[2016-05-09 23:58] #527 closed

[2016-05-10 00:06] zachary-foster commented on #506
@dwinter Did you ever get a response to your question to NCBI helpdesk?

It seems like this is an NCBI problem in regards to bulk verification. I find it especially odd that they said:

when GI numbers are being phased out.

In the short term, we can fix this problem, by setting the batch size to one:

https://github.com/ropensci/taxize/blob/master/R/genbank2uid.R#L30

This will slow the function

[2016-05-10 19:14] sckott commented on #506
this seems reasonable

[2016-05-10 22:48] sckott opened #528 "get_gbifid and associated fxns broken-ish now"
Seems changes in GBIF API make these functions behave differently

[2016-05-10 23:07] #528 closed

[2016-05-11 00:58] zachary-foster commented on #506
Want me to implement that?

[2016-05-12 01:27] jangorecki opened #529 "fix examples in `rankagg`"
There is an attempt to load `vegan` namespace in examples [rankagg.Rd#L23](https://github.com/ropensci/taxize/blob/5ad078c918a07552b392f9b89354fec357b4eb03/man/rankagg.Rd#L23), code below is the results from examples.
As `vegan` is suggested dependency, it should not be required to run examples according to [R-exts](https://cran.r-project.org/doc/manuals/R-exts.html#Suggested-packages). This can b

[2016-05-12 01:36] sckott commented on #529
Thanks for this. Will fix

[2016-05-12 02:47] #529 closed

[2016-05-13 22:19] sckott opened #530 "tax_name() fails on some names"
[code]

looks like just a column name incompatibility.

done separately:

[code]

[code]

another e.g.

[code]

[2016-05-13 22:20] sckott opened #531 "itis_acceptname() give back the same output regardless of accepted or not"
character string

[code]

vs. data.frame

[code]

give back data.frame for both

[2016-05-17 17:32] sckott opened #532 "tax_name fails on some inputs"
e.g.,

[code]

[2016-05-17 17:33] sckott commented on #532
via https://gist.github.com/ibartomeus/b61be59e317d0a1e213814b2f1a1c776

[2016-05-17 17:51] sckott opened #533 "synonyms: make easier to extract names from outputs"
See https://gist.github.com/ibartomeus/b61be59e317d0a1e213814b2f1a1c776

First of all, the different data sources give back diff. data fields and we give users different data frames depending on the `db` value - so this leads to cognitive load for sure.

Can make some helper function(s) to extract names into a vector, .e.g, extract the accepted name if given name is a synonym OR keep the given nam

[2016-05-17 17:53] sckott opened #534 "Vectorize itis_acceptname()"
to allow multiple name inputs instead of just one

[2016-05-18 03:00] #531 closed

[2016-05-18 03:00] #534 closed

[2016-05-18 03:30] sckott commented on #530
via https://gist.github.com/ibartomeus/b61be59e317d0a1e213814b2f1a1c776

[2016-05-18 03:31] sckott commented on #532
closing in favor of #530

[2016-05-18 03:31] #532 closed

[2016-05-18 05:14] #530 closed

[2016-05-19 17:15] sckott opened #535 "resolve() with db=tnrs makes submittedname value an entire string of results"
blarg

[2016-05-19 17:17] sckott commented on #535
bleh, now can't replicate it

[2016-05-20 16:53] sckott opened #536 "issues with hyphenated names"
e.g.'s:
- https://github.com/ropensci/rgbif_mcglinn/blob/master/names-tr.txt#L3184
- https://github.com/ropensci/rgbif_mcglinn/blob/master/names-tr.txt#L3160
- https://github.com/ropensci/rgbif_mcglinn/blob/master/names-tr.txt#L3129

From Hans Mentz (can't find on github)

[2016-05-21 06:18] ibartomeus opened #537 "tax_name() not working in last update"
In the last update itis_acceptnames and tax_name were updated, but tax_name() stop working with a cryptic message (at least in my computer).

[code]

The error is:

[code]

I tried deleting the corrupt file and loading again taxize, but nothing changes.
Thanks in advance!

Session info -------------------------------------------------------------------------
 setting  value
 version  R version 3.2

[2016-05-21 07:43] sckott commented on #537
tested under that R version 3.2.3, still works for me. Can you restart R session, and try again to be sure that's not it?

[2016-05-21 07:48] ibartomeus commented on #537
You were right! I re-started R and it complained about Rcpp. After updating
Rcpp it runs smoothly. Thanks a lot for the fast troubleshooting!

On Sat, May 21, 2016 at 9:43 AM Scott Chamberlain <notifications@github.com>
wrote:

--
--
Ignasi Bartomeus PhD
www.bartomeuslab.com
@ibartomeus
Skype: nachobartomeus

Dpto. Ecología Integrativa
Estación Biológica de Doñana (EBD-CSIC)
Avda. Américo Vespucio

[2016-05-21 07:49] sckott commented on #537
so what version of Rcpp do you have now?

[2016-05-21 07:55] ibartomeus commented on #537
Rcpp       0.12.5

On Sat, May 21, 2016 at 9:49 AM Scott Chamberlain <notifications@github.com>
wrote:

--
--
Ignasi Bartomeus PhD
www.bartomeuslab.com
@ibartomeus
Skype: nachobartomeus

Dpto. Ecología Integrativa
Estación Biológica de Doñana (EBD-CSIC)
Avda. Américo Vespucio s/n
Isla de la Cartuja
41092, Sevilla (Spain)

[2016-05-21 17:22] sckott commented on #537
thx

[2016-05-21 17:22] #537 closed

[2016-06-02 14:32] sckott opened #539 "fungorum is erroring"
see travis checks https://travis-ci.org/ropensci/taxize/builds/134297223#L597-L598

[2016-06-09 18:22] sckott opened #540 "xml2 upgrade, change xml_find_one to xml_find_first"

[2016-06-10 03:52] sckott commented on #539
seems okay now, must have just been down for a bit

[2016-06-10 03:52] #539 closed

[2016-06-10 03:53] #540 closed

[2016-06-13 20:22] sckott opened #541 "ncbi_get_taxon_summary URI too long error"
via https://twitter.com/daattali/status/742451025852829696 @daattali

[2016-06-13 21:08] daattali commented on #541
Until this gets implemented, this is my hacky workaround code (I have a flight to catch in 3 hours so I don't care how ugly this code is at the moment, don't judge)

[code]

[2016-06-14 08:05] daattali opened #542 "tax_name throwing errors when trying to query certain names"
Discovered by @keshiniD: certain higher-order queries throw an error

[code]

For example:

[code]

or "viruses"

[2016-06-14 16:43] daattali commented on #542
It's probably not a common use case, it came up from using the result of
ncbi_get_taxon_summary
On Jun 14, 2016 12:33, "Scott Chamberlain" <notifications@github.com> wrote:

[2016-06-14 17:01] sckott commented on #542
thanks, actually a bug in `classificaiton()` called internally

[2016-06-14 17:20] sckott commented on #542
So:

`viruses` are in NCBI when you search in the web portal http://www.ncbi.nlm.nih.gov/taxonomy/?term=viruses but there's no taxonomic classification data when you query on it's NCBI taxon ID http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&ID=10239 - compared to http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&ID=9606 where taxonomic classification data

[2016-06-14 17:23] sckott commented on #542
@daattali reinstall `devtools::install_github("ropensci/taxize")`

[2016-06-14 17:33] sckott commented on #526
service is down again

[2016-06-14 17:34] sckott commented on #526
srsly thinking now about removing tnrs functions

[2016-06-14 22:01] mcsiple opened #543 "iucn_summary() not able to find species"
When I use `iucn_summary()` with a scientific name, I get a new error that I haven't encountered before. For example,

Input:
`xx <- iucn_summary("Thunnus thynnus")`

Resulting error message:

[code]
 Returning NA!

I'm using R version 3.3.0 on Mac OS 10.10.5 .

(I've also checked species from the code samples in the vignette)
I have used taxize before to look up the IUCN status for this species,

[2016-06-14 22:09] sckott commented on #543
thanks! I'll have a look

[2016-06-14 23:48] sckott commented on #543
@mcsiple short answer is we know use `rredlist` package to get some Redlist data, and  you need an API key (authenticaiton) for that. just a sec

[2016-06-14 23:56] sckott commented on #543
@mcsiple go here http://apiv3.iucnredlist.org/api/v3/token to request an API token

also, reinstall from github `devtools::install_github("ropensci/taxize")`  and you should now get an informative error message before you get your IUCN token, After you get your token, see ?iucn_summary manual file for details on how to use

[2016-06-15 00:03] mcsiple commented on #543
Excellent, thank you Scott. I requested one and I'm looking forward to testing it out! I wonder if I had a key stored in my RProfile from before-- I somehow managed to get IUCN statuses with taxize before, without having an API key.

[2016-06-15 00:03] #543 closed

[2016-06-15 00:04] sckott commented on #543
we added this recently

do let me know once you get the key if it works as expected

[2016-06-15 00:22] sckott commented on #541
reinstall - though I didn't actually fix this as I think best users do their own chunking of ids - but added a message that's thrown if more than ~ 8000 characters long, and some notes to the man page.

[2016-06-15 02:16] daattali commented on #542
Seems fixed, thanks!

[2016-06-15 02:16] #542 closed

[2016-06-15 22:48] sckott opened #544 "more vignettes"

[2016-06-15 22:53] sckott commented on #535
seems fine

[2016-06-15 22:53] #535 closed

[2016-06-16 14:20] #541 closed

[2016-06-16 16:58] sckott opened #545 "iucn_summary() fails on windows when parallel=TRUE"
at least in some scenarios,

see https://gist.github.com/Rekyt/287bc86e623a1d489a07885ce32df5e7 for example usage

[2016-06-16 17:35] sckott commented on #317
decided to move wikipedia taxonomy stuff to another pkg cause it's more work/code than I thought it would be, will integrate here later when that's available

[2016-06-16 19:49] sckott opened #546 "update xml_find_one to xml_find_first when new xml2 on CRAN"

[2016-06-16 19:49] sckott commented on #546
in the meantime, if users get the newest version they'll get a warning but will still work

[2016-06-16 19:55] sckott commented on #540
reverted back to old xml2, so can push to cran, new issue to update when its on cran #546

[2016-06-20 20:38] ahhurlbert opened #547 "handling no name matches vs multiple name matches with classification() in a loop"
I'm trying to clean a vector of taxonomic names obtained from someone else's dataset.

These names reflect entities of varying taxonomic level, and occasionally include strings that aren't expected to match anything (e.g., "Helianthus sp. A") while others might have multiple entries which invoke the interactive taxize feature.

However, I'm trying to automate the cleaning of these 600 names withou

[2016-06-20 21:24] sckott opened #548 "`rows` param usage in classification() with name not matched throws error"
from https://github.com/ropensci/taxize/issues/547

[2016-06-20 21:49] sckott opened #549 "new vignette: Strategies for programmatic name cleaning"

[2016-06-20 21:50] sckott commented on #547
Thanks for the issue and the code to replicate the problem. As you can see above, I opened an issue to fix that bug with the `rows` param when no match found.

unfortunately, as is currently, `classificatuon()` doesn't tell you that there was multiple matches anywhere in the return object if you use `rows` to get back just 1 record. We can of course do that, by putting another attribute in the out

[2016-06-20 21:52] sckott opened #550 "Add attribute to `get_*` functions for whether there were multiple matches or not"
from #547

We can add another attribute to the output for whether there was more than 1 match, regardless of `rows` param usage

[2016-06-20 23:52] mcsiple commented on #543
API key took 6 days from request (although I've been told it will take less time in the future) and worked like a charm. I now have the key in a separate file, and call it whenever I used iucn_summary. All is working smoothly. Thank you for answering my question so promptly!

FWIW, I did get the following error from ?iucn_summary:
Error in fetch(key) : lazy-load database '/Library/Frameworks/R.fra

[2016-06-20 23:56] sckott commented on #543
@mcsiple glad it works now

that error  I think is often fixed by a restart of the R session, did you try that?

[2016-06-21 15:01] ahhurlbert commented on #547
Thanks @sckott, that helps.

A name cleaning vignette will be very helpful!

[2016-06-21 15:01] #547 closed

[2016-06-21 16:55] sckott commented on #547
Glad it helps, don't hesitate to ask more questions about this issue or anything else

[2016-06-21 17:09] sckott opened #551 "Add attribute "direct" to attributes for `get_*` functions"
to indicate whether a match was made by direct equality,

or perhaps a better name for the attribute is better than `direct`

[2016-06-21 18:00] sckott opened #552 "Add direct match to get_uid()"
not present right now, not sure why

[2016-06-21 21:01] #550 closed

[2016-06-21 21:01] #551 closed

[2016-06-21 21:19] sckott commented on #548
@ahhurlbert I can't replicate the problem you reported

[code]

with the current version on master. Install like `devtools::install_github("ropensci/taxize")` - and let me know of any examples of this error

[2016-06-21 21:22] sckott commented on #552
not sure if this is needed, look into more

[2016-06-22 00:37] ahhurlbert commented on #548
Nope, I can't duplicate it either after installing from Github, so no bug to fix I guess!

[2016-06-22 01:15] mcsiple commented on #543
Yep! It's fixed now. Thank you!

[2016-06-22 01:45] sckott commented on #548
okay, thanks for testing!

[2016-06-22 01:45] #548 closed

[2016-06-22 01:50] sckott commented on #543
great!

[2016-06-24 23:42] jebyrnes opened #553 "worms #newdatasource"
So, in working with `classification()`, frankly, itis and ncbi are a mess with respect to algae - missing whole species and having non-standard and conflicting classification schemes. More standard is the World Register of Marine Species - http://www.marinespecies.org/index.php - any chance that could be added as a db?

[2016-06-24 23:43] jebyrnes commented on #553
Also I'm an idiot and realized that I asked soemthing similar on this package ages ago - but, well, consider this a bump? HA - sorry!

[2016-06-24 23:56] sckott commented on #553
Sorry about itis and ncbi not cutting the mustard!

worms is in `taxizesoap` pkg - see https://github.com/ropensci/taxizesoap#worms for examples - let me know if you have trouble installing

[2016-06-24 23:57] sckott commented on #553
we can't add it in `taxize` proper because they use a web service technology that is hard to support across operating systems and R versions, so worms, pesi and mycobank are in a sep. package

[2016-06-25 00:05] jebyrnes commented on #553
Amazing as always. Didn't totally realize there was another package. Onwards! And hopefully I'll have a good example for you in a bit!

[2016-06-25 00:09] sckott commented on #553
sounds bueno

[2016-06-25 00:09] #553 closed

[2016-06-30 23:54] sckott commented on #506
@zachary-foster @dwinter

Good news , just got a $500 grant from Amazon research for this, so i'll get it up soon, and this should mean it can be up for the long term - by the time the 500 runs out will figure out something else

[2016-07-01 20:02] sckott opened #555 "get_gbifid() erroring sometimes when numeric ids sent back"
Apparently we used to return character strings as IDs, but now they are numeric, fix `pluck()` call

[2016-07-01 20:55] sckott opened #556 "Fix to sub_rows() internal fxn to not break when NROW(df) < rows"

[2016-07-01 22:08] #555 closed

[2016-07-01 22:08] #556 closed

[2016-07-01 22:13] #546 closed

[2016-07-01 22:25] sckott commented on #317
in repo https://github.com/ropenscilabs/wikitaxa

[2016-07-21 15:33] sckott opened #557 "gnr_resolve bug: dont fail on parse when no data returned for preferred source"
via email

[2016-07-21 20:12] sckott opened #558 "Possibly don't drop taxa in gnr_resolve that don't have matches"
from email, same as #557

[2016-07-21 20:14] #557 closed

[2016-07-22 15:45] sckott commented on #558
sorted

[2016-07-22 15:45] #558 closed

[2016-07-22 16:16] sckott opened #559 "gnr_resolve: attempt to sort output data.frame in order of user supplied names"

[2016-07-22 16:55] #559 closed

[2016-07-22 20:24] #549 closed

[2016-07-27 19:26] ljvillanueva opened #560 "tax_name() fails with 'Galagoides demidovii'"
Running
[code]

Results in

[code]

Tried looking into how tax_name() works and it seems that the problem is when classification() returns not an NA, but this:

[code]

get_tsn() doesn't return an NA:

[code]

So the check [here](https://github.com/ropensci/taxize/blob/master/R/tax_name.R#L86) doesn't see it as an NA. Seems to be an issue with what ITIS returns for this species.

[2016-07-27 20:27] sckott commented on #560
thanks, @ljvillanueva  what version of taxize and R do you have

[2016-07-27 20:32] sckott commented on #560
looks like that taxon is invalid http://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=944094

and the api call that `classification(get_tsn('Galagoides demidovii'))` makes is http://www.itis.gov/ITISWebService/services/ITISWebService/services/ITISService/getFullHierarchyFromTSN?tsn=944094

which returns no taxonomic classification data

so we should handle that better, and

[2016-07-28 15:34] ljvillanueva commented on #560
I'm using taxize 0.7.9 in R 3.2.3.

[2016-08-03 14:47] bomeara opened #561 "Maintain order"
Recently almost made a very bad mistake, assuming that the order of returned names with `best_match_only=TRUE` was the same as the input names. Not so.

[code]

which is in the example works fine, but

[code]

returns results in a new order.

I'd suggest maintaining the order or at least making a `warning()` that people shouldn't expect the same order to be returned.  I'm not sure if this is true

[2016-08-03 17:42] sckott commented on #561
thanks @bomeara

I started to fix this in #559 in commit 3ae4ad4ecfb2058fe5428750ffc3b899f1090d48 but missed one route where it's still sorted.

just pushed a change - reinstall `devtools::install_github("ropensci/taxize")` - should work now

[2016-08-03 18:41] bomeara commented on #561
Yup, thanks, @sckott . The new code works great.

[2016-08-03 18:41] #561 closed

[2016-08-04 18:25] #560 closed

[2016-08-04 18:25] sckott commented on #560
@ljvillanueva reinstall and try again, should be fixed now

[2016-08-09 03:01] IdoBar commented on #285
That's definitely a problem I encounter every time I try to use the package (annotating big blast outputs).
At the moment I'm forced to use the functions one term at a time, inside lapply/sapply.

[2016-08-09 17:11] sckott commented on #285
Thanks for the feedback @IdoBar !

I'll have another look at this. That multi-handle error in `httr` has been fixed, so that's helpful. Hopefully more new soon

[2016-08-09 22:42] IdoBar commented on #285
Thank you @sckott,

Returning NULL or empty character strings creates a problem as well for downstream applications because the resulting factor is not the same length as the input one, which makes it impossible to apply as a new column in a data frame for example.

My solution is using this function:
`# match common names
ETE_tax_report$Common.name <- unlist(lapply(ETE_tax_report$Species, functio

[2016-08-11 04:25] wcornwell opened #562 "Get all names from Index Fungorum?"
Thanks again for this awesome tool!  We're about to have a working group on fungal traits following [this meeting](http://ipmb.berkeley.edu/events/msa-2016), so will probably have some myco-querries coming for you.

Anyway first one.  I was trying to get a list of names that are in Index Fungorum to make a plot of number of binomials in each family and order.  My first attempt was:

[code]
But I d

[2016-08-11 06:29] sckott commented on #562
Thanks for your question.

I'll have a look...

[2016-08-11 17:47] sckott commented on #562
there's not a great solution here, but here's something

[code]

that's with a low `limit` value just for demo purposes. You can set `limit` to max of 6000 I believe. but there's no way to say "i want to start at this name, then move from there", so you can probably get most, but maybe not all names

[2016-08-11 20:41] sckott commented on #285
@IdoBar Thanks for the example - I agree that returning `NULL` isn't great because that's usually dropped and then length of the output is different. Seems ideal to give back `NA` or empty list or data.frame, matching whatever the function in question returns, except an empty version of it (unless it’s a character string, in which `NA` seems better perhaps)

[2016-08-12 01:02] wcornwell commented on #562
Nice. `fg_name_search` seems a better way to go.

As work around for the limit issue, I guess there could be a check if the limit got hit and then query on the first two letters? This sort of stuff is never elegant.

[2016-08-12 05:46] sckott commented on #562
maybe e.g., this

[code]

which makes all vector `aa`, `ab`, `ac`, etc. or maybe have to go to three letter combos as e.g., I ran just the first 10 with 6000 limit and `ag` had 6000, so that slot has more results

[2016-08-12 07:44] wcornwell commented on #562
Makes sense.  Probably Agaricus.  I fiddle with this.  T

[2016-08-14 00:34] wcornwell commented on #562
Here is where I've got to so far.

[code]

seems to be working so far, but haven't tested it full yet

[2016-08-15 20:07] sckott commented on #562
might be worth asking them if they can provide a dump, though that usually ends up with a `No`

[2016-08-17 09:29] wcornwell commented on #562
As far as I can tell this hacky solution is working and there aren't any other problem genera:

[code]

Takes about 8 hours.  Closing the issue, but hopefully people can find this if this issue ever comes up again.  Thanks for the help @sckott

[2016-08-17 09:29] #562 closed

[2016-08-17 21:18] sckott commented on #562
@wcornwell glad something worked finally. and thanks for sharing the solution

[2016-08-24 19:20] sckott commented on #506
@zachary-foster @dwinter okay, the API is back up  gbids.xyz is back up https://github.com/sckott/gbids docs: http://recology.info/gbidsdocs/  hopefully for good now,

[2016-08-24 19:22] zachary-foster commented on #506
I did not notice your last comment on Jun 30 until now. Nice!

[2016-09-07 16:06] sckott opened #564 "IRMNG webservice"
http://www.irmng.org/aphia.php?p=webservice

[2016-09-09 00:48] ChristopherTracey commented on #126
Has there been any progress on the integration of NatureServe taxonomy into the this package?

[2016-09-09 05:29] sckott commented on #126
thanks for your message @ChristopherTracey No, not incorporated yet. I did start playing around with it, but not in the pkg yet. I'll try to get something up in the next few days and ping you again

[2016-09-09 12:59] ChristopherTracey commented on #126
Great! Thanks!

From: Scott Chamberlain [mailto:notifications@github.com]
Sent: Friday, September 09, 2016 1:29 AM
To: ropensci/taxize
Cc: Tracey, Christopher; Mention
Subject: Re: [ropensci/taxize] Potentially use NatureServe API for some of their data (#126)

thanks for your message @ChristopherTracey<https://github.com/ChristopherTracey> No, not incorporated yet. I did start playing around with

[2016-09-09 23:56] sckott commented on #126
@ChristopherTracey it turned out to be a lot of XML parsing, I created a new pkg https://github.com/ropenscilabs/natserv

Two of the three web services are not really for taxonomic data, and I really want to keep `taxize` focused on taxonomic data only. So once the new pkg is on CRAN, we could import just the taxonomy fxn here

I'll ping you on the other pkg for feedback there

I'll leave this ope

[2016-09-12 13:36] ljvillanueva commented on #560
Yep, seems to be fixed now. Thanks!

[2016-09-12 17:52] sckott commented on #560
great

[2016-09-19 21:36] mcsiple commented on #543
Hi Scott-- I noticed just one thing recently. I'm looping through several species and storing their IUCN status in a separate column. Sometimes (and not consistently on the same species) I get the error

[code]

When it happens, I have just been re-starting the loop from the index where it got stuck, and all goes well. Within the loop, I have:

[code]

where `newdf` is a dataframe containing all t

[2016-09-19 22:16] sckott commented on #543
@mcsiple how many requests did you do?, i.e. what is the length of `ds.lsit$childtaxa_name`

Just worked fine for me for about 20 species, but its possible you hit rate limiting if it was a lot. see this note in the docs (`?rredlist-package`)

[2016-09-19 22:28] mcsiple commented on #543
Oh, perhaps that is the issue. I am actually looking up the statuses of all the species within each of ~80 genera, so I must be getting blocked periodically, then it works once my two seconds are up.  It is clunky to periodically start the loop where I left off, but it's getting the job done.

[2016-09-19 22:29] sckott commented on #543
It takes longer of course, but you can use e.g., `Sys.sleep(2)` to sleep for 2 seconds between each request. put that at top or bottom of for loop

[2016-09-19 22:33] mcsiple commented on #543
Woohoo! You're a genius.

[2016-09-19 22:37] sckott commented on #543
let me know if you have any other questions.

[2016-09-20 17:59] cmzambranat opened #565 "MSW3 for Taxonomic Name Resolution Service doesn't work"
Hi,

I'm trying to match names against MSW3, but no data is recovered. The other data sources seems to work fine.

Thanks!

[code]

Session info

[code]

[2016-09-20 18:46] sckott commented on #565
Same thing. I'll contact the maintainer of the service.

[2016-09-21 16:01] sckott commented on #565
Still waiting to hear back.

[2016-09-21 16:04] cmzambranat commented on #565
Thanks for the update!

[2016-09-21 17:00] sckott commented on #545
@Rekyt is this still a problem for you?  I can't replicate this problem

[2016-09-21 21:25] #517 closed

[2016-09-21 21:25] sckott commented on #517
@fmichonneau added `get_tolid()`, and can do `classification(..., db = "tol")` now, let me know if you have any thoughts on those

[2016-09-22 08:39] Rekyt commented on #545
Hum... Maybe it's my config I tried the same thing (and updated to the last version of taxize) and got this error:
[code]
Even when setting up the key interactively using `options(iucn_redlist_key = ...)` or using `.Renviron` file.

Hmm... I'm going to check if my token is still valid.

[2016-09-22 18:10] sckott commented on #517
see https://github.com/ropensci/rotl/issues/86

[2016-09-22 19:02] sckott commented on #545
Let me know if you sort this out

[2016-09-23 00:43] sckott commented on #564
SOAP only AFAICT - will open issue in `taxizesoap`

[2016-09-23 00:43] #564 closed

[2016-09-23 23:17] #525 closed

[2016-10-03 03:38] SimonGoring opened #566 "Strange xml errors popping up intermittently."
[code]

I used the call:

[code]

and go this error:

[code]

[_Eolimna_ is in the ITIS](http://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=970026), and the call does return, sometimes, but other times it seems to hang for a really long time, so I wonder if this isn't actually the side-effect of a time-out problem.

Raising it here in case other people get it, or if ther

[2016-10-03 16:38] sckott commented on #566
Thanks Simon, having a look

[2016-10-03 16:41] SimonGoring commented on #566
I re-ran chunks of my code today and I only got one (presumably server side) related error:

[code]

The `curl` error turned up several times yesterday.  This makes me think that in general the issues had something to do with the ITIS server, rather than the package.  Not sure how reproducible it all is :)

[2016-10-03 18:14] sckott commented on #566
@SimonGoring I think it was a temporary problem with ITIS services. Running those two egs now with `replicate()` and not getting any errors. Are you still getting errors?

[2016-10-10 15:58] davharris commented on #353
@sckott Figured it out.  The "AOU" column in the BBS data set refers to internal codes used at USGS.  The codes used by the actual American Ornithologists' Union are in the "seq" column. 😑

[2016-10-10 17:10] sckott commented on #353
Okay, so do you think its worth re-considering including here? or no

[2016-10-10 17:23] davharris commented on #353
Not a priority. I just thought it made sense to document it in case the BBS/AOU stuff pops up again...

Dave

[2016-10-20 17:33] sckott opened #567 "EUBON v1.2 API out"
http://cybertaxonomy.eu/eu-bon/utis/1.2/doc.html

incorporate to eubon fxn

[2016-10-21 14:43] ChrKoenig opened #568 "Error in gbif_parse for hybrid species"
Since recently, some of my scripts crash because of the following error.
[code]
Using a multiplication sign instead of the x doesn't work either
[code]
However, ordinary names work as intended
[code]

[code]

[2016-10-21 19:33] #568 closed

[2016-10-21 19:34] sckott commented on #568
@ChrKoenig reinstall `devtools::install_github("ropensci/taxize")` - should work now - soemtimes NULL values are returned, and data.frame creation doesn't like null's

[2016-10-27 23:07] sckott opened #569 "gnr_resolve bug: some names return just genus name from API"
via @noamross

egs of this problem with IUCN and ITIS datasources

an ITIS example:
- for some names, e.g. _Alouatta guariba_ the `name_string` and `canonical_form` fields have only the genus name without the epithet  http://resolver.globalnames.org/name_resolvers.json?names=Alouatta%20guariba&data_source_ids=3
- while for other names, e.g., _Helianthus annuus_ the `name_string` and `canonical_for

[2016-10-27 23:48] sckott commented on #569
@dimus any thoughts on this? perhaps the epithet in some cases is being lost on some regex operation?

[2016-10-28 16:54] dimus commented on #569
@sckott it means no dataset knows about this species, so it returns genus only. It is indicated in a admittedly cryptic manner by "match_type 6" . Match types are described here -- http://resolver.globalnames.org/about

In new resolver which is going to be released in December we will have match types in plain English

[2016-10-28 17:02] sckott commented on #569
thanks for the quick response @dimus

however, i'm not sure i understand. _Alouatta guariba_ is a valid name in ITIS, see https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=944185#null

so why would we only get back the genus?

[2016-10-28 18:59] dimus commented on #569
Yes, you are right @sckott, I made a fresh import of ITIS, now http://resolver.globalnames.org/name_resolvers.json?names=Alouatta%20guariba&data_source_ids=3 is found

[2016-10-28 19:03] sckott commented on #569
@dimus thanks much!

are the `updated_at` dates here http://resolver.globalnames.org/data_sources.json updated and correct?  that is, could we use those to determine if a data source may be somewhat out of date?

[2016-10-29 12:58] dimus commented on #569
@sckott @noamross I made an update to json output --- now there is `imported_at` field which shows when returned record was inserted into GN database, and there is `match_value` which explains a match type in English

[2016-10-31 17:23] sckott commented on #569
thanks @dimus , looks good

[2016-11-04 20:25] hmorzaria commented on #566
I got similar errors today when running.
[code]
`

[1] TRUE
`
`synonyms()` works with Tropicos

The error was system independent, tried it in two different computers (Linux & Windows)

[2016-11-04 20:38] hmorzaria commented on #566
The error occurred over ~30 minutes, works now

[2016-11-04 20:41] sckott commented on #566
hmm, must have been a server problem on their end. works for me now as well

[2016-11-04 20:57] hmorzaria commented on #566
Yes, just the resulting error message is confusing

[2016-11-04 21:03] sckott commented on #566
right, that's probably a result of not stopping code execution when there's a problem with the data returned from server, as we don't want to stop in case someone is using the function across many taxa, but hard to account for all possible error scenarios

[2016-11-11 17:18] sckott commented on #565
@cmzambranat got responses back on this but still not working, trying to get it working. For now, for mammals I'd suggest using global names resolver via `gnr_resolve` in this package

[2016-11-13 18:05] nate-d-olson opened #570 "ncbi classification no longer working"
NCBI search functions are broken. I believe that the issue is related to NCBI switching from http to https but changing the URLs in the source code did not fix the issue.

[2016-11-13 19:00] sckott commented on #570
can you share your sessioninfo and an example call and the error you get

[2016-11-13 19:35] sckott opened #571 "Change NCBI URLs to https from http"
https://www.ncbi.nlm.nih.gov/news/06-10-2016-ncbi-https/

[2016-11-13 19:35] #569 closed

[2016-11-13 19:37] #566 closed

[2016-11-13 20:04] #571 closed

[2016-11-13 20:04] sckott commented on #570
ncbi urls now https, see #571

[2016-11-17 19:34] ezwelty commented on #317
I've been developing R code as part of an effort to mass-translate species common names for fallingfruit.org. I just discovered taxize (doh!) but I may have some code of interest. At least for extracting (aka guessing from html formatting) common names and language from wikipedia, wikicommons, and wikipedia, you can see what I have so far here: https://github.com/falling-fruit/falling-fruit/blob/m

[2016-11-17 20:59] sckott commented on #317
hi @ezwelty - thanks for your message!

I'll have a look. I lean towards putting wikipedia taxonomy stuff in this package https://github.com/ropenscilabs/wikitaxa - and then we can import it here, as `taxize` is already too bloated. Would you be interested in contributing to the `wikitaxa` package?

[2016-11-17 22:02] sckott opened #572 "rotl fuzzy match names"
see https://github.com/ropensci/rotl/issues/86

can't remember if this is sorted or not

[2016-11-20 03:18] ezwelty commented on #317
Happy to contribute to the wikitaxa package if you can give some direction on the overall code architecture (since you'll know best about importing into taxize later). Are you intent on using WikipediR, or is say making api calls using httr (as I have) an acceptable direction to take?

[2016-11-21 18:25] sckott commented on #317
Great.

Not necessarily tied to using `WikidataR` (not wikipedia, but wikidata).

I'll have a look at what you have an make some suggestions for PR's

[2016-12-06 16:52] sckott commented on #317
@ezwelty I've looked over what you have in the `fruitr` pkg.

Can you send a pull request to `wikitaxa` repo with modifications to the functions in `wiki.R`?

I want to change a few things, but I can do so after merging too

* check http status codes, via `stop_for_status` or a custom error catcher if there's useful error messages from wikimedia
* `curl` package has `curl::curl_unescape()` so we d

[2016-12-09 20:22] #567 closed

[2016-12-09 23:15] #505 closed

[2016-12-10 01:34] sckott opened #573 "on prompt in classification/etc. fxns, try to give the name in question"
esp. if there's a long list of options, the bit about what taxon is in question is already up above the user's window - so attempt to print out the name in question with the prompt, so like

`(Foo bar):`

instead of

`1:`

or is this just more confusing?

@EDiLD

[2016-12-10 03:04] sckott commented on #533
However, some of the data sources give back the accepted name(S) and some do not (so just a list of synonyms), so i don't think we can across data sources make a solution to get accepted names

[2016-12-10 03:45] sckott commented on #533
attempt at getting all accepted name vers together

[code]

[2016-12-10 03:50] #533 closed

[2016-12-12 17:19] sckott commented on #317
any thoughts @ezwelty

[2016-12-13 00:05] ezwelty commented on #317
Here you go:
https://github.com/ropenscilabs/wikitaxa/pull/3

[2016-12-21 15:42] sckott opened #574 "worms is now restful"
http://www.marinespecies.org/rest/#/

coming soon ...

[2016-12-21 16:06] sckott opened #575 "hex sticker maybe?"
does anyone have good design skills? want to design a hex sticker?

some guidelines here https://github.com/terinjokes/StickerConstructorSpec

an eg here https://github.com/sckott/rforcatshex

[2016-12-23 09:19] dschlaep opened #576 "Function get_eolid_help() doesn't pass eol API key as argument to eol_pages()"
The function get_eolid_help() has 'key' as one of its arguments. It passes 'key' to the call to eol_search() (line 299), but not to eol_pages() (line 309). Thus the warning

is issued even if a working personal API key is provided.

This refers to the latest commit e023483ea92e39f420ea3ee601216f38d3e18c1e on the master branch (Dec 16, 2016).

Suggestion: Replace current line 309
`y <- tryCatch(eol

[2016-12-23 17:39] sckott commented on #576
@dschlaep thanks for the report!

fixing now

[2016-12-23 17:43] sckott commented on #126
natserv is now on CRAN https://cran.rstudio.com/web/packages/natserv/

will try to integrate here

[2016-12-23 17:54] #576 closed

[2016-12-23 17:55] sckott commented on #576
@dschlaep okay, reinstall and try again, let me know if it works

[2016-12-23 23:45] sckott commented on #574
new pkg is at https://github.com/ropensci/worrms - will integrate here soon

ping: @jebyrnes @Alectoria @willgearty

[2016-12-24 14:27] willgearty commented on #574
It's a Christmas miracle! Thanks, Scott!

[2017-01-02 09:17] dschlaep commented on #576
@sckott thanks for the fix! v0.8.0.9610 works like a charm

[2017-01-05 05:32] mpnelsen opened #577 "tnrs - accepted name obtained from function vs website"
[code]
Hi - I'm not sure if you're still planning to maintain the tnrs function in taxize (https://github.com/ropensci/taxize/issues/526), but if you are, I came across a slight discrepancy between the results obtained for the acceptedname and authority fields using the taxize tnrs function vs the iPlant TNRS website.

Calling http://taxosaurus.org/retrieve/0939cb41a34ec44bf1139fa5c0186060
  submi

[2017-01-06 00:33] sckott commented on #577
@mpnelsen thanks - flop back and forth between maintaining `tnrs` and not

ill have a look, but have you seen the `taxize::iplant_resolve` fxn

[2017-01-06 22:32] sckott commented on #577
yep, the API call itself shows that those fields are blank

<img width="427" alt="screen shot 2017-01-06 at 2 30 23 pm" src="https://cloud.githubusercontent.com/assets/577668/21735199/b63c34d2-d41c-11e6-9871-e9c61ddfd291.png">

http://tnrs.iplantcollaborative.org/TNRSapp.html and the Taxosaurus API are not connected, so i wouldn't be surprised if they give different results.

I'll ping the Taxosau

[2017-01-06 22:37] mpnelsen commented on #577
Thanks a lot!

[2017-01-06 22:47] sckott commented on #577
If you don't mind, let's leave this open until we get this sorted out

[2017-01-08 18:33] mpnelsen commented on #577
sure thing - i'd closed it bc it was an issue on taxosaurus's side of things (and not taxize's).  thanks.

[2017-01-10 19:24] sckott commented on #574
working on branch `with-worrms`

[2017-01-10 23:26] sckott commented on #574
chagnes in a283a97a74fe8078b297be678969e90bc778aec5

[2017-01-10 23:46] sckott commented on #574
@jebyrnes @Alectoria @willgearty If you have a second to try this out, reinstall like `devtools::install_github("ropensci/taxize@worrms")` - see new functions:

`get_wormsid`, `get_wormsid_`, `as.wormsid`, and additions to `synonyms`, `classification`, `children`, `comm2sci`, `sci2comm`

let me know about any errors - features

[2017-01-11 13:35] diogoprov opened #578 "downstream for higher taxa available in IUCN"
I noticed that all functions that interact with ID databases don't work with IUCN. I'd like to retrieve the species list with polygons available in IUCN, how can I do that in taxize?
Thank you

[2017-01-11 17:42] sckott commented on #578
thx for your question. Im a bit confused

this is a separate request from downstream, correct?  And you are referring to the `downstream()` function, correct? `downstream` gets all taxa for a certain rank downstream of a target taxon.

While the polygon thing is I assume is a spatial polygon, correct? That isn't supported in taxize

[2017-01-11 18:13] diogoprov commented on #578
Hi @sckott , thanks for the quick reply. Sorry, I didn't make my question clear enough. I'm referring to the `downstream()` function indeed. I just wanted to know if it'd be possible to get, for ex., all taxa for Anura that are in the IUCN website, like the other databases

[2017-01-11 18:46] sckott commented on #578
thanks @diogoprov

There's no concept AFAIK in the redlist API of fuzzy searching by taxon name. I just emailed the API maintainer about this. The ability to fuzzy search by name is important if we want to have the same behavior that other taxon databases have - to keep interfaces consistent.

however, once you have a taxon ID , then the other taxize functions are in theory useable

So we could ad

[2017-01-11 18:51] diogoprov commented on #578
humm... I see, thanks for clarifying that. Indeed, they don't make their taxonomy of choice explicit either, so that's another problem that should be addressed in the database.

[2017-01-11 19:23] sckott commented on #578
I don't think they will expose the taxonomy though, but you never know

[2017-01-12 18:30] sckott commented on #578
Heard back from IUCN and there's no way to do fuzzy search - so I'll play around with this and see if it makes sense to have `get_iucn` since there's no real search like there is for other data sources  - one option is to use some other API to search on IUCN names - as some other sources have IUCN data but I don't know how up to date those are

[2017-01-12 19:27] diogoprov commented on #578
ok, thanks @sckott !!

[2017-01-13 20:57] sckott commented on #574
sent to cran

[2017-01-17 22:47] #574 closed

[2017-01-18 01:31] sckott commented on #126
@ChristopherTracey incorporated natureserve here via the `natserv` package, reinstall `devtools::install_github("ropensci/taxize")`, then see `?get_natservid` and also avail. in `classification()`, but that's it, not elsewhere in pkg

[2017-01-18 14:47] sckott opened #580 "CRAN checks failing"
https://cran.r-project.org/web/checks/check_results_taxize.html

may be related to `vegan` - news - https://cran.rstudio.com/web/packages/vegan/news.html

[2017-01-18 14:47] sckott commented on #580
and Kurt asked to fix soon, so send to cran soon

[2017-01-18 15:32] jarioksa commented on #580
Yes, this seems to be caused by vegan. This is surprising, because I checked **vegan** with `check_packages_in_dir()` and did not see any problem.

The taxonomy in `dune.taxon` was changed to follow Chase & Reveal (2009) *Bot. J. Linnean Soc.* **161**: 122-127 (2009) which has `Subclass` as the highest relevant category (all land plants are regarded as members of Class Equisetopsida of Chlorophyta

[2017-01-18 16:34] sckott commented on #580
thanks @jarioksa - and thanks for the PR

[2017-01-18 16:51] sckott commented on #580
fix in #581

travis build broken but due to another data source

[2017-01-18 16:51] #580 closed

[2017-01-18 17:03] sckott commented on #126
sorted for now

[2017-01-18 17:03] #126 closed

[2017-01-18 20:29] sckott opened #582 "NBN data source likely will need fixes"
around March sometime heard the backend will change - see if anything needs to be fixed.

[2017-01-19 03:35] andzandz11 opened #583 "NCBI downstream taxa"
Hello,
I want to get all families of Moniliformopses from NCBI (yes that is necessary because I have to crosslink with Genbank species names, and if I get the family names from other databases they sometimes not quite match). However there is no function for this.

Is there a more elegant way than recursively loop though ncbi_children and just hope for the best?

Is it possible to add NCBI to the

[2017-01-19 06:58] sckott commented on #583
thanks for your question!

will take a look in the morning

[2017-01-19 15:39] andzandz11 commented on #583
Not efficient, but works. Maybe somebody else will google it one day :)

[code]

[2017-01-19 18:59] sckott commented on #583
Glad you found something that works @andzandz11

I reopened b/c I think I can add a `downstream.ncbi` method to allow choosing ncbi for the `downstream()` function.

ill ping here when I have something

[2017-01-19 20:22] sckott commented on #583
the "no rank" designations are a pain, making a work around

[2017-01-19 20:46] sckott commented on #583
changes in ca3911800f233ae4b43df7278fd2d9094df63157

[2017-01-19 20:49] sckott commented on #583
@andzandz11 reinstall and try again

`devtools::install_github("ropensci/taxize")`

[code]

also available in `ncbi_downstream()`

[2017-01-19 22:35] andzandz11 commented on #583
Amazing! Thanks!

[2017-01-19 22:35] #583 closed

[2017-01-19 22:47] sckott commented on #583
let me know if you run into problems - i'm guessing there will be since NCBI has some weird rank names

[2017-01-23 13:27] antagomir opened #584 "Reverse function for genbank2uid ?"
The genbank2uid provides mapping from genbank to uid. Does the taxize package provide tools to make a reverse conversion, from uid to genbank IDs ?

[2017-01-24 08:40] sckott commented on #584
thanks @antagomir - not at the moment, but i'll have a look - it will be a 1 UID to potentially A LOT of genbank ids, so not sure if it will be a good fit here

[2017-01-24 12:23] antagomir commented on #584
Ok good to know, at least I know now that I was not missing something that is already available.

[2017-01-24 20:02] sckott commented on #584
does this do what you want

[code]

for example

[code]

[2017-01-24 20:45] antagomir commented on #584
Thanks ! Seems so but I could not run this yet - where does the con_utf8 come from - I could not locate any package with this.

[2017-01-24 20:52] sckott commented on #584
oh sorry, edited above, try again.

[2017-01-24 21:21] antagomir commented on #584
All output IDs in this new function seem to be numerics converted into a string. I was expecting the output "CP015409" following uid2genbank(239935), since the (reverse) genbank2uid("CP015409")[[1]] returns "239935". However, a rapid check indicates that the IDs returned by genbank2uid refer to the correct organism (Akkermansia) in Genbank. For some reason the original "CP015409" is just missing f

[2017-01-24 22:47] sckott commented on #584
those are GI ids, e.g., https://www.ncbi.nlm.nih.gov/nuccore/CP015409.1

can see if i can get acces. numbers instead of GI's

[2017-01-24 23:06] sckott commented on #584
i don't see any way to get acc ids instead of GI ids, let me know if you do

[2017-01-25 12:25] antagomir commented on #584
Ok there is a ncbi [flat file](ftp://ftp.ncbi.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz) for ID conversions that could be downloaded but I have not found services that could be queried for this.

[2017-01-25 12:33] sckott commented on #584
if you don't mind I'll reopen for a while as we may find something

[2017-01-25 13:16] sckott opened #585 "problem with get_colid with some names"
due to `col_search` with `response="full"` that fails in some parsing, e.g.,  `get_colid("Ophiura ophiura")` was failing

[2017-01-25 20:55] #585 closed

[2017-01-26 06:50] sckott opened #586 "new foreach version coming, see if any problems"
[code]

[2017-01-27 01:21] sckott opened #587 "make tax_rank do all data sources, just does ncbi/itis now"
afai can tell no reason to not do that

[2017-01-27 18:03] sckott opened #588 "Add bold as option to classification()"

[2017-01-27 20:11] #588 closed

[2017-01-31 18:11] heidiv commented on #230
Is an API still in the works?

[2017-01-31 18:30] sckott commented on #230
I asked them over 3 years ago about this and they said they were working on it - clearly not

the terms aren't as open as l'd like them to be http://www.theplantlist.org/1.1/terms/ - but I could throw together the API  if you will use it

[2017-01-31 18:33] heidiv commented on #230
@sckott Awesome Scott - I might, though you're right these terms are tight laced. Have you received permission from them to create an API?

[2017-01-31 18:42] sckott commented on #230
sort of back 3 years ago, asked again

[2017-02-21 05:10] sckott commented on #578
sorry, sorta dropped off my list, will get to asap

[2017-02-26 21:47] mcsiple opened #589 "Regional assessments or stocks/subpop lookup available thru taxize?"
Hi Scott-- Can taxize report regional assessments for a species, if available? It would be excellent to be able to look at "downstream" statuses below the species level for different subpopulations. This isn't urgent, just thought it would be cool! Thank you for all the great work on this package.

[2017-02-26 22:23] sckott commented on #589
hi @mcsiple - thanks for the question

Can you clarify what you mean by regional assessment?

What do you mean by _statuses_? And by _subpopulation_ do you literally mean a population of a species (e.g., a population of _Abies magnifica_ in XYZ park) OR a subspecific rank like _subspecies_ or _variety_?

[2017-02-26 22:33] mcsiple commented on #589
Sure- IUCN sometimes does regional assessments for species that also have a global assessment (their description is [here](http://cmsdocs.s3.amazonaws.com/keydocuments/Reg_Guidelines_en_web%2Bcover%2Bbackcover.pdf)). If you are searching for a species on the IUCN site, there is a search option for including regional assessments or "stocks/subpopulations":
<img width="544" alt="screen shot 2017-02-

[2017-02-27 22:09] sckott opened #590 "replace httr with crul"

[2017-02-27 22:24] sckott commented on #589
@mcsiple Do you know about the https://github.com/ropensci/rredlist package?  It's specifically for IUCN Red List data. It sounds like that would be a better fit?  Let me know if i'm off on my guess there. And if `rredlist` doesn't have what you need. looks like `rredlist::rl_history` has historical assessments

One way to do the downstream use case is to use `downstream()` in this package to get

[2017-02-28 22:41] zachary-foster opened #591 "Error reported for `ncbi_get_taxon_summary`"
I was emailed the following. I am pasting it here so there is a record of the conversation.

I want to download taxonomic information for several thousand Genbank records.  I used Taxize to convert accession numbers to uids (using genbank2uid), but when I try to use ncbi_get_taxon_summary to get the associated taxonomic information for these uids (the data are stored as a data frame, for example,

[2017-03-01 15:03] zachary-foster commented on #591
It was an R version issue. It worked right once he updated to R 3.3.1.

[2017-03-01 15:03] #591 closed

[2017-03-01 15:06] sckott commented on #591
thanks

[2017-03-03 07:09] mcsiple commented on #589
Hi @sckott -- thanks for the recommendation-- I will check that out (in the meantime, for whole species, taxize has done the trick!) I've been using downstream() to get all the statuses for species within a genus. Thank you!

[2017-03-03 07:09] #589 closed

[2017-03-03 17:55] sckott commented on #589
@mcsiple glad it works for you. do open any issues you have with `rredlist` over in that repo

[2017-03-08 21:35] #575 closed

[2017-03-08 21:36] sckott opened #593 "tax_name: maybe add plantlist as a `db` option"
not sure yet, haven't thought about it

[2017-03-21 21:12] clarson2191 opened #594 "Problem accessing ITIS database in TAXIZE?"
I am getting the following error when trying to access the "itis" database using the classification function. I have no problems accessing the other databases available in taxize (e.g. "eol"). This problem has only recently started to occur for me as I have had no prior issues.

Retrieving data for taxon 'Navicula'

**Error in curl::curl_fetch_memory(url, handle = handle) :
  Problem with the SSL

[2017-03-21 21:22] sckott commented on #594
@clarson2191 can you please share your `sessionInfo()`

[2017-03-21 21:24] clarson2191 commented on #594
Session info ------------------------------------------------------------------------------------
 setting  value
 version  R version 3.2.3 (2015-12-10)
 system   x86_64, mingw32
 ui       RStudio (0.98.501)
 language (EN)
 collate  English_United States.1252
 tz       America/Los_Angeles
 date     2017-03-21

[2017-03-21 21:26] clarson2191 commented on #594
R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods

[2017-03-21 22:26] sckott commented on #594
hmm, can you try it again after restarting your session, may have been a temporary problem on tehir server

[2017-03-21 22:36] clarson2191 commented on #594
I tried that and got the same error. I ran into this same problem about a month ago and came back to it today to see if I could figure out if it was an issue on my end. I have not been able to find any other information where others have had the same issue. I have been using taxize for well over a year now without any problems. It was just about a month ago that this problem first arose.

[2017-03-22 16:36] sckott commented on #594
@clarson2191 is this problem only with itis?

[2017-03-22 16:48] clarson2191 commented on #594
Yes, the problem was only with the it is database. I tried other databases (e.g. eol) and had no problems.

[2017-03-22 16:49] sckott commented on #594
okay, it's likely a problem on their end, I'll write to them and inquire.

[2017-03-22 16:50] clarson2191 commented on #594
Thank you very much!!!

[2017-03-22 16:58] sckott commented on #594
do these fail for you with same error:

[code]

[2017-03-22 17:10] clarson2191 commented on #594
I don't get the same error, but the image below shows a screenshot of what I got:
![itis_screenshot](https://cloud.githubusercontent.com/assets/26583032/24210860/9dc252b4-0ee7-11e7-9ee6-08f30100b99b.jpg)

[2017-03-22 17:12] sckott commented on #594
Yeah, that's fine - that's the JSON data that you get back on a successful request.

Did you get errors in R with the above code though?

[2017-03-22 18:03] clarson2191 commented on #594
Sorry. Yes, I do get the same error with the above code.

[2017-03-22 18:08] sckott commented on #594
thanks, email sent off to them

[2017-03-22 20:51] clarson2191 commented on #594
Hopefully that will take care of it. Thank you for your help!

[2017-03-24 10:50] davidvilanova opened #595 "Classification lineages and offline queries"
Hello,
Is there a quick way to get the 6 lineages (Phylum, Class, Family, Order,Genus, Species) for a given list of ids ?

classification(list_of_ids, db="ncbi") will return  a dataframe with all found.

Also can the files be downloaded locally to grun offline queries ?

[2017-03-24 14:52] sckott commented on #595
Not sure what you mean exactly. I assume `classification(list_of_ids, db="ncbi")` does not give you what you want, but what are you looking for?

What exactly do you mean?  What files?

[2017-03-24 15:10] #595 closed

[2017-03-24 15:10] davidvilanova commented on #595
Finally got everything.

[2017-03-24 15:11] sckott commented on #595
okay, let me know if any other questions

[2017-03-28 20:27] sckott commented on #594
@clarson2191 can we do a quick call and screenshare so we can explore this?  ITIS folks said they don't see any problems on their end.

[2017-03-28 20:47] clarson2191 commented on #594
Sure. Should I call you or do you want to call me?

[2017-03-28 21:39] clarson2191 commented on #594
I am beginning to think the problem may be on my end.  If you do not receive the same error for the following script, then the problem must be on my end, especially if ITIS is not seeing any problems on their end.

**classification("Navicula peregrina", db='itis')**

I am able to get results using another database, for example 'eol'
**classification("Navicula peregrina", db='eol')**

but get the f

[2017-03-29 00:00] clarson2191 commented on #594
UPDATE:
I went ahead and downloaded the latest version of R, RStudio and taxize, but am still getting the same error.

[2017-03-29 07:01] sckott commented on #594
@clarson2191 happy to do a call, if you're having the problem it's likely others are too but haven't spoken up about it .

those above do work for me. Note that the warning in the eol option is that we use a default API key for EOL - but suggest users get their own at the link

[2017-03-29 18:35] clarson2191 commented on #594
I definitely think it is a problem on my end. I was able to access ITIS with the classification command using a separate computer (you were able to as well), so it must be something to do with the SSL settings on my computer. Someone from our IT department will be looking at the settings on my computer to see if changing them will help resolve the issue I am having. I will let you know whether or

[2017-03-29 21:01] sckott commented on #594
ok, thx

[2017-03-30 13:54] ahhurlbert opened #596 "Display more/all options in interactive session using classification()"
I'm wondering whether there is a simple way to display more rows of output during the interactive session when using `classification()`. That is, if I try `classification('Limnophila', db = 'itis')`, I get

[code]
Seems to be returning all potential matches in alphabetical order which is fair enough, but in this particular case I'm looking for a genus name which is clearly farther down the list. P

[2017-03-30 13:55] ahhurlbert commented on #596
I should add that I'm running this programmatically for many names, which won't always be at a particular known level (e.g. genus), or at least ideally I'd like to not have to specify that but in practice I probably could.

[2017-03-30 15:06] sckott opened #597 "move to using new NBN API ASAP"
https://api.nbnatlas.org/

[2017-03-30 15:15] sckott commented on #596
thanks @ahhurlbert

Looks like in ritis we're using tibbles (compact data.frame's) - I'll change that to a regular data.frame before printing.

[2017-03-30 15:18] sckott commented on #596
@ahhurlbert reinstall and try again

[2017-03-30 15:18] ahhurlbert commented on #596
Yes, there's an interesting tradeoff here given that for some names that I have been entering there are 1,000+ options, so data.frame output will be ugly in some cases, but I think that's the only way to be able to scan all options.

A more complicated output feature would be to only display 20-50 results at a time, but then hit space bar to get the next 20-50?

[2017-03-30 15:24] ahhurlbert commented on #596
Better. From the previous tibble version I know there are 1,101 options for 'Iris', but they can't all get displayed on screen.

Here's what happens at the bottom for an example with too many options,  `classification('Iris', db='itis')`:
[code]

[2017-03-30 15:28] sckott commented on #596
not heard of a way to scroll through a data.frame, but maybe will find something.

thanks for the example. yeah, not sure what to do about that - Depending on the data source it's helpful to narrow your query so you get less results. e.g., with ITIS if you use `get_tsn` then pass to `classification` you could constrain to `accepted = TRUE`. Another way is to use the underscore methods, e.g., `get_

[2017-03-30 15:33] ahhurlbert commented on #596
The ITIS website has options for their manual searches to specify "contains" versus "exactly for", and you can specify matching Scientific Name and/or Common Name. Can you make use of these features through taxize?

In the Iris example, it was matching to both sci and common names with "iris" string embedded, it would greatly reduce the options by being able to restrict in these ways.

[2017-03-30 20:54] sckott commented on #596
Hmm, we use their REST API and i'm pretty sure their website doesn't use their API, so we can't necessarily do what they do. We use one of the routes for `get_tsn` that doesn't have those options for contains vs. exactly - I'm pretty sure they query their SQL database directly - ANYWAY, will try

[2017-04-01 09:04] #597 closed

[2017-04-02 23:21] sckott commented on #317
pkg pushed to CRAN - will incorporate here soon

[2017-04-03 09:12] robbriers commented on #582
Shut down of old NBN site on 31st March means that all NBN searches currently throw a 404 error.

[2017-04-03 16:16] sckott commented on #582
woopsy, opened a different issue, so this is sorted now via https://github.com/ropensci/taxize/issues/597 - will go to CRAN soonish, maybe end of week

[2017-04-03 16:16] #582 closed

[2017-04-05 18:38] sckott opened #598 "Kew's plants of the world"
http://powo.science.kew.org/

via dev tools, reveals that there's an API behind web portal: eg.,

http://powo.science.kew.org/api/1/suggest?query=Quercus
http://powo.science.kew.org/api/1/suggest?query=sunflower
http://powo.science.kew.org/api/1/search?sort=name_desc&f=accepted_names%2Chas_images%2Cgenus_f&q=Asteraceae
http://powo.science.kew.org/api/1/search?sort=name_desc&f=accepted_names%2Chas_

[2017-04-06 04:01] andzandz11 opened #599 "gbif_downstream error"
x <- gbif_downstream(5, downto="species")
Error in vapply(x$rank, function(z) which_rank(z), 1) :
  Values must have length 1,
FUN(X[[411]]) has length 2

[code]

[2017-04-06 17:18] sckott commented on #599
thanks @andzandz11 for opening the issue  !

first, note that this request will take quite a long time since you're getting species downstream from a Kingdom.

i'm looking into it

[2017-04-06 20:25] sckott commented on #599
@andzandz11 reinstall `devtools::install_github("ropensci/taxize")`

and try again

[2017-04-06 20:42] andzandz11 commented on #599
running right now....
Yes it takes long. But I need a complete list of fungi species for my barcode database. Unfortunately there is no way around it.

[2017-04-06 22:30] andzandz11 commented on #599
aaaand done. Did not take so lon after all. Works, thanks :)

[2017-04-06 22:30] #599 closed

[2017-04-06 22:37] sckott commented on #599
Great, glad it works.

[2017-04-07 09:45] rossmounce opened #600 "taxize + local copy of ncbi taxonomy for millions of queries"
I'd like to "re-identify" ~36.6 million NCBI land plant taxids using `ncbi_get_taxon_summary()`

You briefly mentioned that you might develop the ability to do queries of local copies of certain databases including NCBI in #271 ?

Is that implemented?
I think the package `taxonlookup` does this for ThePlantList and it is very helpful.

[code]

[2017-04-07 09:52] rossmounce commented on #600
ah, I see this idea has morphed into it's own package: https://github.com/ropenscilabs/taxizedb

[2017-04-07 16:46] sckott commented on #600
right, any reason to leave this open?

[2017-04-08 07:01] rossmounce commented on #600
nope. sorry! closing.

[2017-04-08 07:01] #600 closed

[2017-04-12 18:35] sckott commented on #596
sorry about delay on this, getting to it soon

[2017-04-12 18:38] ahhurlbert commented on #596
I'm fine now, and it turns out 'Iris' is pretty unique, so I don't expect this to be a very common problem for folks...

[2017-04-12 18:43] sckott commented on #596
okay, still looking into it though :)

[2017-04-13 05:18] snsheth opened #601 "Bad Gateway errors in tnrs and iplant_resolve"
My sense is that there have been previous issues with accessing tnrs, but I am not sure if there is any way to address Bad Gateway problems or if this is one of the reasons tnrs may become defunct in the future. I have been receiving somewhat unpredictable errors when using the tnrs function. Sometimes I run a query on multiple species names at once and I get a Bad Gateway error, but when I re-run

[2017-04-13 18:25] sckott commented on #601
thanks for your message @snsheth

yes, this happens quite a lot. they seem to be up now, but the problems will likely persist.

the issue with TNRS is that the maintainer doesn't have a lot of time to give to it, and ive offered to take over but its written in php, so I have no hope of doing that

for iplant, they i didn't think were down too often, but i'll contact them now

[2017-04-13 18:29] snsheth commented on #601
Thanks so much @sckott . Yes I also noticed that tnrs is working now. Too bad that they are down so often--it is a really great tool for resolving taxon names but it would be nice if it were more consistently reliable. Thanks again!

[2017-04-13 18:37] sckott commented on #601
in your opinion is it worth using these two functions even if the data source are down sometimes. or would you prefer to not use them if they will be down sometimes?

[2017-04-13 18:40] snsheth commented on #601
I tried other functions like gnr_resolve and am convinced that tnrs does a better job for many of my taxon names, so I would prefer irregular access to tnrs than no access at all. Of course it would be even better if the function were more reliable, as sometimes I want to re-run code and it won't work for some indefinite period of time.

[2017-04-17 15:02] sariya opened #602 "Taxize: Conflicts in taxonomy"
[code]

I was eyeballing results and found that taxonomy that NCBI gives is different than what I get from taxize.

Accession number: AM420293
Attached its output from taxize. Taxonomy I get at NCBI for the respective accession number is at [link](https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=405948&lvl=3&keep=1&srchmode=1&unlock&lin=s&log_op=lineage_toggle).

Attached text

[2017-04-17 19:27] sckott commented on #602
thanks for the issue @sariya !

Looks like `genbank2uid` is actually getting 3 taxonomic IDs for that accession number, but we only grab the first

[code]

we use elink eutils service, which doesn't include any data except for the taxonomic IDs - so we can't include any more metadata with the taoxnomic IDs unless we do at least 1 more http request to get more metadata

[2017-04-17 20:10] sariya commented on #602
Hi @sckott,

Thanks for looking into it. Is there any makeshift solution to this?
I definitely won't be able to dig into xml or play around with them for experience to R is really limited.

[2017-04-17 20:21] sckott commented on #602
i'm working on a fix right now, will have something soon

[2017-04-18 22:48] sckott commented on #602
@sariya reinstall `devtools::install_github("ropensci/taxize")` and try again, let me know

[2017-04-19 01:44] sariya commented on #602
@sckott Thanks.

taxize version: ` taxize_0.8.5.9113`
I get taxonomy that matches with NCBI in third element of list. The first two elements in list give me prophage as classification.

`uid<-genbank2uid(id = "AM420293")[3]`
`classification(uid, db = 'ncbi')`

[2017-04-19 19:01] sckott commented on #602
@sariya we can't in the code determine which is the correct ID to give back from the function so we have to give all back. does that make sense?

[2017-04-19 19:20] sariya commented on #602
@sckott Yes, it perfectly makes sense. I can understand it.
Thanks again. :)

[2017-04-19 19:20] #602 closed

[2017-04-20 20:31] sariya commented on #602
Hi @sckott ,
Just something I ran into. If I use `devtools::install_github("ropensci/taxize")`   that is ` taxize_0.8.5.9113`

I get error with `tryCatch`. It fails to capture error for below command:

`uid<-tryCatch(genbank2uid(id = "gwa2_scaffold_1731_16S_1")[1],warning=function(w) NULL )`

Error:
`Error in result[[1]][[1]] : subscript out of bounds`

tryCatch command works totally fine with `ta

[2017-04-20 21:21] sckott commented on #602
thanks, should fail better.

[2017-04-20 21:25] sckott opened #603 "genbank2uid fail better"
via #602

due to last change in `genbank2uid` no longer had fill with NA when no results

add back, add tests for fail well, see about other failure scenarios

[2017-04-20 21:25] sckott commented on #602
see #603

[2017-04-20 21:47] sckott commented on #603
@sariya can you try again after reinstalling?

[2017-04-20 21:57] sariya commented on #603
@sckott
It works fine now with `taxize_0.8.5.9114`.  Thanks for promptly fixing this. :)

Any directions when I should use `install.packages("taxize")` than `devtools::install_github("ropensci/taxize")` and vice-versa? I never use devtool to install any package.

[2017-04-20 22:33] sckott commented on #603
`install.packages` installs packages from CRAN (some edge cases not CRAN, but ignore those)

`devtools::install_github` is only installing from github, `devtools` package has tools for installing from other places as well, like locally from disk, etc.

[2017-04-20 22:34] sckott commented on #603
when I put up a new version on CRAN you can then use `install.packages` - this is the milestone https://github.com/ropensci/taxize/milestone/27 to follow - that gorups a set of issues that we hope to address for the next version

[2017-04-24 19:15] sckott opened #604 "get list of species/genera down from rank much faster than taxize::downstream does"
using `taxizedb` once its up on cran

[2017-04-25 07:39] fdschneider opened #605 "Fauna Europaea"
I am just exploring the taxize package for a data standardization project for animal traits. Great tool! thank you!

Many of my colleagues apparently use [Fauna Europaea](http://www.fauna-eu.org/cdm_dataportal/taxon/dada6f44-b7b5-4c0a-9f32-980f54b02c36) as a reference. It uses the backend and [API of the EDIT Platform](https://cybertaxonomy.eu/cdmlib/rest-api.html), which seems to be well document

[2017-04-25 17:08] sckott commented on #605
thx for the kind words.

Good idea. I imagine this doesn't necessarily mean they expose the API that they use for their website. So far I don't see that it's exposed. Do you?  I've asked them about it.

#443 may be related

[2017-05-18 23:40] bw4sz opened #606 "Default behavior for accidental english names. Error in sorting causes major problem in gnr_resolve(canonical=T)"
I am using gnr_resolve to clean a very large and messy of citizen science supplied data.

In general, I am using the function for name checking.

[code]
On occasion, users entered data in english names. gnr_resolve wisely disregards theses strings. For example

[code]
So if I have a data frame, I might pass all the levels to taxize.

[code]

[code]
This has a couple problems. First, notice what ha

[2017-05-19 18:00] tdjames1 opened #607 "synonyms.tsn fails if record is associated with >1 accepted name"
I'm trying to look up synonyms for avian species and I've come across a case where synonyms.tsn throws an error because the list of accepted names returns for the tsn contains more than one entry:

[code]

The species names yields a single tsn but the associated accepted names has two rows:
[code]

<br/>

[code]

[2017-05-19 18:24] sckott commented on #605
any thoughts @fdschneider ?

[2017-05-19 18:45] sckott commented on #606
@bw4sz thanks much Ben!

Can you attach an example file or a subset of that one you gave in eg above so i can replicate

[2017-05-19 19:09] bw4sz commented on #606
Not going to win any awards for reproducibility, but download [here ](https://www.dropbox.com/s/4i754qkspvqx2m5/transect_data.csv?dl=0)and how's this:

[code]

[2017-05-19 19:14] sckott commented on #607
thanks for reporting this @tdjames1 !

looking at it

[2017-05-19 19:30] sckott commented on #607
@tdjames1 try again after reinstall - let me know if it works now

[2017-05-19 19:49] sckott commented on #606
So we're working on exactly the same set of names, is this what you are passing in that results from `levels(dat$hummingbird)`

[code]

aside, We don't really have the ability locally in R to detect common names from taxonomic names

[2017-05-20 02:59] bw4sz commented on #606
yup, although do notice that perhaps markdown is changing some of the accent marks to unicode. It probably is fine in R. Looks fine when I load it here.

Yes, I wouldn't expect taxize to handle, or differentiate, common names.  thought it might be safe because passing gnr_resolve("Speckled Hummingbird") safely gives no results.

[2017-05-21 09:50] fdschneider commented on #605
Sorry, but no, I don't know how to access the API. It may not be open access at present. But thanks for checking it out.
I will also try to get in touch with the maintainers at the National History Museum in Berlin and express my interest in an open API.

[2017-05-21 10:20] tdjames1 commented on #607
@sckott It works! Thanks for the quick fix.

[2017-05-21 18:31] sckott commented on #607
great!

[2017-05-21 18:31] #607 closed

[2017-05-22 16:09] sckott commented on #605
Thanks, sounds good

[2017-05-23 08:04] DanielGMead opened #608 "NCBI connection error"
R version 3.0.2 (2013-09-25)
Platform: x86_64-w64-mingw32/x64 (64-bit)

Good morning,

a query i ran was ok last week but now is broken, it was a simple tax_name to ncbi that returned the following error:

Space required after the Public Identifier
SystemLiteral " or ' expected
SYSTEM or PUBLIC, the URI is missing
Error: 1: Space required after the Public Identifier
2: SystemLiteral " or ' expecte

[2017-05-23 09:16] kamapu opened #609 "score in tnrs output"
I know, it may be just a small detail, but submitting the following query I got apparently no matching with the database for *Guizotia schultzii*:
[code]
In such a case I would expect to have an empty cell for the column `matchedname` (as in the case of `acceptedname`) and a value **0** in the column `score`.
The later could be very helpful when deciding to accept or reject the suggested names usi

[2017-05-23 12:14] kamapu opened #610 "Author names and homonymous"
Dear people,
I'm trying to implement the function `tnrs` in an own package (`taxlist`) by writing a method. Since the data we are handling with may contain homonyms (same names by different authors, frequently pointing to different taxon concepts), I was wandering how they are managed in `taxize`.
I assume, the column `authority` corresponds to the author of the `acceptedname`, but I need also to

[2017-05-23 16:04] sckott commented on #608
thanks for the report @DanielGMead

First, I'd suggest upgrading to the latest `taxize`  from CRAN via `install.packages("taxize")` - the version you have is from Dec. 2014 - though you'll likely need to update your R version before you can install it - good idea to keep up to date R versions in general - unless you have a good reason not to

[2017-05-23 16:20] sckott commented on #609
thanks for this issue @kamapu

We don't control the web service behind the `tnrs()` function, but I can pass along the feedback to the maintainers. I've thought about taking it over, but it's php, which I don't know

here's the JSON behind that request http://taxosaurus.org/retrieve/e7c69a0a08604652e390c28b328405f0 can see that there's a missing name in the `acceptedName` slot - thus the empty slo

[2017-05-23 16:33] sckott commented on #610
thanks for this issue @kamapu

Seems like the authority that is returned is in fact attached to the accepted name, not the matched name. for example, for the taxon _Lactuca kenyensis_, the accepted name returned _Lactuca inermis_ does have the authority _Forssk._, see  http://www.tropicos.org/Name/2740200

I can ask the maintainer if its possible to return authority of the matched name as well

An

[2017-05-23 16:50] kamapu commented on #610
Thank you, Sckott, for your prompt answer. I will check the alternative `gnr_resolve` with further examples, though the advantage of `tnrs` is that taxon name and author name are provided in separated columns.

[2017-05-23 16:56] kamapu commented on #609
Thank you again. I'll waiting for the outcome of the discussion.
By the way, in the displayed summary there is a typo in **Taxoxnomic status**.

[2017-05-23 17:35] DanielGMead commented on #608
Thanks Scott,

I already updated and it fixed the issue, sorry for the trouble

Dan

On 23 May 2017 5:04 p.m., Scott Chamberlain <notifications@github.com> wrote:

thanks for the report @DanielGMead<https://github.com/danielgmead>

First, I'd suggest upgrading to the latest taxize from CRAN via install.packages("taxize") - the version you have is from Dec. 2014 - though you'll likely need to updat

[2017-05-23 17:39] sckott commented on #608
no trouble at all!, all issues are good issues 😄

[2017-05-23 17:39] #608 closed

[2017-05-24 22:35] sckott commented on #609
what summary?

[2017-05-24 22:41] sckott commented on #610
good to know.  this has been something I've been wanting to fix - be able to parse names in R, but it’s a very hard problem - there is a web service you can use from GBIF, see `taxize::gbif_parse`

[2017-05-25 07:58] gedankenstuecke opened #611 "Improving the class2tree resolution"
The function `class2tree` converts a list of taxonomic classifications into a tree. So far it [only takes ranked levels into account](https://github.com/ropensci/taxize/blob/master/R/class2tree.R#L82). This leads to extremely multifurcations, as there are only so many ranked taxonomic levels, which limits the use of the resulting trees.

![screen shot 2017-05-25 at 09 34 51](https://cloud.githubus

[2017-05-25 09:49] kamapu commented on #609
Sorry, I was talking about the popup list, the one attached at the end of your previous message:
[code]

[2017-05-27 19:21] sckott commented on #609
ah, that's from their website, not from taxize

[2017-05-27 19:25] sckott commented on #611
Thanks for this @gedankenstuecke Will think about this and try out your solution

pinging  @EDiLD wrt `class2tree`

[2017-05-27 19:25] sckott commented on #606
thx, was conferencing, will get to this soon

[2017-05-29 06:55] gedankenstuecke commented on #611
Thanks, and I haven't heard from @trvinh, but he might have some new insights as well! 👍

[2017-05-31 14:40] sckott opened #612 "cbind/rbind fix via CRAN maintainers"
from Kurt Hornik

    * checking S3 generic/method consistency ... WARNING
     cbind:
      function(..., deparse.level)
     cbind.classification:
      function(x)

[2017-05-31 20:45] sckott commented on #610
email to maintainer sent

[2017-05-31 20:45] sckott commented on #609
email to maintainer sent

[2017-05-31 22:27] nmatasci commented on #609
There are at least two issues that came into play. I'll try to unpack them:

# Difference between the tnrs website and the API calls via taxosaurus.org
As Scott pointed out, when one searches _Guizotia schultzii_ via the tnrs web interface, the results is different from the taxosaurus call. Namely, the web interface finds an accepted synonym whereas the taxosaurus API call returns an empty accepte

[2017-06-01 05:45] sckott commented on #317
sorted

[2017-06-01 05:45] #317 closed

[2017-06-01 05:59] #612 closed

[2017-06-01 19:22] sckott commented on #594
closing due to inactivity - ping again if want to reopen

[2017-06-01 19:22] #594 closed

[2017-06-02 17:28] #587 closed

[2017-06-02 17:59] sckott commented on #596
Although I'd like to provide a way to more interactively scroll through options, i think for now our advice to add to docs will be to refine your search if you are getting > results than will show at once

caveat of course that some data sources don't allow you to refine your queries - not sure what to do in those cases

thx for raising this @ahhurlbert

[2017-06-02 17:59] #596 closed

[2017-06-02 18:36] sariya commented on #603
Thank you for explaining the difference. :)

[2017-06-02 21:29] sckott commented on #603
@sariya  about to send new version to CRAN  - next week some time

[2017-06-02 21:45] sckott commented on #586
havne't seen any problem, closing

[2017-06-02 21:45] #586 closed

[2017-06-02 21:45] sckott commented on #570
all sorted, and `ncbi_*` fxns moved to traits

[2017-06-02 21:45] #570 closed

[2017-06-02 21:47] sckott commented on #565
sorry, no resolution to this, can't do anything about it as far as I can tell

[2017-06-02 21:47] #565 closed

[2017-06-02 21:50] sckott commented on #601
thanks for the feedback @snsheth

[2017-06-02 21:50] #601 closed

[2017-06-02 21:52] sckott commented on #545
closing due to inactivity

[2017-06-02 21:52] #545 closed

[2017-06-02 21:54] sckott commented on #572
sorted out with `tol_resolve` fxn it appears

[2017-06-02 21:54] #572 closed

[2017-06-02 22:04] sckott commented on #573
no clear way to do this

also, names can be quite long, so each prompt would vary in where you're typing, seem would be confusing

closing

[2017-06-02 22:04] #573 closed

[2017-06-02 22:08] sckott commented on #577
related #609 #610

[2017-06-02 22:08] #577 closed

[2017-06-02 22:09] sckott commented on #584
closing, no leads on this yet

[2017-06-02 22:09] #584 closed

[2017-06-02 22:09] sckott commented on #299
closing, past point of working on this anymore i think

[2017-06-02 22:09] #299 closed

[2017-06-02 22:09] sckott commented on #298
closing, past point of working on this anymore i think

[2017-06-02 22:09] #298 closed

[2017-06-02 22:10] sckott commented on #173
@EDiLD can we close this?

[2017-06-02 22:10] sckott commented on #177
@EDiLD can we close this or is it already fixed, been almost 2 yrs now

[2017-06-02 22:13] sckott commented on #506
closing - please do open new issues as you see fit if there are still unresolved issues within this

[2017-06-02 22:13] #506 closed

[2017-06-02 22:13] #526 closed

[2017-06-20 21:58] wpetry opened #613 "tnrs(): add option to return data.frame in 'query' order"
`tnrs()` returns a data frame where `submittedname` does not match the order of the original name `query`, making it difficult to use in pipelines. The re-ordering appears to be done by iPlant.
[code]
returns
[code]

Perhaps this could be addressed with a function argument (e.g., `preserve.order = TRUE`) that would sort the data frame such that `submittedname` is in the same order as the name `que

[2017-06-21 16:26] sckott commented on #613
related to #561 (fixed order in similar fxn `gnr_resolve`)

[2017-06-23 13:31] fgabriel1891 commented on #212
Hi!
Is it possible that the 'scrapenames' function could return also the OCR version of the pdf?  number and position of species names do not match when matching to the OCR output of fulltext::ft_extract. Is this possible or depends on the API itself?

Thanks!

[2017-06-23 14:30] sckott commented on #212
@fgabriel1891 thanks for your question. please open a new issue and include an example with how the positions don't match

[2017-06-26 19:22] fgabriel1891 opened #614 "offsets of scientific names do not match with ocr from fulltext::ft_extract"
when I send files to taxize::scrapenames the offsets of the names do not match with the output of other OCR engines such as the one in fulltext::ft_extract.  Is it possible that taxize::scrapenames could also return the OCR text of the file sent?

article doi: 10.1002/(SICI)1098-2345(1998)45:1<29::AID-AJP4>3.0.CO;2-Y

Code below
[code]
[code]
longer object length is not a multiple of shorter objec

[2017-06-26 22:47] sckott commented on #614
thanks for opening the issue. I don't maintain the web service behind `scrapenames()`, but I can ping the maintainer and see if they would be willing to return the ocr text

[2017-06-27 17:40] sckott commented on #614
@fgabriel1891  made a change in 2a41d2014cd31517700573e1c469fa22ac0b47cf , reinstall `devtools::install_github("ropensci/taxize")`, `scrapenames(url='http://www.mapress.com/zootaxa/2012/f/z03372p265f.pdf', return_content = TRUE)`

[2017-06-27 17:40] #614 closed

[2017-06-27 19:29] sckott commented on #613
right, the order is changed from the input, e.g., see the JSON API result http://taxosaurus.org/retrieve/f01d50369c67d7af0313b504e57e39b0

[2017-06-27 20:05] #613 closed

[2017-06-27 20:05] sckott commented on #613
@wpetry try again after reinstalling `devtools::install_github("ropensci/taxize")` - should return in order that you supplied names now - let me know if does or doesn' twork

[2017-06-27 20:39] wpetry commented on #613
@sckott looks great, thanks for the fix!

[2017-06-27 22:00] sckott commented on #611
any thoughts on this @EDiLD ?

[2017-06-27 22:02] gedankenstuecke commented on #611
Let me push to @trvinh as well, I vaguely remember him telling me something about how he fixed this.

[2017-06-27 22:09] sckott commented on #611
pinging @jarioksa in case he has any opinions

[2017-06-27 22:12] sckott commented on #609
@nmatasci thanks for your input!

what is GCC?

----
@kamapu does the answer above clear things up for you?

[2017-06-27 22:12] sckott commented on #610
@nmatasci any thoughts on this question?

[2017-06-27 22:20] nmatasci commented on #609
It's one of the curated sources the TNRS uses to resolve valid names, the Global Compositae Checklist. One of the idea behind the TNRS was to be able for a user to rank the order of its sources according to their (subjective) preference, so that "lower quality" sources are only used to resolve names that are not found in the better sources. That said, we had to use a default ranking and we priorit

[2017-06-27 22:39] nmatasci commented on #610
That's something that is not supported by design: the reason is the separation between the scrubbing/spellchecking and resolution (see my comment here: https://github.com/ropensci/taxize/issues/609). In the matching step, we are really just finding the string in the database that is the closest to the input string (given the structure of taxonomic names). If an author is provided, then that become

[2017-06-28 03:00] #578 closed

[2017-06-28 03:58] sckott commented on #606
@bw4sz try again after reinstalling `devtools::install_github("ropensci/taxize")` - now:

- common names are dropped before submitting the request
- any names that are zero length strings, NA, or not character strings are dropped  before submitting the request

We could retain them, but GNR API doesn't deal well with these, so returns weird stuff. Seems cleaner to drop names that are clearly going

[2017-06-28 08:03] trvinh commented on #611
I did try to create a matrix that contains equal number of taxonomy ranks for all taxa, including noranks. The missing rank IDs in the matrix were complemented by the previous available IDs. Then using that matrix to sort the taxa, I got what I expected to have.
However, I have to use a perl script to create that matrix. It would be great if it can be done directly in R :)

[2017-06-28 08:17] kamapu commented on #610
Many thanks to both of you for this informative discussion, regarding the question #609 as well, although it seems to be that we may adapt our work-flow to the current outputs of queries done in `taxize`.

Perhaps it is important to aware users that the function **tnrs** won't provide any advice about the occurrence of homonyms when applying queries without indication of name's authority, at least

[2017-06-28 08:19] gedankenstuecke commented on #611
Ah, let me see whether I got this: So if you have the taxonomy-IDs like this

[code]

with 4,5,7,8 being unranked you will fill them up to

[code]
?

[2017-06-28 08:36] trvinh commented on #611
yes, almost correct :)
However, I also fix the relative positions of all possible main ranks from strain to superkingdom (regardless to the taxa of interest), and also the relative positions of each individual taxon rank IDs.

In your example, as 9,10,11 are main ranks, I already knew their relative positions: 9->10->11, therefore

<code>Species A: 1,2,3, 4 , 5 , 6 , 7 , 8 , 9 ,(9),(9)</code>
<cod

[2017-06-28 08:52] gedankenstuecke commented on #611
Ah, okay! Is your perl script somewhere on GitHub so that people can have a look and potentially adapt it to R?

[2017-06-28 08:56] trvinh commented on #611
yup, [here it is](https://github.com/trvinh/phyloprofile/blob/master/data/getTaxonomyInfo.pl)
sorry for the dirty code :P

[2017-06-28 14:35] diogoprov commented on #578
Hi @sckott ! Thanks for working on that.
I have tried [very quickly] the new function, but I think I'm doing sth wrong.

![sem titulo](https://user-images.githubusercontent.com/5214836/27642642-6c7ca2ec-5bed-11e7-9ff4-0961893a08d0.jpeg)

I'll give it a try once again later.

[2017-06-28 17:57] sckott commented on #606
closing as I think this is solved now, but we can revisit if not

[2017-06-28 17:57] #606 closed

[2017-06-28 18:04] sckott commented on #578
@diogoprov that image didn't come through, thoughts?

[2017-06-28 18:20] sckott commented on #610
thanks @nmatasci for your response!

@kamapu yes, I will add  a note to the `tnrs` docs about this.

the `user_supplied_name` is the name the user passes into the function (unchanged); and the`submitted_name` is what is sent in the HTTP request to the global names resolver API.  The `submitted_name` may change from the user supplied name as in internally in `gnr_resolve` we cleanup the names a lit

[2017-06-28 18:22] sckott commented on #609
thanks for clarification @nmatasci

@kamapu does the answer above clear things up for you?

[2017-06-28 18:23] sckott commented on #610
to do:

- [ ] add note to `gnr_resolve` docs
- [ ] describe columns of output data in `gnr_resolve` in its docs

[2017-06-28 19:58] #610 closed

[2017-06-29 15:55] sckott opened #615 "add a rank to rank_ref: parvorder"
in NCBI, e.g, see Heteroneura id 41197 and Exoporia id 41020

[2017-06-29 17:15] sckott opened #616 "Fix to sci2comm: simplify param not passed correctly"

[2017-06-29 19:13] #615 closed

[2017-06-29 19:13] #616 closed

[2017-07-04 14:46] dlenz1 opened #617 "itis_hierarchy unknown column: 'rankname'"
Dear All,

today I was trying to use the function itis_hierarchy().
But I got this error message:

\# A tibble: 0 x 1
\# ... with 1 variables: rankname <chr>
Warning message:
Unknown or uninitialised column: 'rankname'.

Since I realized there was a recent update, I also updated my package version (now 0.8.8), and tried again. Same error message. I also tried some older versions, just to see if th

[2017-07-04 18:19] sckott commented on #617
thanks for the issue @dlenz1 - on vacation now, will respond next week

[2017-07-05 08:47] dlenz1 commented on #617
Now it works!
I changed nothing, I promise!

The error seems to be ITIS related ...
I already had some issues last week ...
Nothing to do for you.

[2017-07-05 08:47] #617 closed

[2017-07-05 12:52] ashiklom opened #618 "`neworder_phylo` is not in `ape` NAMESPACE"
When trying to install package from CRAN, I get the following error:

[code]

I looked through the `ape` package documentation and indeed, there is no `neworder_phylo` function in there.

The offending code in `taxize` is in [`R/taxize.package.R`][1] and the corresponding entry in the [`NAMESPACE`][2]. As far as I can tell, `neworder_phylo` isn't actually used anywhere, so there's no reason for it

[2017-07-05 18:46] sckott commented on #618
@ashiklom what version of `ape` do you have? the most recent version on CRAN does have `ape::neworder_phylo`

[2017-07-05 18:47] sckott commented on #618
its possible `ape::neworder_phylo` is only in newer version of `ape`, and you have an older version of `ape`?

[2017-07-06 16:46] ashiklom commented on #618
Ah yes, that was it. Strangely, my `ape` version was listed as the most current (4.1), but did not have the function, but after reinstalling from CRAN, it does even though the version number did not change. Given that such a recent version of `ape` is required, I would suggest adding a minimum version for `ape` to the description file (i.e. `ape (>=4.1)`).

All that being said, you never actually

[2017-07-10 20:13] sckott commented on #618
Weird that the fxn wasn't there.  I agree we should remove it, will merge your PR

[2017-07-10 20:13] #618 closed

[2017-07-10 21:21] #609 closed

[2017-07-10 21:21] #173 closed

[2017-07-10 21:22] sckott commented on #433
closing, seems won't happen

[2017-07-10 21:22] #433 closed

[2017-07-10 21:23] sckott commented on #443
closing due to inactivity

[2017-07-10 21:23] #443 closed

[2017-07-10 21:24] sckott commented on #605
closing, unlikely to happen

[2017-07-10 21:24] #605 closed

[2017-07-14 13:44] cdeterman opened #620 "Failing to find downstream taxa"
Hello, I have the current version of `taxize` (0.8.9) installed from CRAN.  I have been experimenting a little bit to familiarize myself with the functions.  I have encountered what seems to be an error to me.  For example, I can get the classification of a snake species just fine.

[code]

However, I cannot list taxa from the order, suborder or infraorder levels.  For example, lets say I want a l

[2017-07-14 18:10] sckott commented on #620
thanks @cdeterman seems like a bug - i'll look into it.

[2017-07-17 23:27] sckott commented on #620
You'll notice that ITIS has the suborder _Serpentes_

[code]

but COL does not

[code]

So since you're trying downstream with COL data source you are running into no data as COL just doesn’t have Serpentes in it's database apparently.

So, I think everything is working as expected, except for your example `col_downstream("Squamata", downto = "suborder")`, which was running into a problem due to C

[2017-07-17 23:30] sckott commented on #508
Now that `taxa` is on CRAN - start playing with using probably `taxa::taxon` for output of `get_*()` functions - already can think of two changes we probably need to make to `taxa::taxon`:

- allow arbitrary attributes to be assigned
- probably explicitly add a `uri` field for a uri pointing to that taxon on the web somewhere

[2017-07-18 18:48] cdeterman commented on #620
@sckott thanks, that explains things.  Can't believe I missed that detail.  I need to be more careful with specifying the `db`.  Thanks.

[2017-07-21 16:36] sckott opened #621 "comm2sci - S3 setup like sci2comm, at least for ncbi - Also DRY out"
not sure it can be done for other data sources

[2017-07-21 16:37] sckott commented on #621
Need to dry out fxn, pull fxns out and simplify

[2017-07-21 17:46] sckott commented on #621
see also https://stackoverflow.com/questions/45228288/automate-input-to-user-query-in-r/45243765#45243765

[2017-07-24 15:16] ljvillanueva opened #622 "iucn_summary returns 'not found' for existing species"
Searching a particular species with an IUCN assessment (_Polioptila plumbea_ - [Species page](http://www.iucnredlist.org/details/103882288/0)) returns nothing using `iucn_summary` (`iucn_key` is my key to the API):

[code]

When trying with `rl_search()` of `rredlist`, it finds the species:

[code]

[code]

[2017-07-24 18:16] sckott commented on #622
Thanks for the issue.

The same happens for me. It does indeed work when searching with `rl_searh`. However, the error happens when we try to get data for that taxon at the URL meant for machines at

http://api.iucnredlist.org/details/103882288/0

which 404 errors

The equivalent page meant for humans

http://www.iucnredlist.org/details/103882288/0

has data.

I'm not sure why this taxon doesn't h

[2017-07-24 18:20] sckott commented on #622
i've asked a contact i have at IUCN

[2017-07-25 21:27] sckott commented on #622
note to self:

- [ ] probably change `iucn_summary()` to not assign `iucn` class as that's the same class used in `get_iucn` and they are clearly not the same outputs

[2017-07-26 02:00] sckott commented on #622
IUCN API down right now, will return later

[2017-07-26 16:47] #620 closed

[2017-07-26 19:27] #622 closed

[2017-07-26 19:29] sckott commented on #622
@ljvillanueva try `iucn_summary` again after reinstalling let me know if it works - now using `rredlist`

dropped their old API  - though that still exists in the deprecated function `iucn_summary_id` - which we'll drop completely in a future version

[2017-08-04 16:21] glaroc opened #623 "Allow language selection in sci2comm, or provide language of each name in output"
The output of sci2comm gives a vector with vernaculars in all languages combined. It would be nice if it would give a data frame as output that has a column giving the language of the common name, or a filter to select the language in the function call. I know that both EOL and ITIS identify the languages of the vernaculars, so this should be possible.

[2017-08-04 17:19] sckott commented on #623
thanks @glaroc for opening the issue.

have you seen the `simplify` parameter? e.g.,

[code]

does that do what you want?

[2017-08-04 17:24] glaroc commented on #623
Ah! Yes this is what I want! Maybe mention this in the simplify description? It seems pretty important to know the languages of the names you're getting in the output.

Something like

    (logical) If TRUE, simplify output to a vector of names. If FALSE, return variable formats from different sources, usually a data.frame. Only applies to eol and itis. Specify FALSE to obtain language of vernacul

[2017-08-04 17:34] sckott commented on #623
sure, can do

[2017-08-04 20:15] glaroc opened #624 "EOL search needs to use "content" as opposed to title from JSON output"
For example, a search for `sci2comm('Acer saccharum')` returns no results. This seems to be due to the fact that `eol_search(terms = 'Acer saccharum')` does not contain an exact match since attributions are added to the species name. From my understanding, species listed in the json output of the api call often contain the author in the "title" field, while the plain species names are listed in th

[2017-08-04 20:18] glaroc opened #625 "Species name in sci2comm shouldn't be case sensitive"
For example,
sci2comm('Acer saccharinum') returns proper results
and
sci2comm('acer saccharinum') returns nothing

[2017-08-04 21:59] sckott commented on #625
thanks.

to clarify, it's EOL that is being case sensitive. e.g. try ITIS instead of EOL, and you don't get the same problem.

We can at least document the situation, and possibly correct names that need to be if the data provider requires it.

[2017-08-07 13:59] glaroc commented on #625
Oddly, a direct call to the get api seems to be insensitive to case:

[2017-08-09 17:41] sckott commented on #625
thanks - will have a look

[2017-08-09 19:35] sckott opened #626 "ncbi_downstream problem"
a taxonomic rank of `cohort` is used in some cases - as far as I can tell is equivalent to superorder, so doing that

[2017-08-09 19:37] #626 closed

[2017-08-09 20:34] sckott commented on #624
thanks @glaroc !

Two issues:

1. I'm not sure we want to go with the `content` field in the returned data. Going with your example taxon, here's the first five results from `content` and `title` fields

[code]

I'm not sure what the `content` field contains exactly, but it's much more text than the `title` field.

-----

2. There was actually a bug that I fixed for your other issue #625 that appl

[2017-08-09 20:41] glaroc commented on #624
I was thinking that the content field is more appropriate because the only entries that contain the actual species name "acer saccharum" in that field are the ones that reference the proper page id (582247). Maybe this doesn't apply to all situations however.

[2017-08-09 20:42] sckott commented on #624
i'm not sure i follow. can you clarify

[2017-08-09 20:45] #623 closed

[2017-08-09 20:45] #625 closed

[2017-08-09 20:45] glaroc commented on #624
In the json output (http://eol.org/api/search/1.0.json?q=acer+saccharum&page=1&exact=false&filter_by_taxon_concept_id=&filter_by_hierarchy_entry_id=&filter_by_string=&cache_ttl=false), the entries with "id":582247 are the correct ones, and they also contain the correct species name with not attribution. Doing a search for Acer saccharum on the EOL website also returns page 582247.

[2017-08-09 20:45] sckott commented on #625
should be fixed now, reinstall and try again

[2017-08-09 20:46] sckott commented on #624
the `sci2comm('Acer saccharum')` example should be fixed now, reinstall and try again

[2017-08-09 20:53] glaroc commented on #624
Yes, that works!

[2017-08-09 20:58] sckott commented on #624
we should probably just return the output of `content` field as well as the link field, so `eol_search` would do e.g,.

[code]

i'm not sure what else can be done though since the `content` field is pretty variable in what it contains, sometimes the first name has no authority, sometimes it does, sometimes it matches the entry in `title`, sometimes it doesn't. And there's no metadata as to what th

[2017-08-09 21:06] glaroc commented on #624
Well, if the original bug with sci2comm('Acer saccharum') is not related to the use of the title vs content field, I'm not sure anything needs to be done with the content field.

[2017-08-10 15:46] sckott commented on #624
Okay, i might still return the other fields `link` and `content`

[2017-08-10 15:55] #624 closed

[2017-08-10 20:33] #621 closed

[2017-08-10 23:39] sckott commented on #508
started working on incorporating `taxa` classes in `taxa-ids` branch

[2017-09-07 21:37] zachary-foster opened #627 "Unexpected behavior of `classification` when `ask = FALSE, row = 1`"
When there are multiple hits for a taxon, `ask = FALSE` and `row = 1` work as expected alone, but together they return `NA`. It seems that  when `ask = FALSE`, the `row` option is ignored. I would expect `ask = FALSE, row = 1` to return the same thing as `ask = TRUE, row = 1`.  It makes sense that `ask` and `row` would not be used together typically, so maybe a warning? Not a big deal, but it conf

[2017-09-07 21:41] zachary-foster commented on #627
Also, when `ask = FALSE` it would be nice if the `More than one UID found for taxon '...'!` was still printed so the user knows that the name exists in the database, but has multiple hits. At first I assumed that these taxa were not in the database until I looked them up in the database online

[2017-09-07 21:56] sckott commented on #627
I agree that `ask = FALSE, row = 1` && `ask = TRUE, row = 1` should return the same thing

I think should change behavior to

**pseudocode**

[code]

[2017-09-07 21:57] sckott commented on #627
good idea - agree should do this

[2017-09-07 21:58] sckott commented on #611
@gedankenstuecke any thoughts on this?

[2017-09-07 22:05] sckott commented on #482
closing, paging sounds like it will never arrive

[2017-09-07 22:05] #482 closed

[2017-09-07 22:09] zachary-foster commented on #627
Nice! Thanks for the quick response

[2017-09-08 17:38] gedankenstuecke commented on #611
@sckott Due to thesis writing I didn't have any time to look into this in depth. I remember @trvinh and I discussed moving his solution from Perl to R, but I have no clue what the status is for that.

[2017-09-08 17:52] sckott commented on #611
okay, thanks for update. will wait and see if something happens - will leave open for now

[2017-09-08 17:54] gedankenstuecke commented on #611
Thanks! I will be back in the office on Monday and then @trvinh and I can discuss how to best convert his code. I think for the tool he's writing it would be necessary/ideal to get a native R-solution as well.

[2017-09-08 17:56] sckott commented on #611
Great, 👌

[2017-09-08 18:25] sckott opened #628 "`classification()`: possibly optionally return classifications for all matches"
via https://github.com/ropensci/taxa/issues/100

explore to see how this works in practice

[2017-09-10 14:33] jarioksa commented on #611
I quite can't follow this. The current solution may not be satisfactory, but I think it is based on the data: if you have taxa that are separated at the same level, they will have "multifurcations". That is, if you have only information about families, all genera within the family are separated at the same level. You can produce fancier plots, but they are artifactual. If I get something reproduci

[2017-09-10 17:13] trvinh commented on #611
@jarioksa: I hope that I understood your point correctly. Yes, you are right, if we have only information about families, we will have multifurcation for taxa within a family.
With our current idea, if the information about the splits are missing, we still have multifurcations. We are not trying to remove multifurcations by creating artifactual trees (plots). Instead, we just want to solve them as

[2017-09-10 18:03] jarioksa commented on #611
So it's about not using existing information. Got to see how the information is extracted.

[2017-09-11 14:44] miriamgrace opened #629 "Error: get_wormsid produces missing value where TRUE/FALSE needed"
Hi, when I try to run the code below, querying WoRMS with a list of aphiaIDs "aphias".
[code]
I get the error:
[code]
Also confusing is that it was working a couple of days ago, but not a few weeks before that, and now again not. Thanks for any suggestions!

[2017-09-11 17:15] sckott commented on #629
hi @miriamgrace - i think you're using `taxizesoap`, correct?

[2017-09-11 20:01] miriamgrace commented on #629
Hi @sckott, yes, that's right.

[2017-09-11 21:03] sckott commented on #629
okay - looks like you asked the same question maybe here https://github.com/ropensci/taxizesoap/issues/19 ?

There is a new package https://cran.rstudio.com/web/packages/worrms/ to work with WoRMS - see functions in that package`worrms`

and you can use from `taxize` - but `worms_records` is not in `taxize`, but in `taxizesoap`

This is probably related to WorMS services sometimes not being availa

[2017-09-12 07:28] bart-v commented on #629
@miriamgrace can you tell me what list of AphiaID you are using? or on which one it fails?

[2017-09-12 19:22] miriamgrace commented on #629
Hi @bart-v, I've been trying to reproduce the error, today that doesn't seem to happen but instead the command returns tibbles for each ID, perhaps this is related to the new package worrms somehow?

[2017-09-12 20:50] GISKid opened #630 "Bug with tax_name and db="both""
When using tax_name on a list and attempting to get multiple taxonomic names - there seems to be a bug when using both databases where it will not output a data.frame or it will output a data.frame with NAs in certain columns.
[code]
However, when using individual databases on their own they work
[code]
or
[code]
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2017-09-12 23:21] sckott commented on #630
thanks for the report and including session info

however, i need some of `specieslist` variable, at least some of the names that cause an error - to reproduce the problem

[2017-09-19 22:24] sckott commented on #536
closing, can't figure out what this is about

[2017-09-19 22:24] #536 closed

[2017-09-19 22:31] sckott commented on #593
seems too difficult given that we'd have to either handle via bulk download of all data OR use the other pkg on cran, and don't want to rely on that, closing

[2017-09-19 22:31] #593 closed

[2017-09-19 22:38] sckott commented on #604
see `inst/ignore/downstream_sql.R` in `taxizedb` pkg

[2017-09-21 00:21] sckott opened #631 "some get_* fxns don't try for a direct match as other get*() functions do"

[2017-09-21 14:11] trvinh commented on #611
So, now we can reconstruct the NCBI taxonomy tree successfully :)
![taxonomytree](https://user-images.githubusercontent.com/19269760/30697071-ffb633b0-9edd-11e7-8279-929dbc18621f.png)

Our solution is that, we first index ALL available levels (also including the unranked) from input data in ascending order. Then create a data frame with columns are all levels and rows are the taxa. After all, we a

[2017-09-21 16:24] sckott commented on #611
thanks @trvinh !

@jarioksa can you chime in with any thoughts you have on the above solution/code?

[2017-09-21 16:56] jarioksa commented on #611
Got to have a look at the details of the code. However, the solution is *the* correct one.

[2017-09-21 17:14] sckott opened #632 "Fix URLs for NBN ID's"
e.g.,

https://data.nbn.org.uk/Taxa/NBNSYS0000002544

to

https://species.nbnatlas.org/species/NBNSYS0000002544

[2017-09-21 17:27] gedankenstuecke commented on #611
I suspect there might be some ways to make the code much more R-like. Given that @trvinh and I are rather new to R (coming from Python and Perl) we learned quite a bit about R data types in the process. 😂

[2017-09-21 18:05] #627 closed

[2017-09-21 18:05] #632 closed

[2017-09-21 18:59] sckott commented on #631
- [ ] `get_uid`
- [ ] `get_nbnid`

[2017-09-21 19:46] sckott opened #633 "add key param to iucn_id"

[2017-09-21 21:49] #633 closed

[2017-09-29 16:10] sckott commented on #611
@gedankenstuecke and @trvinh - are you meaning to modify code more?  you can send a PR, or would you rather i just add it?

[2017-09-29 16:51] trvinh commented on #611
@sckott : we will send a PR next week.

[2017-09-29 16:53] sckott commented on #611
sounds good

[2017-10-02 20:17] sckott opened #635 "Add instructions for running tests"
to `.github/CONTRIBUTING.md` and `README`

and contributing tests

[2017-10-02 20:41] gedankenstuecke commented on #635
Another thing that would be great for newcomers like me would be some words or links on how to package the whole thing if you contribute something new.

E.g. how to scope functions/add libraries, run `roxygen2` etc. I think @trvinh and I spent a good amount of time to figure that out this morning by going through a lot of trial-and-error and googling.

[2017-10-02 20:47] sckott commented on #635
okay, thanks

[2017-10-02 20:53] gedankenstuecke commented on #635
Thank you for all the kind help and support! 🎉

[2017-10-02 21:21] sckott commented on #635
okay, see https://github.com/ropensci/taxize/blob/master/.github/CONTRIBUTING.md

shouldn't affect the PR as diff. files changed

[2017-10-02 21:46] gedankenstuecke commented on #635
That’s great! Thanks so much for that! 😍

[2017-10-07 08:10] gedankenstuecke commented on #611
Closed through #634 😊

[2017-10-07 08:10] #611 closed

[2017-10-19 22:42] sckott opened #636 "synonyms_df should remove any null/na entries"
e.g..,

[code]

[2017-10-22 01:50] blubbundbla commented on #594
I have the same issue. I cannot access the ITIS database using R and taxize. I can access the database using bash and curl, but not from within R. It seems that I am missing a certificate.

I can also not access the site using GET or curl_fetch_memory.

I found a short-term workaround:  set_config(config(ssl_verifypeer = 0L)), which allows me to access the ITIS database.

[2017-10-23 16:08] clarson2191 commented on #594
I have had to do something similar, but it has been working for me:

library(taxize)
library(bitops)
library(RCurl)
library(httr)
set_config( config( ssl_verifypeer = 0L ) )

[2017-10-23 17:52] sckott commented on #594
@blubbundbla are you on windows? and what version of `taxize` and `curl` packages do you have?

[2017-10-24 00:52] blubbundbla commented on #594
No, the computer I was using is Ubuntu 17.04 (64-bit) and RStudio (did not work using R from the terminal either) running R version 3.3.2.

I tried to find the problem over the weekend. Unfortunately, during the process I changed my taxize package from the one downloaded from cran a few days ago (I guess it was version 0.9.0) to the github version. Now, I have taxize  0.9.0.9210 and curl 3.0 (unch

[2017-10-24 02:01] sckott commented on #594
@blubbundbla so everything is okay now?  Or does this

mean it works in that specific setup, but you need it to work in another different setup?

[2017-10-24 02:54] blubbundbla commented on #594
I want it to work on both systems, but I am fine with my workaround for Ubuntu 17.04. At first, I was not sure where the problem is, so I just wanted to let you know that more people have the issue and how I was able to 'solve' it. Anyways, it seems to be a general problem on my site with SSL certificates and not to be related to taxize. Thanks for the nice package.

[2017-10-24 21:52] sckott commented on #594
Thanks for feedback @blubbundbla

[2017-10-30 09:52] andzandz11 opened #637 "catalogue of life speed issue"
I need some advice on how to speed CoL up. I have a list of 3700 species and need to compare them to CoL. This list also includes author information. How can i incorporate this into the search query? GBIF for example has fuzzy matching for the author name. Does CoL support this?
The list matching service is too rough.
I tried:
<details> <summary><strong>code</strong></summary>

[code]
</details>

[2017-10-31 00:01] sckott commented on #637
WRT speed, can you be more specific?  no speedup relative to what?

I would not include authorities with names in searches for COL - I am working on a tool for that ([pegax](https://github.com/ropenscilabs/pegax)) but it's not quite ready yet. For now, you can try `taxize::gbif_parse`, e.g., `taxize::gbif_parse("Apis alpina Linnaeus, 1758")`

If you look at the docs for `col_search`, you can see

[2017-10-31 00:40] andzandz11 commented on #637
I thought if I use the parallel package with a cluster with one hundred nodes it would download 100 queries in parallel, but it didn't. I Need 3000 CoL queries to be processes within One Hour. At the Single Process Speed it would Take almost a day or so.

[2017-10-31 04:08] sckott opened #638 "Pass on limit and start params to `gbif_downstream`"

[2017-10-31 17:34] sckott commented on #637
Something you may be interested in is https://github.com/ropensci/taxizedb/ which helps users get access to SQL dumps of some taxonomic databases, including COL, ITIS, GBIF taxonomic backbone, beware that COL SQL dump is quite large

[2017-11-02 22:10] arendsee opened #639 "Cannot find the children of root"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I can find the lineage of an organism like so

[code]

I can find the children of any node in the lineage:

[code]

If I attempt to get the children of a node that hasn't any, like 3702, *Arabidopsis thaliana*, I get an empty result, as expected:

[code]

But when I try to get the children of the root node, which ought

[2017-11-02 22:36] sckott opened #640 "NCBI to introduce API keys soon"
https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/

HT dwinter

[2017-11-03 16:27] sckott commented on #639
thanks @arendsee seems like a bug, will look into it

[2017-11-03 17:16] sckott commented on #639
So within `children` we use the function `ncbi_children`, and within that we use `classification`. Within `classification`, there's no hierarchy information for that taxon ID, see https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&ID=131567  - as opposed to https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&ID=55062 where we get the hierarchy info from the XML

[2017-11-03 17:33] sckott commented on #639
@zachary-foster since you originally wrote `ncbi_children`, want to get your take on this

Seems like we can in fact get children for NCBI root taxon https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=131567 with this query (constructed from the `ncbi_children` fxn)

https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=taxonomy&term=cellular%20organisms%5BNext+Level%5D&RetMax=100

[2017-11-07 00:46] sckott commented on #639
@zachary-foster any thoughts on this?

[2017-11-13 16:24] KevCaz opened #643 "Something wrong with ITIS API?"
Hi there,

I am no longer able to retrieve information from the ITIS data.base. Yesterday I was able to run the following command lines, but today, no way!

[code]
I do no get this issue with worms database (I did not test the others db). Any clue why? Something with the API? Below is my sessionInfo() and note that this is neither working on Travis (trusty) nor on MacOS 10.11 (R 3.4.2 and R 3.4.0)

[2017-11-13 17:17] sckott commented on #643
thx for the report and the kind words @KevCaz

looks like their API is misbehaving, i've just emailed them

[2017-11-13 18:04] sckott commented on #643
@KevCaz it's back up now - builds are passing https://travis-ci.org/ropensci/ritis/builds/296870401

let me know if it works for you

[2017-11-13 18:46] KevCaz commented on #643
Wow that's quick! Thank you very much @sckott , everything back to normal on my side!
I close this issue!

Have a great day!

[2017-11-13 18:46] #643 closed

[2017-11-22 00:09] arendsee opened #644 "Node names for class2tree"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I am trying to get the NCBI tree for a vector of taxon IDs. I can get close to what I want with the following code:

[code]

However, in the resulting `phylo` object, node labels are missing. Since we are coming from the NCBI common tree, we do have names for all the internal nodes: e.g.

[code]

Would it be possible to

[2017-11-22 17:10] wpetry opened #645 "tnrs(source = "NCBI") API reply fails to import/parse into R"
<details> <summary><strong>Session Info Windows machine -- fails</strong></summary>

[code]
</details>

<details> <summary><strong>Session Info Mac machine -- works</strong></summary>

[code]
</details>

I'm having trouble sharing code with a collaborator across platforms, where `tnrs()` fails on my collaborator's computer when attempting to clean names using the NCBI taxonomy. I *think* the probl

[2017-11-22 20:41] sckott commented on #644
thanks @arendsee

will have a look - we did do a recent overhaul of this function FYI https://github.com/ropensci/taxize/pull/634

cc @gedankenstuecke  @trvinh any thoughts on this since you were involved in the redo of this fxn

[2017-11-22 21:45] sckott commented on #645
@wpetry can you and your collaborator reinstall from github `devtools::install_github("ropensci/taxize")` and try again, i think i found the problem (somehow `\r` were ending up at the end of submitted names in data that comes back from TNRS ), let me know if it works.

[2017-11-23 08:41] wpetry commented on #645
Thanks for such a fast response @sckott.

On Windows the data now import to R from the API reply, but all the rows of `submittedname` and `matchedname` have `\r` appended to them. We can clip those off with regex for now, but it still seems like something is amiss.

Mac is unaffected by the update—still working just fine.

[2017-11-23 18:33] gedankenstuecke commented on #644
Hey there,
I think that's a cool idea, I'm not sure how easy it would be to implement it:

Right now the phylo object [comes straight out of hclust and is then just converted into a phylo object](https://github.com/ropensci/taxize/blob/master/R/class2tree.R#L95). @trvinh Do you have experience in manipulating those?

[2017-11-24 13:30] trvinh commented on #644
Hi all,
regarding to `phylo` object, as @gedankenstuecke said, is an output of **as.phylo.hclust** function. The input for **as.phylo.hclust** is a distance matrix, which contains only the tip labels and their corresponding distances. Therefore the `phylo` object has no information for the internal node labels. Currently I have no idea how to include those names into `phylo` object :-P

@arendsee

[2017-11-24 20:06] sckott commented on #645
thx @wpetry - that's weird, that didn't happen on the windows machine i tested on, will look into again,

to be clear, the windows user did actually get data back though, yes? instead of an empty data.frame?

[2017-11-24 20:41] wpetry commented on #645
Yes, data came back like this:

[code]

[2017-11-24 20:53] sckott commented on #645
thanks, progress at least. will see about those dang returns

[2017-11-24 23:01] arendsee commented on #644
I want to be able to plot the distribution of homologs across a tree. The node labels are useful because they tell which clades have homologs. More broadly, I want to make a 'phylo' object from a subset the NCBI taxonomy common tree. Then I want to be able to perform operations on clades (for example, highlighting the subtree descending from some node).

I could parse the node names out of the `cl

[2017-11-28 21:04] arendsee commented on #644
The phylo object created by the function I wrote above should have the same topology as the phylo object created by `class2tree`. So we can port the node names over. However, this requires a bit of work, since the trees will not generally have the same node indices (e.g. rotating a branch will preserve topology by cause a change in node ids). But we can make a map between indices:

[code]

With th

[2017-11-30 18:12] sckott commented on #644
thanks @arendsee having a look

[2017-11-30 23:02] sckott opened #646 "NCBI rate limits"
NCBI does have rate limits, 3 per second without api key, and up to 10 per second with an api key.

But AFAICT there's no information at all as to the user IP/api key rate limits status. I've emailed them asking about this, hopefully will get some response header action going on soon.

see also #640

[2017-12-01 00:19] sckott commented on #644
@arendsee hmm, the example you gave above didn't work for me,

[code]

[2017-12-01 00:37] sckott commented on #637
closing - though happy to reopen if you still want to discuss this

[2017-12-01 00:37] #637 closed

[2017-12-01 04:27] arendsee commented on #644
Damn, you're right. One second.

[2017-12-01 04:35] arendsee commented on #644
Ah, try this:

[code]

[2017-12-01 04:43] arendsee commented on #644
Although, the `collapse.singles` function should probably be called up in the `as_tree` function instead. Also, `map_ids` should die if the inputs have different topologies.

[2017-12-02 10:19] arendsee opened #647 "`children` can return unexpected results for ambiguous taxon names"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

For this search

[code]

I get the results

[code]

The NCBI taxon '2' represents the Bacteria domain. As expected, I get all the bacterial phyla. However, I also get a bunch of insects from the genus 'Bacteria'. It seems that the taxon ID is being converted to the name and then the name is being searched. This isn't sa

[2017-12-02 16:39] sckott commented on #644
Nice, now it works for me.

[2017-12-02 17:11] sckott commented on #647
I think when names are given (e.g., `Brunia`) we're sort of stuck with that problem. Though if there's a way to give a higher rank to eliminate responses not wanted that would be good.

With IDs though I think we should be able to fix that problem. Looking into what's going on with `taxize::children(2, db='ncbi')`

[2017-12-02 17:17] sckott commented on #647
@zachary-foster It does seem that internally within `ncbi_children` even if an ID is given the function gets a taxonomic name and gets children based on the name instead of the ID. Is it possible to instead use the ID?

[2017-12-02 17:18] sckott commented on #644
@arendsee so what are you thinking here?  do you propose to modify `class2tree` function with above changes? or is it a separate function? or something else?

[2017-12-05 15:08] arendsee commented on #644
@sckott Sorry for the delayed response. I've been preoccupied writing a paper. I should be done by the end of the week, then I'll work a bit on a solution.

[2017-12-06 06:06] zachary-foster commented on #647
Hi @sckott. Sorry for the delay. I just saw this. First of all, who thought it was a good idea to name an insect genus "Bacteria"?! Oh well.

I tried a few things and I cant find a way to use the ID instead of the name. The `esearch` API has a `uid` field, but the part that looks for children is in the `term` field and I dont see how to specify that it is a uid AND I want children. Here is what th

[2017-12-06 18:18] arendsee commented on #647
@zachary-foster Oddly, the Bacteria genus of walking sticks was named first.

Yeah, entrez is a tar pit. Getting the immediate children of a node in a tree should be trivial. I've spent the last 2 hours messing with this and have ended up in exactly the same place as you.

Perhaps we can use entrez `elink` instead of `esearch`. I can get all the taxa that have the query ID in their lineage. Using

[2017-12-07 19:40] zachary-foster commented on #647
Interesting! I guess thats why they have not changed it.

Haha, tar pit is right: messy and full of fossils.

elink looks like something to explore more. I ran the rentrez command and it took a while to return, so I am concerned that even if we could filter for immediate children, it might be too slow to be practical.

Cool!

Thanks!

[2017-12-07 21:28] arendsee commented on #647
OK, I've posted a question on this topic on Biostars:

https://www.biostars.org/p/288432/

[2017-12-07 23:44] arendsee opened #648 "Inconsistent types in `children` output"
Apologies in advance for nitpicking, but column types in empty and non-empty dataframes returned by `children` are not the same:

[code]

This can probably be fixed by justing swapping out the default, empty df with

[code]

I think taxa IDs are not guaranteed to be integers in all databases, so the `character` type is probably appropriate.

[2017-12-08 02:05] sckott commented on #648
thanks, always good to catch these things and make them consistent.

[2017-12-08 15:07] arendsee commented on #648
I can fix this if you like. I think I've found the problem.

[2017-12-08 17:19] sckott commented on #648
sounds good. can you check that worms is consistent with that?

[2017-12-08 17:52] arendsee commented on #648
I've just pushed a second commit that tests and fixes itis. But worms are a bit tricky, I might open a new issue on them.

[2017-12-08 17:53] arendsee commented on #648
I think I'll go ahead and make pull request, leaving worms for later

[2017-12-08 17:54] sckott commented on #648
okay,

[2017-12-08 18:24] #648 closed

[2017-12-08 20:49] arendsee opened #650 "children of worms die when fed integers"
`children(x, db='worms')` dies screaming when `x` is a integer. E.g.

[code]

[2017-12-08 20:54] sckott commented on #650
😢

[2017-12-08 20:54] arendsee commented on #650
I think I've got a fix for it

[2017-12-08 20:55] sckott commented on #650
thx

[2017-12-08 20:55] arendsee commented on #650
Just a missing case in a switch statement

[2017-12-08 20:59] arendsee commented on #650
That should save the worms

[2017-12-08 21:05] #650 closed

[2017-12-14 20:49] tmkurobe opened #652 "Lower number of outputs by classification()"
<details> <summary><strong>
Session info
</strong></summary>

[code]
</details>

Hi,
I'm trying to retrieve taxonomy information using "staxids" from blastn search results. classification() returns lower numbers of outputs than the query, so it's causing a problem with cbind. Could you give me suggestion to deal with the issue? A text file with staxids is attached.
[staxids.txt](https://github.com

[2017-12-14 21:50] arendsee opened #653 "`downsteam` misses descendents of ambiguous clades"
This call

[code]

loses all descendents of the clade 'Brassicaceae incertae sedis'. I believe this clade gets filtered out as ambiguous when `children` is called on 'Brassicaceae'.

In this particular case, I believe the species in 'Brassicaceae incertae sedis' are predicted to be in 'Brassicaceae', but their particular location in the family is unknown. So I think they should be included as down

[2017-12-14 22:04] arendsee commented on #653
I think I fixed the argument passing issue. But there is still the question of whether there should be special handling of ambiguous nodes.

[2017-12-14 22:07] sckott commented on #652
thanks @tmkurobe looks like you didn't put your session info in though

<img width="212" alt="screen shot 2017-12-14 at 5 06 35 pm" src="https://user-images.githubusercontent.com/577668/34016793-33c784c4-e0f1-11e7-803c-1ffd91a17f02.png">

can you include that . you can just edit your issue

[2017-12-14 22:22] sckott commented on #653
thanks, will take a look tomorrow to familiarize myself with it, can't make educ. opinion right now (boarding 🛫 soon)

[2017-12-14 22:27] arendsee commented on #653
No worries, have a nice flight!

[2017-12-15 15:46] tmkurobe commented on #652
It seems staxid 1361 returns "NA".

[code]

[2017-12-15 23:10] sckott commented on #653
the merge closed this, but you did say it partially addresses this, i assume you want this to remain open, yes?

[2017-12-15 23:16] arendsee commented on #653
Yeah, there is just the matter of whether we want to be able to handle ambiguous nodes and ambiguous species differently.

[2017-12-15 23:17] sckott commented on #653
yeah, will reopen

[2017-12-15 23:27] sckott commented on #652
thanks @tmkurobe will have a look

[2017-12-16 00:05] sckott commented on #652
@tmkurobe hmm, what are staxid's ?  when using `db = 'ncbi'` (and `get_uid()` which is used inside `classification`) you need to pass a NCBI taxonomy identifier, which they call a UID. what are these staxid's?  if they map somehow to ncbi uid's then we can go from there. You can also pass names to `get_uid` or `classification`, but it looks like you only have those ids

[2017-12-16 02:45] tmkurobe commented on #652
Hello. I just realized an error in my code. The classification() is working beautifully now! I'm sorry about the confusion.

staxid is from blastn search (http://www.metagenomics.wiki/tools/blast/blastn-output-format-6). When I was formatting blastn search result, my grep command accidentally removed a portion of staxid, which was causing the error.

I am so sorry. And thank you for your help!

[2017-12-16 03:39] sckott commented on #652
glad it works now

[2017-12-16 03:39] #652 closed

[2017-12-21 09:46] andzandz11 opened #655 "downstream NCBI "Bryophyta" not responding"
`x <- downstream("Bryophyta", db = "ncbi", downto = "family")`

Nothing is happening for almost an hour, if I use "Tracheophyta" as query it is done in 20 minutes (I did this in June), although there are much more families.

PS: I have a API key, how can I include it in the query? Nothing popps up if I use ?downstream.

<details> <summary><strong>Session Info

</strong></summary>

[code]
</details

[2017-12-21 18:21] sckott commented on #655
thanks for the report. Will check if using the API key will help here. It's implemented in `get_uid` but not in other fxns in the pkg that use NCBI (#640)

[2017-12-21 20:51] sckott commented on #655
so i'm adding api key support to `ncbi_downstream` and `ncbi_children` which is inside of that fxn.

started your query after those changes in case having the api key helps - was running for a long time, with no errors, but than one request hung up for a long time, not sure why - i imagine its a problem on NCBI side of things, but not sure.

do you know about `taxizedb`?  https://github.com/ropens

[2017-12-22 08:39] MikkoVihtakari opened #656 "gnr_resolve(..., preferred_data_sources = 1, fields = "all") returns only 5 fields"
Thank you for writing such a useful package! While trying to sort my messy species lists, I noticed that the `gnr_resolve` function returns only 5 fields when using the `preferred_data_sources` argument, even though `fields = "all"`

Compare:
[code]
According to my interpretation, this behavior might be due to lines 249-257 in 2017-12-22 version of [`gnr_resolve`](https://github.com/ropensci/taxiz

[2017-12-22 12:09] andzandz11 commented on #655
I love it. The taxziedb solution works flawlessly.
Thanks for your help! My issue is resolved, nontheless maybe investigating the NCBI issue with the downstream request would help preventing further errors.

[2017-12-22 12:09] #655 closed

[2017-12-23 17:38] sckott commented on #655
glad it works for you. I think that your query with `taxize` is better now with Entrez API keys supported, and because it takes a long time, a fast and stable internet connection is good to have. I think your query would work with `taxize` it would just take a while to finiish. but if `taxizedb` works, that's great.

[2017-12-23 17:53] sckott commented on #656
(thx for the kind words)

thx for the report  - those lines might be it - i'll have a look

[2017-12-23 21:45] sckott commented on #656
two issues:

1. when `preferred_data_sources` is given in the fxn call, we only return the preferred_data_sources data - e.g. see the request output at http://resolver.globalnames.org/name_resolvers.json?names=Homo%20sabiens&data_source_ids=&preferred_data_sources=3 - the `results` slot we don't return - not sure why we did that, or if we meant to include preferred with regular data but forgot. Se

[2018-01-03 18:50] sckott commented on #656
@dimus is there any more information on the `preferred_data_sources` parameter and what it does?

[2018-01-03 19:47] dimus commented on #656
oups sorry missed this message with all the holiday mail. The `preferred_data_sources` parameter had been requested by Biodiversity Heritage Library folks. Their motivation as the following:

For simpicity and to avoid huge traffic they use `best_match_only` parameter and get only one 'best' match. However they also wanted to create a link to NameBank and EOL, so beside the best result, if the nam

[2018-01-03 20:24] sckott commented on #656
thanks for the explanation @dimus  !

[2018-01-05 14:03] MikkoVihtakari commented on #656
Have you found a solution for this? At least receiving URL or ID would together with matched_name2 and data_source_title be nice. I thought to use `gnr_resolve` to fix typos and extract the species IDs from a best fitting data source. If I had the ID, I could pass it to `get_*` functions potentially reducing the time needed to extract information and server pressure caused by hundreds of inquiries

[2018-01-05 20:40] sckott commented on #656
not yet - I plan to simply return all the data when `preferred_data_sources` is given. Does that work?

[2018-01-08 09:05] MikkoVihtakari commented on #656
@sckott Yes, that would be perfect!

[2018-01-19 18:35] fgabriel1891 opened #657 "Space required after the Public Identifier [65]"
Hi Scott,

I have come across this new following error using a personal function which calls taxize :

[code]

Debbuging I see that it relates to the `tax_name` part of the function. Does it have something to do with new ncbi database limits, I saw about it in other issues in taxize.

Any ideas? The code below. I have tried with different paths to articles, and the problem arises even with article

[2018-01-19 19:26] sckott commented on #657
thanks @fgabriel1891

in what function? is it `srapenames()` ?  if so, `tax_name` isn't called inside of `scrapenames`

can you share the `paths2frug` file so I can reproduce the problem?

[2018-01-20 00:01] #442 closed

[2018-01-20 00:02] sckott commented on #629
@miriamgrace are you still having trouble with this?

[2018-01-20 01:49] sckott commented on #656
@MikkoVihtakari can you reinstall `devtools::install_github("ropensci/taxize")` and try again

[2018-01-22 15:00] fgabriel1891 commented on #657
Hello @sckott, sorry I was not explicit enough. I have edited the issue.
I'm working on a custom function to help mine pairwise species-species interactions from literature. This function makes use of `scrapenames()` and `tax_name()` from taxize, I shared in the issue the part of the function that I see produces the error, specifically the `tax_name()` part. I was not getting this error in the pas

[2018-01-22 20:14] sckott commented on #657
@fgabriel1891 i can't exactly reproduce that error.

first thing is (and maybe you did this too but didn't show it) `tax_name` expects a character vector of taxonomic names - not a list or data.frame or anything else.

second, seems to work for me:

[code]

[code]

[code]

[code]

---

curious if you'r writing a paper that includes this work?  if so, very curious what the use case is

[2018-01-29 05:07] fgabriel1891 commented on #657
Thanks! @sckott, it was a problem with the input vector of names. Is working fine now.

Sorry the late reply, I'm not working 100% of my time on this, mostly on weekends.

Yes, I´m working on a method to optimize the search for specific pairwise interactions in published literature.

I presented a [poster](https://sites.google.com/view/fgabriel1891/publications) recently, making use of a previous

[2018-01-29 19:02] sckott commented on #657
Great, glad its working now.

That research sounds very cool.

[2018-01-29 19:02] #657 closed

[2018-01-30 12:44] MikkoVihtakari commented on #656
Thank you!

[2018-01-30 12:44] #656 closed

[2018-02-01 23:30] sckott opened #658 "switch pkg to use markdown docs"

[2018-02-01 23:35] #640 closed

[2018-02-01 23:43] #636 closed

[2018-02-02 00:00] sckott commented on #639
sorry for the delay on this @arendsee - looking at this now

[2018-02-02 00:11] zachary-foster commented on #639
Sorry @sckott, I did not notice this until now. I follow taxize so I see emails for every issue, so I dont always notice mentions. I will unfollow so I will notice mentions in the future. I will look at this tonight.

[2018-02-02 00:28] sckott commented on #639
no worries. was just looking at this, seems we have to do some gymnastics starting here https://github.com/ropensci/taxize/blob/master/R/ncbi_children.R#L70

[code]

those 3 ids are the ones we're looking for as children of 131567

maybe there's an easier way?

[2018-02-02 00:30] #635 closed

[2018-02-02 01:20] zachary-foster commented on #647
This looks promising, although it requires both the ID and name to work:

[code]

I looked up about half the IDs it returns and they were all bacterial phyla

[2018-02-02 01:38] zachary-foster commented on #647
Its not too fast, but it works:

[code]

Still need to make sure I did not break anything else.

[2018-02-02 01:43] zachary-foster commented on #647
@sckott, It looks like you had addresses this issue with the "ancestor" option?

https://github.com/ropensci/taxize/blob/b1e9c731cf987c0e737ffc82d244b1ecad0f236c/R/ncbi_children.R#L39-L45

Did that work? Or did it only work for names, and not IDs?

[2018-02-02 02:06] zachary-foster commented on #639
It seems that this is a bug in `classification.uid` to me. A classificaiton with just a root taxon is still a valid classification, so if  `classification.uid` returned just:

[code]

Then `ncbi_children` should work.  The XML for "131567" does have "<ParentTaxId>1</ParentTaxId>":

https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&id=131567

This would tell the taxon is directl

[2018-02-02 02:24] zachary-foster commented on #639
Making that change to `classification.uid` seemed to work:

[code]

And invalid IDs return nothing (is this what they should do?) as do taxa with no subtaxa

[2018-02-02 18:16] sckott commented on #647
@zachary-foster yeah, that's what the `ancestor` param was aiming to do

[2018-02-02 18:21] sckott commented on #639
closing, should be resolved by #659 - @arendsee let us know if not resolved

[2018-02-02 18:21] #639 closed

[2018-02-02 18:21] sckott commented on #647
closing, should be resolved by #659 - @arendsee let us know if not resolved

[2018-02-02 18:21] #647 closed

[2018-02-02 22:37] sckott commented on #644
bump @arendsee

[2018-02-02 22:39] sckott commented on #653
@arendsee  any further thoughts on

[2018-02-02 22:42] sckott commented on #630
closing since no response from user - we can reopen if you can provide the info I asked for above @GISKid

[2018-02-02 22:42] #630 closed

[2018-02-02 22:42] sckott commented on #646
done

[2018-02-02 22:42] #646 closed

[2018-02-02 22:44] #629 closed

[2018-02-03 02:36] arendsee commented on #639
@sckott @zachary-foster Everything looks awesome, good job!

[2018-02-03 05:44] arendsee commented on #644
@sckott Ah right. That *done by the end of the week* comment was totally wrong. I'll review the situation and get back with you later this weekend.

[2018-02-03 07:21] sckott commented on #639
About to submit milestone https://github.com/ropensci/taxize/milestone/30 to CRAN - a few buggy things in `children` working out first

[2018-02-03 18:27] arendsee commented on #639
@sckott I'm working on updating the tests in `taxizedb` that compare its results to `taxize`. I could post any discrepancies here, but since this issue is closed, and the specific problem was resolved, I should post these as new issues, no?

[2018-02-03 19:35] sckott commented on #644
thanks!

[2018-02-03 20:35] arendsee commented on #653
@sckott Nothing particularly new. `taxizedb` can distinguish ambiguous nodes and ambiguous species, e.g.

[code]

Adding the same arguments to `taxize` might be good. Although I am not sure whether the break from the existing API is worth the gain in control.

[2018-02-03 20:52] arendsee commented on #644
@sckott Have you worked at all with Guangchuang Yu? He wrote a package [tidytree](https://github.com/GuangchuangYu/tidytree) that represents trees in a nice tabular fashion (full disclosure, I'm a (very) minor contributor). I think this representation may be easier to work with than `phylo`. In my experience, programming with `phylo` is a nightmare.

I could update the `class2tree` with the functi

[2018-02-03 22:05] sckott commented on #644
sorta, he has a few submissions in ropensci onboarding.

That sounds good to move to the tidytree format.

[2018-02-03 22:09] arendsee opened #660 "Missing children of Bacteria"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

The `dev` version of `taxize` produces the following:

[code]

This is missing several taxa retrieved from `taxizedb`:

[code]

Which also matches the taxa on [NCBI taxonomy](https://www.ncbi.nlm.nih.gov/Taxonomy/CommonTree/wwwcmt.cgi)

[2018-02-03 22:53] sckott commented on #639
yeah, new issues i think

[2018-02-04 03:13] sckott commented on #660
i get the same thing, will look

[2018-02-05 19:52] jonmcalder opened #661 "Scope of taxonomies"
Is this package specifically limited to/focussed on natural science taxonomies, or could it in theory be expanded to include taxonomies in other areas?

[2018-02-05 22:57] sckott opened #662 "Pass user agent string in all requests"
to all APIs - may not be possible with all sources e.g.. those sources where we use a pkg that doesn't allow passing down this info

[code]

[2018-02-06 00:50] sckott commented on #662
in `taxize_ua` fxn now, in `zzz.R`

[2018-02-06 00:55] sckott commented on #661
👋 Thanks for your question.

It's focused on taxonomies of scientific names. To give an overview of the landscape here:

- `taxize` was the original thing in the family. it works with databases of biological taxonomy data with http requests
- [taxizedb](https://github.com/ropensci/taxizedb) - for working with SQL dumps of some of the data sources avail over web http requests in `taxize`
- [taxizes

[2018-02-06 07:20] jonmcalder commented on #661
Hi @sckott! Thanks for the prompt (and thorough!) feedback.

The kind of thing I had in mind would be global standards/taxonomies in the economic/legal space etc. An example of this would be the [**L**egal **E**ntity **I**identifier taxonomy](https://taxonomies.xbrl.org/taxonomy/14) which is now a freely available API [here](https://www.gleif.org/en/lei-data/gleif-lei-look-up-api/access-the-api#).

[2018-02-07 20:18] sckott commented on #661
definitely no harm in asking :) - We do focus on tools that have at least some application in academia, even if there's a lot of use outside of academia. So not just "science" per se, e.g., we have some pkgs in digital history.

Do you know if anyone uses the taxonomies you linked to for research at all?

[2018-02-07 20:31] jonmcalder commented on #661
I don't know of anyone at the moment - my (initial) research in this area is work related and thus commercial. Thanks for your openness in discussing the possibility though - I may be back in future depending on where my journey takes me 😄

[2018-02-07 20:31] #661 closed

[2018-02-07 21:46] sckott commented on #661
Sounds good. it'd be really cool if there was some way to represent/manipulate/work with/etc. taxonomies across disciplines - i guess lower level tools/R pkg that help represent taxonomies in an abstract sense might be possible - then other taxonomys specific R pkgs could build on that as needed

[2018-02-12 21:27] sckott opened #663 "Error in `get_tolid` - missing `att` object in one scenario inside the fxn"
e.g.,

[code]

[2018-02-12 21:40] sckott commented on #663
for anyone affected, install from a different branch until merged into master, like `devtools::install_github("ropensci/taxize@get_tolid-fix")`

[2018-02-15 21:45] arendsee opened #664 "Error messages when getting non-existing IDs"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

This command dies

[code]

where 9999999 is an ID not present in NCBI.  There are similar errors in `children` and `downstream`.

The error is raised from here:

[code]

Where I suspect the `parent_id` is a empty vector, thus the expression `parent_id != "1"` evaluates to `logical(0)` and everything explodes.

[2018-02-15 22:53] sckott commented on #664
😠 will have a look

[2018-02-15 23:29] sckott commented on #664
thoguhts https://github.com/ropensci/taxize/blob/master/R/classification.R#L342

when that line gives back zero length or null, then we assign `""` so hopefully the next line should always work

[2018-02-16 02:48] arendsee commented on #664
Now I am getting

[code]

[2018-02-16 03:24] sckott commented on #664
try now?

[2018-02-16 03:31] arendsee commented on #664
Yep! That works

[2018-02-16 03:46] #664 closed

[2018-02-17 21:22] albnd opened #665 "Incomplete Red List history using iucn_summary_id"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

The `iucn_summary_id()` function does not return the full Red List history.

Example (from the help vignette)
[code]
[code]

This taxon relates to _Panthera uncia_, which has also been assessed in 2008 (http://www.iucnredlist.org/details/full/22732/0), but the 2008 assessment doesn't appear.

[2018-02-19 01:05] sckott commented on #665
thanks, i'll take a look

[2018-02-21 00:08] sckott commented on #665
@albnd have you seen the `iucn_summary` function?  it's replacing the `iucn_summary_id` function - we'll remove `iucn_summary_id` in the next version of this pkg most likely

it gives me:

[code]

[code]

including 2008 and 2017

----

have you seen the `rredlist` package?  we use it internally in `taxize`. which gives:

[code]

[code]

so the same data :)

[2018-02-21 16:47] afkoeppel opened #666 "error retrieving species from genbank IDs in bulk"
Hello,

I'm attempting to use taxize to get the taxonomy (specifically species) from a large number of genbank IDs generated from a BLAST search.  The package seems to be working well for individual genbank IDs, but when I try to scale up to the complete list things appear to be breaking down.

My first attempt used purr:map to try to get the species assignments, but I thought the problem might be

[2018-02-21 18:25] sckott opened #667 "NCBI Sys.sleep limitingn to 3 requests per sec"
Should only apply to requests without API keys - BUT a user could pass in anything that isn't an approved API key, so it's not as simple as just skipping the sys.sleep if a key is passed in.

We still use this sys.sleep across I think most of the NCBI functions in the pkg, so even if a user has an API key they are allowed a higher rate limit.

I guess we just skip the sys.sleep if a key is passed

[2018-02-21 20:59] #667 closed

[2018-02-21 21:02] sckott commented on #666
thanks for this @afkoeppel !

First, package version. I did send a new version of `taxize` to cran two weeks ago, but they have not accepted it yet. You can in general get dev versions like `remotes::install_github("ropensci/taxize")` or `install.packages("taxize", repos = "http://packages.ropensci.org")` - That new version `>= v0.9.2` has new features of integrating your NCBI API key. This is a n

[2018-02-22 09:21] #665 closed, assigned to nobody

[2018-02-22 14:42] afkoeppel commented on #666
Thanks so much.  I installed the new version from github.  I can pass the key to my genbank2uid() call , but my classification() call is throwing a warning about a lack of key, even though I provided it with the same API key:
No ENTREZ API key provided
See https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/

The docs for genbank2uid() describe a key=NULL argument for

[2018-02-22 15:18] sckott commented on #666
See this bit in the docs https://github.com/ropensci/taxize/blob/master/R/getkey.R#L14-L36

We recommend storing your keys as environment variables so you don't have to pass them in to each function call.

`classification` and a few similar functions are a bit complicated as they call other functions from the pkg within them, so I felt that users can just store keys as env vars or R options and th

[2018-03-16 09:51] git-og opened #669 "Data source failing to respond - IUCN (81)"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Using the IUCN datasource (81) results in a blank table. The same occurs when using ```preferred_data_sources```, and when the key is specified by ```options(iucn_redlist_key="KEYHERE")``` rather than in the function. Specifying the datasource works correctly for e.g. ```1```, the Catalogue of Life.

The API key used wo

[2018-03-16 17:52] sckott commented on #669
thx for opening the issue @git-og !

What do you mean by a blank table? And what is 81 referring to?

The same as what?

It's unclear what function you're talking about. Is this question about `gnr_resolve`? or some other function?

[2018-03-16 18:28] paternogbc opened #670 "Error with tax_name(db = "ncbi") and : "API key invalid""
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi all, thanks for developing such a nice R package!
I am getting an error when trying to run the function `tax_name()`. A reproducible example below.

[code]
Any suggestions?
Many thanks in advance

[2018-03-16 18:45] sckott commented on #670
@paternogbc thanks for this

can you reinstall/restart R and try again, just merged a related pull request.

[2018-03-16 18:51] paternogbc commented on #670
Awesome @sckott! Just re-Installed dev version from Github. Working fine now!
Thanks for the quick reply!
[code]

[2018-03-16 18:55] sckott commented on #670
great.

you should go get an ENTREZ API key when you get a chance

[2018-03-16 18:59] paternogbc commented on #670
Just read about this! Registering right now!
Cheers!

[2018-03-16 19:07] #670 closed

[2018-03-16 22:45] git-og commented on #669
Sorry to be unclear - the full replicable code is in the code chunk below
the text in the original post, along with the verbose output. Yes, this is
in about gnr_resolve().

81 is the data source ID for the IUCN as listed by the gnr_datasources()
function.

In my case the blank table is a 0x0 tibble as I use the tidyverse packages.
By "the same occurs" I mean no results are returned in any of thos

[2018-03-17 23:58] sckott opened #671 "`classification()` idea: try next higher level query to get hierarchy"
e.g.,

[code]

but if we try the genus

[code]

then we could just fill in a row for the species name (or whatever rank it is but with an umknown (`NA`) taxonomic ID

[2018-03-18 20:04] sckott commented on #671
sort of hesitant to build it into the function as it would introduce more complexity to an already complex function

[2018-03-18 20:11] sckott commented on #671
e.g.,

[code]

[code]

[2018-03-20 00:15] #663 closed

[2018-03-20 00:29] sckott commented on #669
thanks @git-og

looks like you were using the row number instead of the data source number itself.

[code]

so the `id` number is the thing you want, not the row number.

if we use `163` i think we get what you want?

[code]

[2018-03-20 00:31] #666 closed

[2018-03-20 01:02] sckott commented on #644
@arendsee any thoughts on your above statement?

[2018-03-20 01:05] sckott commented on #653
bumping this to next milestone

[2018-03-20 01:19] sckott commented on #660
@arendsee

so this is the http request made

https://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?dbfrom=taxonomy&db=taxonomy&id=2&term=Bacteria%5BNext%20Level%5D&RetMax=1000&RetStart=0&api_key=useyourkey

wonder if ther's anything in that request that strikes you as off, sometyhing we could change that would bring it in line with what `taxizedb` gives

[2018-03-20 01:27] sckott commented on #660
also @zachary-foster or @dwinter  maybe you have a sense for why results are different from ENTREZ API vs. a dump of their database?

one think that I wonder about is the version of the database that ENTREZ is using could differ from what any user has on their disk if using `taxizedb` - one thing to note in docs somewhere at least

[2018-03-20 02:28] dwinter commented on #660
Hmm... not something I know much about but I don't think it's an issue of versions. [The browser is 'live', the FTP dumps are updated hourly and the eUtils databse is updated daily](https://www.ncbi.nlm.nih.gov/books/NBK53758/).

I would guess there is some trick in what exactly what to sent to elink. Using `esearch` instead of `elink`  there is the special term `NXLV` for immediate descendants. T

[2018-03-20 02:38] git-og commented on #669
You're right! Embarrassing. ....! Thanks for the help, and thanks for a
great tool.

On 20 Mar 2018 07:30, "Scott Chamberlain" <notifications@github.com> wrote:

[2018-03-20 04:22] sckott commented on #669
glad it works!

[2018-03-20 04:22] #669 closed

[2018-03-20 05:14] arendsee commented on #660
@sckott Hmm, nothing about the request seems off to me. Some of the missing phyla are fairly new, see https://www.ncbi.nlm.nih.gov/pubmed/27287844. I wonder if there is some something screwy on the Entrez side? Stale cached values for children ("Next Level"), perhaps?

[2018-03-20 05:24] zachary-foster commented on #660
I am not sure either. Perhaps the `term=Bacteria[Next Level]` is filtering out some things that are associated with taxon ID 2, but not with "Bacteria" for some reason. Ideally, the `term` argument would not be needed, since we just want to child IDs for ID 2, regardless of the "term", but we never we able to get ENTREZ to do that.

[2018-03-20 17:24] zachary-foster commented on #660
By the way, the title of this issue sounds like an interesting science fiction novel.

[2018-03-21 02:01] sckott opened #673 "`gbif_downstream()` and `downstream()` failing on some keys"
e.g. `2925668` for the genus `Myosotis`

[code]

it's because some of the results don't have a `canonicalName` entry, so it fails as we try to grab that field. just safely grab that field and/or use a different field if that one doesn't exist

[2018-03-21 02:17] #673 closed

[2018-03-21 22:50] sckott commented on #660
thanks @dwinter @arendsee @zachary-foster

@dwinter your approach might work, though i'm not sure how we'd programmatically filter out to get only the direct children. i guess we can consult our iternal data.frame of ranks and their orders and only pick the direct descendant rank from the one queried? thoughts folks?

[2018-03-22 21:00] zachary-foster opened #674 "as.uid error when using taxon IDs"
This is from the examples in `as.uid`:

[code]

[2018-03-23 13:43] #674 closed

[2018-03-28 06:03] vijaybarve opened #676 "Error in fxn synonyms with particular name"
The function works for 100s of names but throws error with particular name
[code]
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-03-28 14:03] vijaybarve commented on #676
One more name produced same error.
Quercus robur

[2018-03-28 23:05] sckott opened #677 "Leipzig System (LPZ)"
see email

[2018-03-28 23:21] sckott commented on #676
thanks @vijaybarve  - is a bug, but its failing COL API - I've emailed them - hopefully will get a response soon

[2018-03-30 23:30] zachary-foster opened #678 "Batch downloads in `classification`"
Hi @sckott,

I was looking through the code for the `classification` functions to see if it would be  any slower to pass values to them one at a time (to make a progress bar work), and I noticed that all seem to query databases one ID at a time, like so:

https://github.com/ropensci/taxize/blob/d23f2324a8d71806178a2ab55d4c4b73452aab89/R/classification.R#L296-L314

So it would not be slower to call

[2018-03-31 00:40] sckott commented on #678
🤔 maybe.

(the fastest thing may be to use `taxizedb` - but that's only for certain data sources - and requires setup locally which may not work on all machines - and we're still trying to work out differences between `taxize` and `taxizedb` for ncbi at least)

back to the issue at hand: (🚫 no  ----  ✔️ yes)

- bold: 🚫
- col: 🚫
- gbif: 🚫
- eol:  🚫
- iucn:  🚫
- natserv: ✔️
- nbn: 🚫
- tol: 🚫 (the `r

[2018-03-31 02:59] zachary-foster commented on #678
Thanks for all that info! Ahh yes, I always forget about taxizedb. I have not used it, but I should look into it. Maybe there is some potential for adding a database option like "taxizedb-ncbi" to the taxa parsers that will look for a current install of taxizedb and use that.

I am surprised so many DBs dont allow for multiple queries. Oh well. Would you be interested in a PR to allow batch downlo

[2018-03-31 04:45] sckott commented on #678
Yeah, sounds good

[2018-04-06 10:36] edwbaker opened #679 "rank="" not being applied in get_colid"
`get_colid("Poecilimon jonicus", rank="species")`

This returns several taxa that are not at the rank of species (e.g. infraspecies) which does not seem to be the expected behaviour.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-04-06 10:45] edwbaker commented on #679
Oh ok, it works with the regex rank="^species$". But this doesn't seem the most intuitive way of dealing with this.

[2018-04-06 16:54] sckott commented on #679
Thanks for the issue.

Don't know if you saw the docs for this, it's under the section `Filtering` in the `get_colid` docs. We can't filter by rank with COL (their webservice doesn't allow it) so we have to do it in R after the data is retrieved. I thought the most flexible solution was to allow regex filtering.  We could force`^word$` (where `word` is the rank passed in by the user) but then I im

[2018-04-11 07:10] rec3141 opened #680 "error during classification(...,db="bold") of Phyla-level taxa"
I guess it's because it can't find a parent taxon?

[code]

[2018-04-11 21:14] sckott commented on #680
can you please share your `sessionInfo()`

[2018-04-11 21:40] sckott commented on #680
can you reinstall and try again

[2018-04-11 22:31] rec3141 commented on #680
works! thanks so much

[2018-04-11 22:31] #680 closed

[2018-04-24 21:14] sckott commented on #679
Do you think regex is too hard? That is, you can get an exact match with `^word$`

[2018-05-09 09:01] DarrenObbard opened #681 "Specify and API key for ncbi"
Hi,

How do I specify my API key for ncbi?

tax_name(query = "Abalone herpesvirus Victoria/AUS/2009", get = "species", db = "ncbi")

I cannot find this in the manual, and when I try specifying it with key="<mykeystring>" I still get the error that no key was provided.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-05-09 18:43] sckott commented on #681
thanks for your question @DarrenObbard

see `?taxize-authentication` for help on authentication. Since there can sometimes be many layers of function calls, e.g., `tax_name` with ncbi data source calls `get_uid` and `classification` under the hood, so I think you'll find it easier in the end if you set your NCBI key as an environment variable that's set permanently. The `?taxize-authentication` ma

[2018-05-10 06:08] DarrenObbard commented on #681
Thanks, I now have it working. Can I make some suggestions for the help? First, the fact that ?"taxize-authentication" takes you to a function called getKey() is confusing, since the purpose of getKey() is not explained. This part of the manual (which I'd already found) contains the information, but it seems to be suggesting that this use is in the context of getKey() - which was a function I had

[2018-05-10 06:08] #681 closed

[2018-05-10 16:43] sckott opened #682 "move taxize-authentication info to its own man file targeting users"
and leave getkey as an intenral pkg facing thing

and more info on why setting an env var is the best route

[2018-05-21 12:18] katrinleinweber opened #683 "Opinions on including DSMZ's PNU & BacDive?"
The German Collection of Microorganisms and Cell Cultures (DSMZ) has a web service called "[Prokaryotic Nomenclature up-to-date](https://www.dsmz.de/bacterial-diversity/prokaryotic-nomenclature-up-to-date.html)":

Would that we be a relevant data source to add?

PS: Related to [BacDiveR/#34](https://github.com/TIBHannover/BacDiveR/issues/34) because that's about another DSMZ web service. Same ques

[2018-05-25 00:43] sckott commented on #683
thanks for the issue @katrinleinweber

I'm not familiar with DSMZ but does look interesting. I'll have a look. @zachary-foster are you familiar with DSMZ at all? any thoughts?

[2018-05-29 17:37] toczydlowski opened #684 "tnrs() ; calling specific iPlant database?"
Hello,

I am using tnrs() to match and standardize species names across vegetation surveys, trait databases, phylogenetic trees, etc.  I am calling iPlant as the source, but iPlant itself calls multiple databases.  Is there a way to specify one of the iPlant databases (e.g. USDA) or rank the preference of the databases that iPlant uses?

If you run iPlant interactively online, you can rank the ord

[2018-05-29 17:41] sckott commented on #684
thanks for your question @toczydlowski !

Are you looking just for an iplant TNRS interface? If so, we do have a `iplant_resolve` function. Or is `tnrs` the function you definitely want?

[2018-05-29 17:47] toczydlowski commented on #684
I think we need tnrs.  We want non-interactive, reproducible, handling of mis-spellings, and a final table that has the original submitted name, the final name (and if it is accepted or not), and the source that the final name came from.  Does that help to clarify?

[2018-06-06 18:55] pederengelstad opened #685 "synonyms() function row error"
I'm encountering this error running the synonyms() function on certain TSNs from ITIS. Was curious if this was a known issue.

[code]

<details> <summary><strong>
</strong></summary>

Session info --------------------------------------------------------------------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.4 (2

[2018-06-06 21:08] sckott commented on #684
Sort of. There's a variety of data sources. The `tnrs` function uses the service at http://www.taxosaurus.org/ and `iplant_resolve` uses http://tnrs.iplantcollaborative.org/ - Does either one work for you?

[2018-06-06 21:44] sckott commented on #685
thanks for this issue @pederengelstad having a look

[2018-06-06 22:13] toczydlowski commented on #684
No, neither currently works for us.  We need to be able to specify a specific database **within** iPlant (preferably from `tnrs` as opposed to `iplant_resolve`).  If you use iPlant from the online interface, you will see you can rank the 6 databases that iPlant draws on.  The default top ranked database online and in `tnrs` is Tropicos, so `tnrs`returns almost all Tropicos names.  We want `tnrs` t

[2018-06-06 22:19] toczydlowski commented on #684
![screen shot 2018-06-06 at 5 17 06 pm](https://user-images.githubusercontent.com/23200404/41068089-a3eaa3b8-69ad-11e8-97f8-33bfaa0f74a6.png)

[2018-06-06 22:59] sckott commented on #684
thanks for the clarifiation.

Neither `tnrs` nor `iplant_resolve` allow setting the iplant data source to use. It's not this package - but rather the API's we use from tnrs and iplant projects don't allow it.

Another approach is using global names via `taxize::gnr_resolve`, e.g. USA is data source id 150 in global names

[code]

------

p.s. i also maintain an API for USDA plants database https:/

[2018-06-06 23:10] toczydlowski commented on #684
Ahhh.  Ok.  Thanks for the scoop.  I'll try the `gnr_resolve` option.  Does iPlant online returning more results than `iplant_resolve` also have to do with the API issue (screen shots above)?

[2018-06-07 00:10] sckott commented on #685
@pederengelstad can you try again after reinstalling from github `remotes::install_github("ropensci/taxize")`

[2018-06-07 00:14] sckott commented on #684
I think so.  @ojalaquellueva I can't remember, does the iplant website not use the API? see comment above https://github.com/ropensci/taxize/issues/684#issuecomment-395232190

I think it doesn't

[2018-06-07 04:28] pederengelstad commented on #685
Gave it a run. The data looks good but any of the autocompletes in taxize are now generating another error:

Error in fetch(key) :
  lazy-load database '~/win-library/3.4/taxize/help/taxize.rdb' is corrupt

Tried deleting and reinstalling github version but the error persisted.

[2018-06-07 04:43] sckott commented on #685
Try restarting the R session
On Wed, Jun 6, 2018 at 21:28 pederengelstad <notifications@github.com>
wrote:

[2018-06-07 14:03] pederengelstad commented on #685
Ah yes, thank you. Everything looks good on my end. Much appreciated!

[2018-06-07 14:03] #685 closed

[2018-06-08 21:34] eregenyi opened #686 "tax_name() rows argument"
Hi all!

I am trying to retrieve taxonomic information for a set of bacterial genera, using tax_name(). "Bacillus" occurs quite frequently, and it returns 2 hits, of which the second is the bacteria, I want.

When trying to automate retrieval using the rows = 2 argument, I am still being queried, which requires me to stick around while the code is running.

Did someone have the same issue? How cou

[2018-06-08 23:09] #686 closed

[2018-06-08 23:10] sckott commented on #686
@eregenyi thx for the report!  install from github and try again `remotes::install_github("ropensci/taxize")`

[2018-06-12 17:09] ojalaquellueva commented on #684
Unfortunately the TNRS API has only a subset of the functionality of the online UI. You cannot specify a particular database and it does not allow you to reorder the sources. Basically the API was tacked onto the UI as an afterthought, an unfortunate blunder in my opinion. IPlant should have built a full-featured API first, then built the UI on top of it. On the positive side, I've begun working w

[2018-06-12 17:18] toczydlowski commented on #684
Thanks for the update!  That's helpful info, and glad to hear a fully functional API is in the works.  Onwards.

[2018-06-13 13:10] MK212 opened #687 "Error when querying ITIS with gnr_resolve"
Hi. I've started to get this error when using gnr_resolve to query ITIS:

    Error: lexical error: invalid char in json text.
                                       <!DOCTYPE html> <html> <head>
                     (right here) ------^

I've been using gnr_resolve for weeks with no problem, but now I'm getting this error, even for species lists that I successfully ran through the function before

[2018-06-13 15:38] sckott commented on #687
I think it was just temporarily down. Can you try it again now.

[2018-06-13 16:06] MK212 commented on #687
I'm still getting the error unfortunately. What's weird is that for some species lists that I've run before it works fine, but for others that I've run before it now throws this error.

[2018-06-13 16:07] sckott commented on #687
okay. Can you share code that produces the error please

[2018-06-13 16:35] MK212 commented on #687
Sure.

[species_list.txt](https://github.com/ropensci/taxize/files/2099045/species_list.txt)

    species_list <- read_tsv("Data/species_list.txt")

    results <- gnr_resolve(names = species_list$species, data_source_ids = 3, with_context = TRUE, best_match_only = TRUE, fields = "all")

This is a species list that I ran before with no problem but which is now producing the error. Thanks.

[2018-06-13 17:05] sckott commented on #687
@MK212 can you try again after reinstalling `remotes::install_github("ropensci/taxize")` - i think it was just that global names recently switched to https, and we weren't following redirects. Base url now switched to https

[2018-06-13 17:21] MK212 commented on #687
Yes, great, all seems to be working normally again! Thanks a lot for helping so quickly!

[2018-06-13 17:35] #687 closed

[2018-06-14 22:45] sckott commented on #683
hi @katrinleinweber i've registered and waiting on approval, but i think at first glance it's probably worth incorporating here.

[2018-06-14 22:48] zachary-foster commented on #683
Hi @sckott, sorry didnt see this until now. Nope, I dont know anything about it unfortunately.

[2018-06-21 13:27] DoumCHAMBERS commented on #562
Is that a script that download all the scientific names (taxonIDs, taxonomic hierachy, parentID, Rank, etc?) (Accepted and synonyms). 215 347 names accordings to GBIF.

[2018-06-21 13:47] sckott commented on #562
@DoumCHAMBERS is that a question for @wcornwell   ?

[2018-06-21 14:04] DoumCHAMBERS commented on #562
Both of you. @sckott @wcornwell

[2018-06-21 14:17] DoumCHAMBERS commented on #562
I'm looking to a script that I can download all the scientif names including synonyms, taxonIDs, taxonomic level, etc. of the Index Fungorum website.
I'm building a list of species (checklist) in my region of interest with the help of a local Mycologist.

[2018-06-22 02:47] wcornwell commented on #562
Hi @DoumCHAMBERS,

long time ago, but I *think* it's only accepted names according to Index Fungorum.  IF API might have changed in the last two years, so no guarantee it's still working..

[2018-06-22 12:40] DoumCHAMBERS commented on #562
Thanks @wcornwell ! I ran the script yesterday and worked perfectly. I haven't touch R since my master degree in 2010... wooo. Happy that everthing worked well.... Thank you very much @wcornwell @sckott for your generousity. Greatly appreciated.

[2018-06-26 16:16] eregenyi opened #688 "lowest_common"
Hi,

I am using lowest_common(), and for
`lowest_common(c("Staphylococcus", "Mycoplasma", "Clostridium", "Helicobacter"))`
I get

Whereas for
`lowest_common(c("Staphylococcus", "Mycoplasma", "Clostridium"))`

My problem is with the rank. Terrabacteria has no-rank according to ncbi's taxonomy browser, but is above superkingdom (above Bacteria). I also get "no rank" ranks, so that should not be an i

[2018-06-26 17:11] sckott commented on #688
thanks for the report @eregenyi

Can you share your `sessionInfo()` and state what you expect to get for each of those examples?

[2018-06-26 20:42] eregenyi commented on #688
Yes, of course. I would have expected a "no rank" in return for the Terrabacteria group. But now I realize that in the taxonomic hierarchy  "below" means more specific, while "above" means more general, so even if I expected other output, it makes sense.

Thank you for your kind answer!

My session info is (in any case):

R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Runni

[2018-06-27 19:38] sckott commented on #688
thanks, will have a look

[2018-07-10 07:53] gpli opened #689 "class2tree generates wrong classification table for organisms with unique rank lower than non-unique ranks"
An example goes below
[code]

[2018-07-11 18:32] maelle opened #691 "Easier setup?"
I've had a look at https://ropensci.github.io/taxize-book/authentication.html

I'd like to offer to write functions for these packages à la `usethis` that would

* browse to the webpage where one needs to register (mostly because I am lazy and don't like to copy-paste URLs 👼 )

* print to screen instructions about where to store the key (and mentioning `usethis::edit_r_environ`).

Would you packag

[2018-07-11 21:11] sckott commented on #691
👋 thanks for this. Yeah, would be nice to have some helper to go to where to get a key, and info on how to store it.

[2018-07-12 11:29] maelle opened #692 "Why having a docs/ folder?"
I see a docs/ folder but it is not up-to-date, and the URL given in the repo description is the gitbook. 😺

[2018-07-12 12:17] maelle commented on #692
Similarly in the README I :eyes:

Is it really the documentation you want users to read first, not the book?

[2018-07-12 15:33] sckott commented on #692
ah, i guess i forgot about that. I want the book only - so I'll delete the docs folder

[2018-07-12 18:56] maelle commented on #682
Very good points 😸

[2018-07-12 19:09] sckott commented on #689
thanks for this @gpli

[2018-07-13 14:53] arw36 opened #695 "International Committee on Taxonomy of Viruses"
There are [downloadedable species list](https://talk.ictvonline.org/files/master-species-lists/), [historical taxonomies](https://talk.ictvonline.org/taxonomy/), and [open reports](https://talk.ictvonline.org/ictv-reports/). No current API. I think @noamross has ideas on ways to make into package, but may be more appropriate to include here.

[2018-07-13 15:04] noamross commented on #695
Yes, this is the project for which I was asking about [time-versioned taxonomies over in the taxa repo](https://github.com/ropensci/taxa/issues/136).  ICTV has no API and doesn't deliver the data in bulk, but I have a scraper that uses the website's internal API.  They have a generous `robots.txt` and all the non-data text is CC-BY-SA 4.0.   Probably the thing to do would be to set up a bulk data

[2018-07-13 17:29] sckott commented on #695
thanks @arw36 and @noamross

For bulk data, tabular is of course easy to work with, but we can also parse json or xml here if needed.

[2018-07-13 21:49] sckott commented on #676
still no response on this. i've emailed someone else there, so hopefully will get a response soon

[2018-07-13 21:53] sckott commented on #688
@eregenyi okay, so it sounds like everything's okay here?  i'll close, but happy to reopen if you still have issues to be sorted out

[2018-07-13 21:53] #688 closed

[2018-07-16 07:00] cparsania opened #696 "ENTREZ API key required"
I was going through the tutorial of taxsize and hit the first command `children("Salmo", db = 'ncbi') `.  I got the output with some additional lines which haven't been given in the tutorial. Output is as given here.  I wonder is this because NCBI API key policy changed after May 1st 2018 or  should I just ignore and proceed ahead.

[code]

<details> <summary><strong>Session Info</strong></summary

[2018-07-16 07:34] cparsania commented on #696
[code]

[2018-07-16 09:44] maelle opened #697 "Suggestions for the taxize suite"
# Add a note about taxize in the packages it imports

I.e. similarly to the note about `spocc` in `rebird` docs, have a note about `taxize` in the docs of `rredlist` and co? In the README and vignette probably (since the README isn't accessible locally)? The note could also say what functionality of `rredlist` for instance are not available in `taxize`, if relevant.

# Add the "taxize" repo topic

[2018-07-16 19:12] #689 closed

[2018-07-16 19:13] #691 closed

[2018-07-16 19:14] #682 closed

[2018-07-16 19:29] sckott commented on #697
1. would it be easier to just have a section in the taxize book about this? or do you think should also be in readmes/vignettes?
2. good point. ✔️ we should do that

[2018-07-16 19:32] sckott opened #698 "bug in `downstream()`/`ncbi_downstream()`/`ncbi_children()`"
pointed out via #696

[code]

i guess due to change in NCBI API

[2018-07-16 19:35] sckott commented on #696
thanks for the issue @cparsania

I've opened an issue for that error in `downstream` https://github.com/ropensci/taxize/issues/698 thanks for that.

for the API key warning, yes, there has been a change in NCBI API - They require an API key now if you want faster access. So I strongly encourage you to use an API key.  If you reinstlal from github, restart R, see `?key_helpers` that @maelle just ad

[2018-07-16 19:35] maelle commented on #697
yes, well at least a link to the book should be in all relevant READMEs/vignettes. 😉

Should it go on my or your to-do list? 😸

[2018-07-16 20:57] #698 closed

[2018-07-16 20:58] sckott commented on #696
@cparsania  #698 fixed if you reinstall

[2018-07-16 21:01] sckott commented on #697
I can do the topics

[2018-07-17 00:51] cparsania commented on #696
Bingo !! Works perfectly fine.

[2018-07-17 16:45] #696 closed

[2018-07-18 20:51] gpli opened #699 "'class2tree' error for taxon names with '#'"
An example:
[code]

[2018-07-18 20:54] sckott commented on #699
session info?

[2018-07-18 20:56] sckott commented on #699
specifically, are you talking about those warnings?  or the fact that the names in the output phylo object have dropped the `#`? or something else?

[2018-07-18 21:22] gpli commented on #699
@sckott names are changed in the output, which is the problem. I've submit a PR to fix the bug.

[2018-07-19 17:48] sckott commented on #699
thanks for this and the PR @gpli

[2018-07-19 18:05] #699 closed

[2018-07-19 18:07] sckott commented on #679
closing - we can reopen if you'd like to keep discussion going

[2018-07-19 18:07] #679 closed

[2018-07-19 18:07] sckott commented on #684
closing for now

[2018-07-19 18:07] #684 closed

[2018-07-19 18:12] sckott commented on #644
closing due to long inactivity - please reopen though if anyone wants to address this

[2018-07-19 18:12] #644 closed

[2018-07-19 18:14] #177 closed

[2018-07-19 18:14] #279 closed, assigned to nobody

[2018-07-26 16:08] sckott opened #701 "get_eolid: bug when no results found"
[code]

seems like an error when no results found

[2018-07-26 16:16] sckott opened #702 "Add pageid as an attribute in the output of get_eolid"
via https://github.com/ropensci/traits/issues/109

to make it easier for users to extract downstream

[2018-07-26 17:10] sckott commented on #230
From what I've heard Theplantlist I think is being replaced by http://powo.science.kew.org/, which does have an API, though is undocumented. see open issue https://github.com/ropensci/taxize/issues/598

So probably not worth doing an API for Theplantlist especially if they haven't given me the ok

[2018-08-08 15:52] maelle opened #703 "Rate limiting"
Does `taxize` implement any rate limiting?

I see that it does for `get_uid` when there is no ENTREZ API key (https://github.com/ropensci/taxize/blob/d23f2324a8d71806178a2ab55d4c4b73452aab89/R/get_uid.R#L183) but I don't see it does when there is one?

And what about `classification` for `uid` objects for instance? I'm unsure whether I have to implement rate limiting myself, and if I do, where to

[2018-08-08 17:43] maelle commented on #703
No I wanted to prevent that and present best practice in my post 😇 so the answer is that it's all handled by the API / package, right? For this workflow using 2 functions only

[2018-08-08 17:48] sckott commented on #703
Yes, it should all be handled by the package, but I can't say for sure, there's always edge cases as you. know

[2018-08-08 18:31] maelle commented on #703
Ok will close this if I don't encounter any

[2018-08-09 07:18] maelle commented on #703
It worked perfectly, thanks!

[code]

There were 212 species.

[2018-08-09 07:18] #703 closed

[2018-08-30 19:39] vijaybarve opened #704 "Warning in fxn synonyms"
[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-09-06 21:43] sckott commented on #704
thanks for the issue @vijaybarve - on vacation now, will respond mid next week

[2018-09-14 19:21] #704 closed

[2018-10-12 17:15] Alanocallaghan commented on #658
Can you elaborate on this a bit @sckott ?

[2018-10-12 17:21] jarioksa commented on #658
Yeah, I'm baffled, too. **rmarkdown** is a tool: why should you change the final product (docs) just to use another tool for a similar result?

[2018-10-12 17:40] Rekyt commented on #658
I think that @sckott means to change the documentation that is generated by `roxygen2` to use markdown format (see more about it [in this vignette of `roxygen2`](https://cran.r-project.org/web/packages/roxygen2/vignettes/markdown.html))

[2018-10-12 18:21] sckott commented on #658
yes, to use markdown formatting instead of latex. i think it's easier for everyone to contribute when it's markdown. in addition, it usually takes up less characters so it's easier less text.  I'm not sure i see a downside other than the work that goes into it.

the only caveat is markdown doesn't work in templates AFAIK https://github.com/ropensci/taxize/tree/master/man-roxygen

@Alanocallaghan i

[2018-10-14 11:28] Alanocallaghan commented on #658
You mean to change the roxygen docs to use Markdown formatting ("\`id\`") instead of latex ("\code{id}")?

[2018-10-14 14:16] yhg926 opened #706 "some children taxonomies can not be retrieved"
Hi, I can not get the children taxonomies when using id = 46170, though it works when i use other id
could you help me?
here is my R code:
library("taxize")
library('myTAI')
children(46170,db='ncbi')

##R output####
$`46170`
[1] childtaxa_id   childtaxa_name childtaxa_rank
<0 rows> (or 0-length row.names)

attr(,"class")
[1] "children"
attr(,"db")
[1] "ncbi"

<details> <summary><strong>Session Inf

[2018-10-14 22:55] fozy81 commented on #544
I've download [Species Plantarum](https://en.wikipedia.org/wiki/Species_Plantarum) binomials dataset as interesting starting place to write a vignette for resolving names. How does this look? Any suggestions or functions to document?   :smile:

[2018-10-15 17:42] sckott commented on #658
@Alanocallaghan  Yes, that's one example.

[2018-10-16 09:55] Rekyt opened #708 "iucn_summary does not return iucn objects when species are not found"
Hi @sckott,
I'm using `taxize` to programmatically extract IUCN statuses for many species.
With 100s of species I do a first pass with the names I have with `iucn_summary()` then `iucn_status()` to extract the most recent status.
In this list, some species have not been found. Mostly due to synonymy problems, thus I take all the species with no known status and put them in `rredlist::rl_synonyms()

[2018-10-16 11:20] EDiLD commented on #708
You could exclude those with NAs before passing to iucn_status() or wrap into try() / tryCatch() to fail gracefully.

Am 16. Okt. 2018, 11:55, um 11:55, "Matthias Grenié" <notifications@github.com> schrieb:

[2018-10-16 14:19] Alanocallaghan commented on #658
Alrighty, I'll try to get that done asap. Thanks for clarifying.

[2018-10-16 16:09] sckott commented on #658
@Alanocallaghan thanks. i'd suggest doing a one or a few files in a small pull request instead of trying for all of them in 1 PR - and go from there if the first one goes well

[2018-10-16 18:19] sckott commented on #544
thanks @fozy81 having a look

[2018-10-16 22:38] sckott commented on #706
thanks for your question @yhg926

reinstall and try again. we now set internally `ncbi_children(ambiguous = TRUE)` to include the taxa with rank status like `no rank` and similar - all the children of 46170 had `no rank` rank status

[2018-10-16 22:50] sckott commented on #708
thanks @Rekyt !

[2018-10-16 22:51] sckott commented on #708
good idea @EDiLD - though having a look at it I think we can make some fixes, just a minute

[2018-10-16 22:55] sckott commented on #708
@Rekyt reinstall and try again

[2018-10-22 16:13] taddallas commented on #701
It appears the issue stems from `tmp` not being all NA, which is the logical that makes `mm <- FALSE`. I don't know if this is the best way to address the issue, but I added a line to define `mm` when the `sciname` is not found on eol. Since this is a one line change, you can change it on your side, or accept the pr (#709) if it doesn't have any unforeseen effects.

[2018-10-22 18:20] sckott commented on #701
thanks

[2018-10-30 07:15] gpli opened #710 "get_tolid rbindlist error"
[code]
As the error message above, rbindlist is unable to deal with NULL values([data.table issue](https://github.com/Rdatatable/data.table/issues/1871)).
I'm submitting a PR, which maybe a temporary solution.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-10-30 16:55] sckott commented on #710
thanks

[2018-11-01 16:26] sckott opened #712 "id2name function?"

[2018-11-07 22:42] sckott opened #713 "downstream: try to add worms as an option"

[2018-11-07 22:42] sckott commented on #713
via https://twitter.com/tomjwebb/status/1060273580490002433

[2018-11-08 00:20] sckott commented on #712
if you want to test it:

[code]

[2018-11-08 15:10] sckott commented on #713
[code]

[2018-11-14 20:39] ArielGreiner opened #714 "col_downstream - remove extinct species"
I want to use col_downstream to determine the # of extant orders/family/genera within a few specific classes - is there a way that I can tell col_downstream that I want to restrict the results to extant species? I've noticed that it gives extinct taxa as well.

Is there another function that you can suggest? Or another way to get at the information I'm after? I'm interested in knowing this informa

[2018-11-15 01:19] sckott commented on #714
thanks for your question @ArielGreiner

can you give me some example queries that lead to results with extinct species and/or examples of extinct species

For COL we are pretty limited in our options. They provide very little user inputs to query on, so we're mostly stuck with filtering on data that's returned. I can look into this more once you get back with some examples

[2018-11-15 05:09] ArielGreiner commented on #714
For example: col_downstream(name = "Insecta", downto = "order") shows 44 orders but when I access the catalogue of life database online (http://www.catalogueoflife.org/col/browse/tree?cd4c8e371d3bfcc97dbe0b94fe9e3507) and turn off 'extinct species' I only see 28 orders. I looked up some of the extra orders and they were listed as being extinct.

I was assuming since there is an option on the websi

[2018-11-15 21:10] sckott commented on #714
thanks, i'll have a look at that example.

not necessarily so, but I do see that extinction status is in the results now - not sure if it was always there or not ...

[2018-11-16 14:57] ArielGreiner commented on #714
@sckott Thank you! That worked :) Much appreciated!

[2018-11-16 17:41] sckott commented on #714
@ArielGreiner glad it works

[2018-11-16 17:41] #714 closed

[2018-11-16 20:59] sckott commented on #713
blah, intermediate not working, fix first

[2018-11-16 21:16] #713 closed

[2018-11-16 21:31] #712 closed

[2018-11-16 21:39] sckott commented on #676
working now

[2018-11-16 21:39] #676 closed

[2018-11-16 21:40] sckott commented on #706
closing due to no response

[2018-11-16 21:40] #706 closed

[2018-11-16 21:44] sckott commented on #708
should be fixed, clsoing

[2018-11-16 21:44] #708 closed

[2018-11-16 21:50] sckott opened #717 "eol_search() bug"
format of API response changed

[2018-11-16 22:29] noamross commented on #695
This is definitely in the "need an intern/volunteer to make it happen" category.

[2018-11-16 22:36] sckott commented on #598
closing for now, no docs in sight

[2018-11-19 22:56] sckott opened #718 "EOL: maybe completely remove the data source from taxize"
The API is a hot mess right now, many routes completely gone, docs are not helpful, seem to be missing routes, no examples, there seems to be some new API, but it's pretty hard to grok and don't have access yet anyway.

[2018-11-19 23:07] sckott commented on #718
if fixes not in by beginning of next week (2018-11-26) pull out EOL

[2018-11-27 22:06] sckott commented on #718
notes:

- can't fix `get_eolid` right now because the `hierarchy_entries` route is completely gone
- can't fix `classification.eolid` right now because the `hierarchy_entries` route is completely gone

[2018-11-27 23:21] #717 closed

[2018-11-29 22:58] sckott opened #719 "Improve readability in `get_ids` - related to other `get_` functions"
would be good to:

- make it much more clear when a prommpt is given what data source is under consideration - possibly using https://github.com/r-lib/cli
- the first message __Retrieving data for taxon '...'__ is given twice, just do once
- maybe put horizontal lines between each species / data source - might be too much

-------

[code]

[code]

[2018-11-30 18:46] sckott opened #720 "rank_ref: add additional entries"
EOL now has:

- `clade` - equivalent to `no rank` that NCBI uses
- `megacohort`
- `supercohort`
- `cohort`
- `subcohort`
- `infracohort`

cohort ranks are below division but above order

https://en.wikipedia.org/wiki/Taxonomic_rank#All_ranks

[2018-11-30 21:56] #720 closed

[2018-12-01 21:27] hlapp opened #722 "remote API call throttling is broken, at least for NCBI"
At least this is the case for NCBI Entrez. Based on looking through the code, NCBI API calls are variously _followed_ by a wait (why wait after the call's already been made??), have no wait preceding or following at all, and do not implement any wait whatsoever if an ENTREZ API key is present.

Perhaps NCBI changed within the last day or two how they measure API call rate, but as a matter of fact

[2018-12-02 03:34] sckott opened #723 "Standardize parameters across functions"
the same types of inputs to functions are sometimes specified with different function param names. we should standarize them where possible. here's the candidates:

- scientific names (aka taxonomic)
- common names (aka vernacular)
- taxon ids
- `---`: stays the same

new param names are:

- `sci`: scientific name
- `com`: common name
- `id`: name identifier
- `sci_com`: scientific name or common